			{% include header %}
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{{ path }}/FB-Admin/index.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Categories</a></li>
			</ul>

			<div class="row-fluid">	

				<div class="box span3">
					<div class="box-content">
						<form method="POST" action="/Libraries/categories.php" name="add_category_form">
							<label>Category to add: </label>
							<div class="controls">
								<input type="text" name="name" id="name" placeholder="name" required>
							</div>
							<div class="control-group">
								<label class="control-label" for="selectError">Parent category if any:</label>
								<div class="controls">
									<select id="selectParent" name="selectParent">
										{% for category in menu %}
							       				<option value="{{ category.id }}"> {{ category.name }}</option>		    
										{% endfor %}
									</select>
								</div>
								<input type="hidden" name="operation" value="add">
								<input type="submit" name="add_cate" class="btn btn-small btn-primary" />
							</div>
						</form>
						<p> first remove sub-categories, or refresh page after removing main one </p>
					</div>
				</div>
				<div class="box span8">
					<div class="box-header">
						<h2>Current categories:</h2>
					</div>
					<div class="box-content">
							<br>
							{% for category in menu %}
								{% if category.parent_id == 0 and category.id != 0 %}
									<div class="box blue span11">
										<div class="box-header">
											<h2></span>{{ category.name }}</h2>
											<div class="box-icon">
												<a onclick="modal({{ category.id }}, 0);"><i class="halflings-icon white wrench"></i></a>
												<a onclick="callFunction({{ category.id }});" class="btn-close"><i class="halflings-icon white remove"></i></a>
											</div>
										</div>
									</div>
									{% for subcat in menu %}
										{% if category.id == subcat.parent_id %}
											<div class="box green span11">
												<div class="box-header">
													<h2></span>{{ subcat.name }}</h2>
													<div class="box-icon">
														<a onclick="modal({{ subcat.id }},{{ category.id }});"><i class="halflings-icon white wrench"></i></a>
														<a onclick="callFunction({{ subcat.id }});" class="btn-close"><i class="halflings-icon white remove"></i></a>
													</div>
												</div>
											</div>
											{% for doublesub in menu %}
												{% if (subcat.id == doublesub.parent_id and doublesub.parent_id != 0) %}
													<div class="box red span7">
														<div class="box-header">
															<h2></span>{{ doublesub.name }}</h2>
															<div class="box-icon">
																<a onclick="modal({{ doublesub.id }},{{ subcat.id }});"><i class="halflings-icon white wrench"></i></a>
																<a onclick="callFunction({{ doublesub.id }});" class="btn-close"><i class="halflings-icon white remove"></i></a>
															</div>
														</div>
													</div>
													{% for triplesub in menu %}
														{% if (doublesub.id == triplesub.parent_id and triplesub.parent_id != 0) %}
															<div class="box yellow span5">
																<div class="box-header">
																	<h2></span>{{ triplesub.name }}</h2>
																	<div class="box-icon">
																		<a onclick="modal({{ triplesub.id }},{{ doublesub.id }});"><i class="halflings-icon white wrench"></i></a>
																		<a onclick="callFunction({{ triplesub.id }});" class="btn-close"><i class="halflings-icon white remove"></i></a>
																	</div>
																</div>
															</div>
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endfor %}
										{% endif %}
										

									{% endfor %}
								{% endif %}
							{% endfor %}
						</div>
				</div>
				<div class="clearfix"></div>
								
			</div><!--/row-->
			<div id="controller" ng-app="cat" ng-controller="ctrl">
				<div class="modal hide fade" id="editor">
					<div class="modal-header">
						<button type="button" class="close" ng-click="clearData()" data-dismiss="modal">×</button>
						<h3>Settings</h3>
					</div>
					<form method="post" action="/Libraries/categories.php" name="editor">
						<div class="modal-body">
							<p>
								<div class="controls">
									<input type="text" name="newname" id="newname" placeholder="Enter new name of category">
								</div><br>
								<label>Change parent:</label>
								<select name="updateParent" id="updateParent">
									{% for category in menu %}
								       	<option value="{{ category.id }}"> {{ category.name }}</option>		    
									{% endfor %}
								</select>
								<input type="hidden" ng-model="cat_id" id="modal_id" name="modal_id" value="">
								<div><h6>Fields for category:</h6>
									<table>
										<tr ng-repeat="key in fieldKeys">
								            <td>{[{key}]} : </td>
								            <td>{[{fields[key]}]}</td>
								            <td><button type="button" class="close" ng-click="removeField($index)">×</button></td>
							        	</tr>
							        </table>
						        </div><br>
						        <div><h6>Add a field</h6>
							        key: <input type="text" ng-model="keyToAdd" /><br />
							        value: <input type="text" ng-model="valueToAdd" />
							        <input type="button" value="Add Field" ng-click="addField()"></input>
							    </div>
							</p>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn" ng-click="clearData()" data-dismiss="modal">Close</a>
							<input type="submit" href="#" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
       

	</div><!--/.fluid-container-->
			<!-- end: Content -->
            <script src="{{ path }}/js/cat.js"></script>
			{% include footer %}