
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2015 <a alt="Bootstrap_Metro_Dashboard">FlyBuy</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->


        <script src="{{ path }}/Templates/js/jquery-2.1.3.min.js"></script>
		<script src="{{ path }}/Templates/admin/js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.ui.touch-punch.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/modernizr.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/bootstrap.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.cookie.js"></script>
	
		<script src='{{ path }}/Templates/admin/js/fullcalendar.min.js'></script>
	
		<script src='{{ path }}/Templates/admin/js/jquery.dataTables.min.js'></script>

		<script src="{{ path }}/Templates/admin/js/excanvas.js"></script>
	<script src="{{ path }}/Templates/admin/js/jquery.flot.js"></script>
	<script src="{{ path }}/Templates/admin/js/jquery.flot.pie.js"></script>
	<script src="{{ path }}/Templates/admin/js/jquery.flot.stack.js"></script>
	<script src="{{ path }}/Templates/admin/js/jquery.flot.resize.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.chosen.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.uniform.min.js"></script>
		
		<script src="{{ path }}/Templates/admin/js/jquery.cleditor.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.noty.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.elfinder.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.raty.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.iphone.toggle.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.gritter.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.imagesloaded.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.masonry.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.knob.modified.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/jquery.sparkline.min.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/counter.js"></script>
	
		<script src="{{ path }}/Templates/admin/js/retina.js"></script>

		<script src="{{ path }}/Templates/admin/js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
