{% include header %}
<div id="content" ng-app="app" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{{ path }}/FB-Admin/index.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Dashboard</a></li>
			</ul>
			<div ng-controller="msg_controller" ng-init="addUser({{user_id}});getList();" class="row-fluid">
				
				<div class="span7">
					<h1>Inbox<div style="float:right;"><a href="#" ng-click="modal_toggle()"><i class="glyphicons-icon message_plus"></i></a></div></h1>
						<ul class="messagesList">
							<div ng-repeat="c in list">
								<li style="padding-top: 10px; padding-bottom: 10px;"><a ng-click="getConversation(c.id, $index)">
									<span class="from"><b>{[{ c.name }]}</b></span><span class="title"><div ng-show="c.seen == 1"><b>(New)</b></div>{[{c.message}]}</span><span class="date">{[{c.date}]}</span></a>
								</li>
							</div>
						</ul>
						
				</div>
				<div class="span5 noMarginLeft" >
					
					<div name="message" class="message dark">
					<div ng-show="show == 1">
						<div style="max-height: 700px !important; overflow-y: scroll !important; border-bottom-style: solid; border-bottom-color:gray" scroll-glue>
							<div ng-repeat="message in conversations | orderBy: '+id'">
								<div class="alert alert-success">
									<div style="float:right;">{[{message.date}]}</div>
									<strong>{[{message.sender}]}</strong>: {[{message.msg}]}
								</div>
							</div>
						</div>
						
								<fieldset>
									<textarea tabindex="3" class="input-xlarge span12" id="msg" name="body" rows="5" ng-model="msg_text" placeholder="Click here to reply"></textarea>
									<div class="actions">										
										<button tabindex="3" ng-disabled="!msg_text.length" ng-click="send_msg()" class="btn btn-success">Send message</button>	
									</div>
								</fieldset>
						</div>
					</div>	
				</div>

				<div ng-show="m">
					<div class="modal">
						<div class="modal-header">
							<button type="button" class="close" ng-click="modal_toggle()">×</button>
							<h3>New message</h3>
						</div>
							<div class="modal-body">
								<p>
									<div class="controls">
										<input type="text" name="message_to" ng-model="new_msg_to" placeholder="To:">
									</div><br>

									<div class="control-group hidden-phone">
										<label class="control-label" for="message_text">Message</label>
										<div class="controls">
											<textarea name="message_text" ng-model="new_msg_txt" rows="10"></textarea>
										</div>
									</div>
									<div>{[{stat_msg}]}</div>
									
								</p>
							</div>
							<div class="modal-footer">
								<a href="#" class="btn" ng-click="modal_toggle()">Close</a>
								 <input type="button" ng-click="send_new_msg()" class="snd_btn" value="Send"/>
							</div>
					</div>
				</div>

			</div>
			
		</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.2/src/scrollglue.js"></script>
<script src="{{ path }}/js/main_app.js"></script>
<script src="{{ path }}/js/msg_app.js"></script>
<script src="{{ path }}/js/ngBootstrap.js"></script>
	{% include footer %}