<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Admin-panel</title>

    <link rel="stylesheet" type="text/css" href="{{ path }}/CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ path }}/CSS/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700">

    <script src="{{ path }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{ path }}/js/sha512.js"></script>
	<script type="text/javascript" src="{{ path }}/js/forms.js"></script>
</head>

<body>

  <div class='form animated flipInX'>
  <h2>Admin panel login</h2>

  <form action="/Libraries/admin_login_handle.php" method="post" name="login_form">
    <input type='text' name='email' placeholder='Email' required/>
    <input type='password' name='password' id='password' placeholder='Password' required/>
    {{ error }}<br>
 	<button class='animated infinite pulse' onclick='loginhash(this.form, this.form.password);'>Login</button>
  </form>
</div>


</body>
</html>