{% include header %}
<div id="content" class="span10" ng-app="validations" ng-controller="validations" ng-init="init()">


    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{ path }}/FB-Admin/index.php">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Pending Validations</a></li>
    </ul>

    <div class="row-fluid">

        <div class="span7">
            <h1>Pending Validations</h1>

            <ul class="messagesList">
                <li>
                    <span class="from"> Company ID
                    </span>
                    <span class="title">
                        Validation Type
                    </span>
                </li>

                <li ng-repeat="element in list track by $index" ng-click="select_element(element.pending_id, element.user_id, element.validation_method, $index)">
                    <span class="from"> {[{ element.user_id }]}
                    </span>
                    <span class="title">
                        <span ng-show="element.validation_method == 0" class="label label-success">VAT VALIDATION</span>
                        <span ng-show="element.validation_method == 1" class="label label-warning">Image validation</span>
                    </span>
                </li>

            </ul>

        </div>

        <div class="span5 noMarginLeft" ng-show="specified != undefined">

            <div class="message dark">

                <div class="header" ng-show="specified != undefined" >
                    <h1>Validation Info</h1>
                    <h3>Submited informations:</h3>
                    <div ng-repeat="data in specified">
                        <p> {[{ data }]} </p>
                    </div>

                </div>

                <div class="content" >
                    <h3>Submited proofs:</h3>
                    <div ng-show="selected_method == 0">
                        <p>Method: VAT Number</p>
                        <div ng-repeat="data in proof">
                            <p> VAT: {[{ data.data }]}</p>
                        </div>
                    </div>
                    <div ng-show="selected_method == 1">
                        <p>Method: Image uplod</p>
                        <div ng-repeat="data in proof">
                            <div ng-repeat="pr in data track by $index">
                                <p><a href="https://res.cloudinary.com/{{ cloudinary }}/image/upload/{[{ pr }]}.png">Image {[{ $index+1 }]} Link</a> </p>
                            </div>
                        </div>
                    </div><br>

                    <div class="control-group">
                        <label class="control-label">Answer</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="optionsRadios" ng-model="answer" id="optionsRadios1" value="0" checked="">
                                Approve this validation.
                            </label>
                            <div style="clear:both"></div>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" ng-model="answer" id="optionsRadios2" value="1">
                                Disapprove this validation.
                            </label>
                        </div>
                    </div>
                </div>

                <fieldset ng-show="answer == 1">
                    <textarea tabindex="3" class="input-xlarge span12" ng-model="answer_msg" id="message" name="body" rows="12" placeholder="Reason of dissaprovement that is going to be mailed to user."></textarea>
                </fieldset>

                <div class="actions">
                    <button tabindex="3" type="submit" ng-click="send_answer()" ng-disabled="!answer" class="btn btn-success">Send message</button>
                </div>

            </div>

        </div>

    </div>



</div><!--/.fluid-container-->

<!-- end: Content -->
</div><!--/#content.span10-->

<script src="{{path}}/js/pending_validations.js"></script>
	{% include footer %}