			{% include header %}
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{{ path }}/FB-Admin/index.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Statistics</a></li>
			</ul>
			
			<div class="row-fluid">	
				<a style="margin:0 auto; float:none;" class="quick-button metro yellow span4">
					<i class="icon-group"></i>
					<p>Users: {{ count_users }}</p>
				</a>
			</div><!--/row--><br>
			<div class="clearfix"></div>

			<div class="row-fluid">
					<a style="float:left;" class="quick-button metro blue span3">
						<i class="icon-group"></i>
						<p>Buyers: {{ buyer_count }}</p>
					</a>
					
					<a style="float: right;" class="quick-button metro red span3">
						<i class="icon-group"></i>
						<p>Both: {{ both_count }}</p>
					</a>
					<a style="float:none;margin:0 auto;" class="quick-button metro green span3">
						<i class="icon-group"></i>
						<p>Suppliers: {{ supplier_count }}</p>
					</a>
				<br>
			</div>

			<div class="clearfix"></div>
			<div class="row-fluid">
				<a style="margin:0 auto; float:none;" class="quick-button metro purple span4">
					<i class="icon-barcode"></i>
					<p>Products: {{ products_count }}</p>
				</a><br>
			</div>
			<div class="clearfix"></div>

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon edit"></i><span class="break"></span>Search box</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<label class="control-label" for="typeahead">What are we looking for?</label>
							<select id="selectSearch" name="selectSearch">
								<option value="user">Users</option>
								<option value="company">Company</option>
								<option value="product">Product</option>
							</select>
							<input type="text" id="searchField" name="searchField" placeholder="Search value..." required/>
							<input type="button" onclick="search();" id="adminSearch" value="Search" class="btn btn-small btn-primary" />
						</div>
					<div id="searchResult">
					</div>
				</div>
			</div>

			<script type="text/javascript">

			function search()
			{
				var searchType = document.getElementById('selectSearch').value;
				var searchQ = document.getElementById('searchField').value;
				var xmlhttp;

				if (window.XMLHttpRequest)
					xmlhttp=new XMLHttpRequest();
				else
					xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");

				xmlhttp.onreadystatechange=function()
				{
					if (xmlhttp.readyState==4 && xmlhttp.status==200)
				    	document.getElementById("searchResult").innerHTML=xmlhttp.responseText;
				}

				xmlhttp.open("GET","/Libraries/search.php?adminSearch=1&query="+searchQ+"&type="+searchType, true);
				xmlhttp.send();
			}
			</script>
			
			{% include footer %}