<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">BADGES - HOW TO EARN THEM</h3>
                </div>
                <div class="panel-body panel-content panel-content-terms">
                    <div class="row">
                        <div class="col-md-12 badges-text">
                            Here is a list of all posible badges that you can earn on FlyBuy. Keep in mind that badges are so important for suppliers. More badges - more trust buyers get in you. Read how to earn each badge.
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="badge-howto-wrap">
                                    <img src="{[{ path }]}images/badges/verified-big.png" alt=""/>
                                </div>
                            </div>
                            <div class="col-md-10 badge-explanation">
                                <h3>VERIFIED SUPPLIER</h3>
                                <p>
                                    Verify your email address and get verified supplier badge. This is one of the most important badges.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="badge-howto-wrap">
                                    <img src="{[{ path }]}images/badges/1-year-big.png" alt=""/>
                                </div>
                            </div>
                            <div class="col-md-10 badge-explanation">
                                <h3>BADGE PER YEAR</h3>
                                <p>
                                    Earn badge after each year being supplier on FlyBuy.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="badge-howto-wrap">
                                    <img src="{[{ path }]}images/badges/fast-shiping-big.png" alt=""/>
                                </div>
                            </div>
                            <div class="col-md-10 badge-explanation">
                                <h3>FAST SUPPLIER</h3>
                                <p>
                                    This badge will get every supplier who delivers their products in time.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="badge-howto-wrap">
                                    <img src="{[{ path }]}images/badges/quality-big.png" alt=""/>
                                </div>
                            </div>
                            <div class="col-md-10 badge-explanation">
                                <h3>QUALITY PRODUCT</h3>
                                <p>
                                    All suppliers who sell high quality products will earn this badge.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="badge-howto-wrap">
                                    <img src="{[{ path }]}images/badges/high-rated-big.png" alt=""/>
                                </div>
                            </div>
                            <div class="col-md-10 badge-explanation">
                                <h3>HIGHLY RATED SUPPLIER</h3>
                                <p>
                                    If you have 100% rating from reviews you’ll earn this badge.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>