<!-- ////////////////////////////////////////////////-->
<!--SEARCH BAR-->
<!-- ////////////////////////////////////////////////-->

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="input-group search-bar-wrap" ng-controller="search_bar">

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-search" data-toggle="dropdown" ng-bind="selectedType" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu dropdown-categories" role="menu">
                        <li ng-repeat="type in searchTypes"><a href="" ng-click="selectType(type);">{[{ type }]}</a></li>
                    </ul>
                </div><!-- /btn-group -->

                <input type="text" class="form-control search-bar" ng-enter="search()" ng-model="searchQuery" aria-label="..." placeholder="Search for...">

                 <span class="input-group-btn">
                    <button class="btn btn-default search-bar-btn" ng-click="search();" type="button">SEARCH</button>
                 </span>

            </div><!-- /input-group -->

        </div><!-- /.col-lg-12 -->
    </div>
</div>

<!-- ////////////////////////////////////////////////-->
<!--SEARCH CONTENT BAR-->
<!-- ////////////////////////////////////////////////-->

<div class="container" ng-show="id == undefined">
    <div class="row">
        <div class="col-md-12">
            <div class="search-results-info">
                <h2>YOUR SHOPPING CART</h2>
                <p>Please login to see cart.</p>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="accType == 0">
    <div class="row">
        <div class="col-md-12">
            <div class="search-results-info">
                <h2>YOUR SHOPPING CART</h2>
                <p>Your account type is not "buyer".</p>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-hide="id == undefined || accType == 0" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <div class="search-results-info">
                <h2>YOUR SHOPPING CART: <span> {[{ cart_count }]} items </span> </h2>
                <p><a href="/"> Return for shoping</a></p>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="product in products" ng-init="totalCalc(product.price)" ng-show="$index < (current_pagination * 5) && $index >= (current_pagination -1) * 5">
        <div class="col-md-12">
            <div class="cart-product-wrap">
                <div class="col-md-3">
                    <div class="product-image">
                        <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_160,h_160,c_fill,g_center/{[{ product.pictures[0] }]}.png" alt=""/>
                    </div>

                </div>
                <div class="col-md-9">
                    <a href="/#!/product/{[{product.id}]}"><h5 ng-bind="product.name"></h5></a>

                    <table class="table-cart-productinfo" ng-repeat="variation in product.variations" ng-show="$index == 0">
                        <tr ng-repeat="entry in variation" ng-show="$index < 10">
                            <td ng-bind="entry.data"></td>
                            <td ng-bind="entry.value"></td>
                        </tr>

                    </table>

                    <!--div class="row">
                        <div class="col-md-3 product-form">
                            <div class="input-group">
                                <label>Quantity:</label>
                                <input type="text" class="form-control" placeholder="Quantity">
                            </div>
                        </div>
                        <div class="col-md-3 product-form">
                            <label>Variation</label>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Variation default
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Variation 1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Variation 2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Variation 3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Variation 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div-->

                </div>

                <div class="col-md-12">
                    <div class="cart-productfooter col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="" ng-click="removeItem(product.id, $index)">REMOVE</a>
                            </div>

                            <div class="col-md-6">
                                <div class="cart-product-price">
                                    <h4>Price:</h4>
                                    <h2>{[{ product.price + " " + product.currency }]}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-offset-4 col-md-6">
        <nav>
            <pagination total-items="cart_count" items-per-page="5" page="current_pagination" max-size="5" class="pagination pagination-pages" boundary-links="true"></pagination>
        </nav>
    </div>

    <div class="row" ng-show="cart_count != 0">
        <div class="col-md-12">
            <div class="cart-total">
                <div class="cart-total-header">
                    <div class="col-md-6">
                        <h2>TOTAL COST</h2>
                    </div>
                    <div class="col-md-6 remove-from-cart">
                        <a href="" ng-click="emptyCary()">REMOVE ALL</a>
                    </div>
                </div>
                <div class="cart-total-footer col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table-cart-productinfo">
                                <tr>
                                    <td>Total Products:</td>
                                    <td ng-bind="cart_count"></td>
                                </tr>
                                <tr>
                                    <td>Products Total:</td>
                                    <td ng-bind="total"></td>
                                </tr>
                                <tr>
                                    <td>Shipping Price:</td>
                                    <td>Not included</td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <div class="cart-product-price">
                                <h4>Price:</h4>
                                <h2 ng-bind="total"></h2>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>