
<!-- ////////////////////////////////////////////////-->
<!--SEARCH BAR-->
<!-- ////////////////////////////////////////////////-->

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="input-group search-bar-wrap" ng-controller="search_bar">

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-search" data-toggle="dropdown" ng-bind="selectedType" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu dropdown-categories" role="menu">
                        <li ng-repeat="type in searchTypes"><a href="" ng-click="selectType(type);">{[{ type }]}</a></li>
                    </ul>
                </div><!-- /btn-group -->

                <input type="text" class="form-control search-bar" ng-enter="search()" ng-model="searchQuery" aria-label="..." placeholder="Search for...">

                 <span class="input-group-btn">
                    <button class="btn btn-default search-bar-btn" ng-click="search();" type="button">SEARCH</button>
                 </span>

            </div><!-- /input-group -->

        </div><!-- /.col-lg-12 -->
    </div>
</div>


<!-- ////////////////////////////////////////////////-->
<!--SEARCH BAR-->
<!-- ////////////////////////////////////////////////-->

<div class="container" ng-init="init()">
    <div class="row">

        <div class="col-md-3">
            <div class="category-list-wrap">
                <div class="category-list-header">
                    <h2>CATEGORIES</h2>
                </div>

                <div class="category-list">

                    <div class="panel-group" id="accordion" role="tablist">
                        <accordion close-others="true">
                            <accordion-group heading="{[{ category.name }]}" ng-repeat="category in category_list track by category.id" ng-click="getSubCat(category.id)">
                                <accordion close-others="true">
                                    <div ng-show="loadingSub">
                                        <div class="loader">
                                            <div id="circularG">
                                                <div id="circularG_1" class="circularG">
                                                </div>
                                                <div id="circularG_2" class="circularG">
                                                </div>
                                                <div id="circularG_3" class="circularG">
                                                </div>
                                                <div id="circularG_4" class="circularG">
                                                </div>
                                                <div id="circularG_5" class="circularG">
                                                </div>
                                                <div id="circularG_6" class="circularG">
                                                </div>
                                                <div id="circularG_7" class="circularG">
                                                </div>
                                                <div id="circularG_8" class="circularG">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <accordion-group ng-repeat="sub in sub1 track by sub.id" heading="{[{ sub.name }]}" ng-click="selectLinks(sub.id)" ng-hide="loadingSub">
                                        <div ng-hide="loadingLinks" compile-data template="{[{ links }]}">

                                        </div>
                                        <div ng-show="loadingLinks">
                                            <div class="loader">
                                                <div id="circularG">
                                                    <div id="circularG_1" class="circularG">
                                                    </div>
                                                    <div id="circularG_2" class="circularG">
                                                    </div>
                                                    <div id="circularG_3" class="circularG">
                                                    </div>
                                                    <div id="circularG_4" class="circularG">
                                                    </div>
                                                    <div id="circularG_5" class="circularG">
                                                    </div>
                                                    <div id="circularG_6" class="circularG">
                                                    </div>
                                                    <div id="circularG_7" class="circularG">
                                                    </div>
                                                    <div id="circularG_8" class="circularG">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </accordion-group>
                        </accordion>
                    </div>

                </div>
            </div>
        </div>

        <!-- CATEGORY LIST-->
        <div class="col-md-9">
            <div ng-show="show_loading">
                <div class="loader">
                    <div id="circularG">
                        <div id="circularG_1" class="circularG">
                        </div>
                        <div id="circularG_2" class="circularG">
                        </div>
                        <div id="circularG_3" class="circularG">
                        </div>
                        <div id="circularG_4" class="circularG">
                        </div>
                        <div id="circularG_5" class="circularG">
                        </div>
                        <div id="circularG_6" class="circularG">
                        </div>
                        <div id="circularG_7" class="circularG">
                        </div>
                        <div id="circularG_8" class="circularG">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 clear-paddings" ng-show="!show_loading">
                <div ng-show="haveProducts">
                    <div ng-repeat="product in items track by $index">
                        <div ng-if="$index < 10">
                            <div class="products-item">
                                <div class="col-md-2">
                                    <a href="/#!/product/{[{ product.id }]}" class="product-photo">
                                        <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_160,h_160,c_fill,g_center/{[{ product.pictures[0] }]}.png" alt=""/>
                                    </a>
                                </div>
                                <div class="col-md-10 products-list-info">

                                    <a href="/#!/product/{[{ product.id }]}">
                                        <h3>{[{ product.name }]}</h3>
                                    </a>
                                    <div ng-repeat="variation in product.variations" ng-if="$index == 0">
                                        <div ng-repeat="info in variation" ng-if="$index <= 10">
                                            <div class="col-md-6 clear-paddings" ng-if="$index < 5">
                                                <p><span>{[{ info.data }]}:</span> {[{ info.value | limitTo: 19 }]}{[{info.value.length < 19 ? '' : '...'}]}</p>
                                            </div>
                                            <div class="col-md-6 clear-paddings" ng-if="$index >= 5">
                                                <p><span>{[{ info.data }]}:</span> {[{ info.value | limitTo: 19 }]}{[{info.value.length < 19 ? '' : '...'}]}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-list-price">
                                        <p>Price:</p>
                                        <h3>{[{ product.price }]} <span>{[{ product.currency }]}</span></h3>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-offset-4 col-md-6" ng-show="totalProducts > 10">
                        <nav>
                            <pagination total-items="totalProducts" items-per-page="10" page="page" max-size="5" class="pagination pagination-pages" boundary-links="true" rotate="true"></pagination>
                        </nav>
                    </div>
                </div>
                <div ng-show="!haveProducts">
                    <div class="alert alert-warning" role="alert">There are no products in selected categories.</div>
                </div>
            </div>
        </div>



    </div>
</div>

