{% include header %}
<style>
    .animate.ng-enter {
        -moz-transition: ease-out all 0.1s 0.2s;
        -o-transition: ease-out all 0.1s 0.2s;
        -webkit-transition: ease-out all 0.1s 0.2s;
        transition: ease-out all 0.1s 0.2s;
    }


    .animate.ng-leave {
        -moz-transition: 0.1s ease-out all;
        -o-transition: 0.1s ease-out all;
        -webkit-transition: 0.1s ease-out all;
        transition: 0.1s ease-out all;
    }

    .animate.ng-enter,
    .animate.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }

    .animate.ng-leave,
    .animate.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }
</style>
    <div ng-controller="globalCtrl">
        <div class="hidden">
            <input class="hidden" id="cloudinary" value="{{ cloudinary }}">
            <input class="hidden" id="path" value="{{ path }}">
            <input class="hidden" id="status" value="{{ status }}">
            <input class="hidden" id="acc_type" value="{{ accType }}">
            <input class="hidden" id="transpact" value="{{ transpact }}">
            <input class="hidden" id="img_tag" value='{{ upload_tag | raw }}'>
            <div id="img-top" class="hidden">
                {{ upload_tag | raw }}
            </div>
        </div>
        <ng-view class="animate fadeInRight"></ng-view>
    </div>

{% include footer %}