<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">Contact us</h3>
                </div>
                <div class="panel-body panel-content panel-content-terms">
                    <div class="row">
                        <div class="col-md-5">
                            <form name="contact_form" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label>Your name:</label>
                                            <input type="text" class="form-control" placeholder="Enter your name here" ng-model="sender" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label>Your e-mail address:</label>
                                            <input type="email" class="form-control" placeholder="Enter your e-mail address here" ng-model="mail" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label>Subject:</label>
                                            <input type="text" class="form-control" placeholder="Write message subject here" ng-model="subject" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label>Your message:</label>
                                            <textarea class="textarea-normal" ng-model="msg" placeholder="Write your text here"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {[{ status }]}
                                        <div class="pull-right">
                                            <button type="button" ng-disabled="!contact_form.$valid" ng-click="sendMail()" class="btn btn-primary btn-buy">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <table class="contact-us-table">
                                <tr>
                                    <td>Company name:</td>
                                    <td>FlyBuy Limited</td>
                                </tr>
                                <tr>
                                    <td>Company number:</td>
                                    <td>09543602 (registered with Companies House in the UK)</td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td>Goodlass Road, Garston, Liverpool, L24</td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td>Goodlass Road, Garston, Liverpool, L24</td>
                                </tr>
                                <tr>
                                    <td>Phone::</td>
                                    <td>01928897648</td>
                                </tr>
                                <tr>
                                    <td>Skype:</td>
                                    <td>flybuyworld</td>
                                </tr>
                            </table>
                            <table class="contact-us-table">
                                <tr>
                                    <td>EMAIL:</td>
                                </tr>
                                <tr>
                                    <td>Services:</td>
                                    <td>services@flybuy.world</td>
                                </tr>
                                <tr>
                                    <td>Sales:</td>
                                    <td>sales@flybuy.world</td>
                                </tr>
                            </table>
                            <table class="contact-us-table">
                                <tr>
                                    <td>COMPANIES HOUSE: </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td>Crownway, Cardiff, cf143uz , t:03031234500</td>
                                </tr>
                                <tr>
                                    <td>E-email:</td>
                                    <td>enquiries@companieshouse.gov.uk </td>
                                </tr>
                                <tr>
                                    <td>Twitter:</td>
                                    <td>@companieshouse</td>
                                </tr>
                                <tr>
                                    <td>Website:</td>
                                    <td>www.companieshouse.gov.uk</td>
                                </tr>
                            </table>

                            <div class="row">
                                <div class="col-md-12 contact-us-image">
                                    <img src="{[{path}]}images/company-building.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>