
<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>SOCIAL NETWORKS</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/pages/FlyBuyWorld/1589919101266656">
                            <img src="{{ path }}images/facebook-footer.png" alt=""/>
                            Like us on Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/flybuyworld">
                            <img src="{{ path }}images/twitter-footer.png" alt=""/>
                            Follow us on Twitter
                        </a>
                    </li>
                    <li>
                        <a href="/#!/soon">
                            <img src="{{ path }}images/instagram-footer.png" alt=""/>
                            Follow us on Instagram
                        </a>
                    </li>
                    <li>
                        <a href="/#!/soon">
                            <img src="{{ path }}images/linkedin-footer.png" alt=""/>
                            Follow us on LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="/#!/soon">
                            <img src="{{ path }}images/google-footer.png" alt=""/>
                            Join us on Google Plus
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>RULES AND POLICIES</h3>
                <ul>
                    <li><a href="/#!/terms">Terms and conditions</a></li>
                    <li><a href="/#!/ipr">IPR policy</a></li>
                    <li><a href="/#!/privacy">Privacy policy</a></li>
                    <li><a href="/#!/product-policy">Product Listing policy</a></li>
                    <li></li>
                    <!--li><a href="#">Making Payment</a></li>
                    <li><a href="#">Reset password</a></li>
                    <li><a href="#">Buyer protection</a></li-->
                </ul>
            </div>
            <div class="col-md-4">
                <h3>CUSTOMERS SERVICE</h3>
                <ul>
                    <li><a href="/#!/register">Create an Account</a></li>
                    <li><a href="/#!/soon">Help Centre</a></li>
                    <li><a href="/#!/soon">Give us your feedback</a></li>
                    <li><a href="/#!/contact">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="footer-copyrights">
                    <p>©2015 FlyBuy. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- SCRIPTS GOES HERE-->

<!--[if !IE]> -->
<script type="text/javascript" src="{{ path }}js/jquery-2.1.3.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<![endif]-->
<script src="{{ path }}js/bootstrap.min.js"></script>
<script src="{{ path }}js/jquery.bxslider.js"></script>


<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-messages.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
<script type="text/javascript" src="js/cloudinary/jquery.ui.widget.js"></script>
<script type="text/javascript" src="js/cloudinary/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="js/cloudinary/jquery.fileupload.js"></script>
<script type="text/javascript" src="js/cloudinary/jquery.cloudinary.js"></script>
<script type="text/javascript" src="js/social_share.js"></script>
<script src="js/ngBootstrap.js"></script>
<script src="js/main_app.js?v=1.0"></script>
<script src="js/reg_app.js?v=1.0"></script>
<script src="js/msg_app.js?v=1.0"></script>
<script src="js/product_app.js?v=1.0"></script>
{{ cloudinary_config | raw }}
<!--script type="text/javascript" src="js/compiled.min.js?v=1.0"></script-->
<script type="text/javascript" src="js/sha512.js?v=1.0"></script>
<script type="text/javascript" src="js/forms.js?v=1.0"></script>
<script src="js/homepage_app.js?v=1.0"></script>
<script src="js/search_bar.js?v=1.0"></script>
<script src="js/searchpage_app.js?v=1.0"></script>
<script src="js/categories_app.js?v=1.0"></script>
<script src="js/new_product_app.js?v=1.0"></script>
<script src="js/inbox_app.js?v=1.0"></script>
<script src="js/profile_app.js?v=1.0"></script>
<script src="js/cart_app.js?v=1.0"></script>
<script src="js/prof-edit_app.js?v=1.0"></script>
<script src="js/transpact_app.js?v=1.0"></script>
<script src="js/contact_app.js?v=1.0"></script>
<script src="js/payment_methods_app.js?v=1.0"></script>
</body>
</html>