<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ path }}css/compiled.css?v=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ path }}css/animate.css?v=1.0" />
    <meta name="fragment" content="!">
    <meta name="description" content="{[{ meta_description }]}">
    <meta name="keywords" content="{[{ meta_keywords }]}">
    <meta name="google-site-verification" content="aZ80uSmrO6tXaBpzEnlwKaTdevHU_XrQFUWnCUNJ3jM" />
    <!--Facebook Meta Tags-->
    <meta property="og:title" content="{[{ title }]}" />
    <meta property="og:url" content="{{ address }}/{[{ contentUrl }]}" />
    <!--meta property="og:img" content="{[{ thumb_img }]}" /-->
    <meta property="og:description" content="{[{ meta_description }]}" />

<link rel="icon" type="image/png" href="{{address}}/Images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{address}}/Images/favicon-16x16.png" sizes="16x16" />

    <base href="/">
    <title ng-bind="title">FlyBuy </title>
</head>
<body ng-cloak class="ng-cloak">

<div class="header-profile header-profile-notifs" ng-if="current_page != '/services'">
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <div class="dropdown dropdown-help">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HELP
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#">FAQ</a></li>

                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>
<hr class="top-hr" ng-if="current_page != '/services'">

<div class="header-profile header-profile-wrap" ng-if="current_page != '/services'">
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo">
                <a href="/#!/home">
                    <img src="{{ path }}images/logo.png" alt="flybuy logo"/>
                </a>
            </div>

            <div class="col-md-3 col-md-offset-6">

                <div class="login-register">
                    <a href="/#!/register" class="btn btn-primary btn-register" >REGISTER</a>
                    <button type="button" class="btn btn-primary btn-login" data-toggle="modal" data-target=".bs-example-modal-sm">LOG IN</button>

                    <label>{{ error_msg }}</label>

                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content modal-login">
                                <form action="/Libraries/login_handle.php" method="post" name="login_form">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <label>Email:</label>
                                            <input type="text" name="email" class="form-control" placeholder="Enter your email here">
                                        </div>

                                        <div class="input-group">
                                            <label>Password:</label>
                                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password here">
                                        </div>
                                </div>
                                    <div class="col-md-12">
                                        <button onclick="loginhash(this.form, this.form.password);" class="btn btn-submit">LOGIN</button>
                                        <button type="button" class="btn btn-submit btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </form>

                                <div class="col-md-12">
                                    <!--a href="#">Forgot password ? </a-->

                                    <a href="/#!/register">Register! </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.header-profile -->

<div class="nav-wrap" ng-if="current_page != '/' && current_page != '/services'">
    <div class="container">
        <div class="row">
            <div class="col-md-12 category-nav-wrap">
                <ul class="category-nav">
                    <li class="col-md-3">
                        <a href="/#!/categories/39/1">
                            <span class="icon icon-dresses"></span>
                            Dresses
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/129/1">
                            <span class="icon icon-handtools"></span>
                            Handtools
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/19/1">
                            <span class="icon icon-mobilephones"></span>
                            Mobilephones
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/46/1">
                            <span class="icon icon-jeans"></span>
                            Jeans
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/79/1">
                            <span class="icon icon-sunglasses"></span>
                            Sunglasses
                        </a>
                    </li>

                    <li class="col-md-3">
                        <a href="/#!/categories/69/1">
                            <span class="icon icon-sportswear"></span>
                            Sportswear
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/12/1">
                            <span class="icon icon-computer"></span>
                            Computer
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/0/1">
                            All categories
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
