<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ path }}css/compiled.css?v=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ path }}css/animate.css?v=1.0" />
    <meta name="fragment" content="!">
    <meta name="description" content="{[{ meta_description }]}">
    <meta name="keywords" content="{[{ meta_keywords }]}">
    <!--Facebook Meta Tags-->
    <meta property="og:title" content="{[{ title }]}" />
    <meta property="og:url" content="{{ address }}/{[{ contentUrl }]}" />
    <meta property="og:description" content="{[{ meta_description }]}" />

<link rel="icon" type="image/png" href="{{address}}/Images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{address}}/Images/favicon-16x16.png" sizes="16x16" />

    <base href="/">
    <title ng-bind="title">FlyBuy </title>
</head>
<body ng-cloak class="ng-cloak">
<div ng-controller="msg_controller" ng-show="current_page != '/services'" ng-init="addUser({{id}});getNew()">
    <div class="header-profile" >
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                    <div class="dropdown dropdown-help">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            HELP
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="/#!/soon">FAQ</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-4 col-md-offset-6">
                    <div class="header-orders">
                        {% if active_email == 2%}
                        <div class="btn-group btn-group-notif pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle header-a-button header-notif-button" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-warning-sign"></span>NOTIFICATIONS {% if active_email == 2 %} (1) {% endif %} <span class="glyphicon glyphicon-menu-down"></span>
                            </button>
                            <ul class="dropdown-menu menu-notifications" role="menu">
                                <li ng-if="{{ active_email }} == 2">Your email is not yet confirmed. Please go to your email and click on the link we've sent to you.</li>
                            </ul>
                        </div>
                        {% else %}
                            {% if accType == 1 or accType == 2 %}
                                <a href="/#!/cart" ng-class="{true:'hidden',false:''}[ {{ active_email }} == 2]" ng-disable="{{active_email}} == 2" class="header-a-button" ng-init="loadCartCount()">CART ({[{cart_count}]})</a>
                            {% endif %}
                            {% if accType == 0 or accType == 2 %}
                                <a ng-class="{true:'hidden',false:''}[ {{ active_email }} == 2]" href="/#!/user/{{id}}/orders" ng-init="loadOrdersCount()" class="header-a-button">ORDERS ({[{orders_count}]})</a>
                                <a ng-class="{true:'hidden',false:''}[ {{ active_email }} == 2]" href="/new_product" target="_self" class="header-a-button">NEW PRODUCT</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr class="top-hr">

    <div class="header-profile" >
        <div class="container">
            <div class="row">
                <div class="col-md-3 logo">
                    <a href="/#!/home">
                        <img src="{{ path }}images/logo.png" alt="flybuy logo"/>
                    </a>
                </div>
                <div>
                    <div class="col-md-3 col-md-offset-6" >
                        <div class="dropdown dropdown-profile">
                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>{{ name }}</span>
                                    <span class="header-profile-image">
                                        <img src="https://res.cloudinary.com/{{ cloudinary }}/image/upload/w_50,h_50,c_scale/v{{img_ver}}/u/{{ id }}/prof.png" alt="profile-picture"/>
                                    </span>
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </button>
                            <a href="/#!/inbox/" class="header-a-button" ng-cloak>INBOX ({[{ new_count }]})</a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                                <li><a href="/#!/user/{[{ id }]}/reviews">Profile</a></li>
                                <li><a href="/#!/edit/profile">Edit profile</a></li>
                                {% if accType != 1 %}
                                    <li><a href="/active.php?op=2&user={[{ id }]}" target="_self">Extend Subscription</a></li>
                                {% endif %}
                                <hr>
                                <li><a href="/Libraries/logout_handle.php" target="_self">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.header-profile -->
</div>
<div class="nav-wrap" ng-if="current_page != '/' && current_page != '/services'">
    <div class="container">
        <div class="row">
            <div class="col-md-12 category-nav-wrap">
                <ul class="category-nav">
                    <li class="col-md-3">
                        <a href="/#!/categories/39/1">
                            <span class="icon icon-dresses"></span>
                            Dresses
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/129/1">
                            <span class="icon icon-handtools"></span>
                            Handtools
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/19/1">
                            <span class="icon icon-mobilephones"></span>
                            Mobilephones
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/46/1">
                            <span class="icon icon-jeans"></span>
                            Jeans
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/79/1">
                            <span class="icon icon-sunglasses"></span>
                            Sunglasses
                        </a>
                    </li>

                    <li class="col-md-3">
                        <a href="/#!/categories/69/1">
                            <span class="icon icon-sportswear"></span>
                            Sportswear
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/12/1">
                            <span class="icon icon-computer"></span>
                            Computer
                        </a>
                    </li>
                    <li class="col-md-3">
                        <a href="/#!/categories/0/1">
                            All categories
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
