
<div ng-init="init();">
    <!-- SLIDER STARTS HERE -->

    <div class="container-fluid slider-homepage">
        <div class="container">
            <div class="row search-row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="search-bar" ng-controller="search_bar">
                        <div class="input-group">
                            <input type="text" ng-model="searchQuery" class="form-control search-bar-slider" ng-enter="search()" aria-label="..." placeholder="What are you searching for?">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle dropdown-categories-search"  data-toggle="dropdown" ng-click="toggleDropdown($event)" aria-expanded="false">Select Category <span class="caret"></span></button>

                                <ul class="dropdown-menu dropdown-categories-home animated fadeInRight" role="menu" is-open="show">
                                    <li>
                                        <a href="" ng-mouseover="createLinks(100, 1);" >Home <span class="iconcat-home"></span></a>
                                        <ul class="dropdown-subcategories-home">

                                            <li ng-hide="loadingSub" compile="childs">
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" ng-mouseover="createLinks(188, 1)">Hobbies and Leissure <span class="iconcat-hobbies"></span></a>
                                        <ul class="dropdown-subcategories-home">

                                            <li ng-hide="loadingSub" compile="childs">
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" ng-mouseover="createLinks(2, 1)">Electronics <span class="iconcat-electronics"></span></a>
                                        <ul class="dropdown-subcategories-home">

                                            <li ng-hide="loadingSub" compile="childs">
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" ng-mouseover="createLinks(273, 1)">Health and Beauty <span class="iconcat-health"></span></a>
                                        <ul class="dropdown-subcategories-home">

                                            <li ng-hide="loadingSub" compile="childs">
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" ng-mouseover="createLinks(37, 1)">Fashion <span class="iconcat-fashion"></span></a>
                                        <ul class="dropdown-subcategories-home">

                                            <li ng-hide="loadingSub" compile="childs">
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/#!/categories/0/1">ALL CATEGORIES</a>
                                    </li>
                                </ul>

                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->

                        <div class="col-md-4 col-md-offset-4">
                            <button type="button" ng-click="search();" class="btn btn-default btn-search-slider">
                                SEARCH
                            </button>
                        </div>

                    </div><!-- /search-bar -->

                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="slider-menu">
                        <div class="col-md-3">
                            <button type="button" ng-click="toggleDropdown($event)" id="buy_btn" class="btn btn-default btn-menu-slider">
                                BUY
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a ng-if="logedIn == 0" ng-href="/#!/register" class="btn btn-default btn-menu-slider sell">
                                SELL
                            </a>
                            <a ng-if="logedIn != 0" ng-href="/#!/new_product" class="btn btn-default btn-menu-slider sell">
                                SELL
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/#!/soon" class="btn btn-default btn-menu-slider rent">
                                RENT
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/#!/services" class="btn btn-default btn-menu-slider services">
                                SERVICES
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- SLIDER ENDS HERE-->


    <!-- ////////////////////////////////////////////////-->
    <!--SLIDER -->
    <!-- ////////////////////////////////////////////////-->

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <!-- /////////////////////////-->
                <!--EMAIL PANELS-->
                <!-- /////////////////////////-->

                <div class="col-md-8 clear-paddings">
                    <div class="email-panel">
                        <h3>Subscribe to receive promotions and updates</h3>
                        <p>Enter your email address here to receive promotions and updates about special offers and new products.</p>


                        <div class="input-group subscribe-panel">
                            <input type="text" class="form-control" ng-model="subscribe_field" placeholder="Enter your email here">
                          <span class="input-group-btn">
                            <button class="btn btn-default btn-subscribe" ng-click="subscribeAdd()" type="button">SUBSCRIBE</button>
                          </span>
                            <label>{[{ subscribe_error }]}</label>
                        </div><!-- /input-group -->

                    </div>
                </div>

                <div class="col-md-4 clear-paddings-right">
                    <div class="buyer-protection">
                        <h3>BUYER PROTECTION</h3>
                        <p>- Guarantee delivery</p>
                        <p>- Guarantee as described</p>
                        <p>- Money guarantee</p>
                        <img src="images/protection-icon.png" alt="protection-icon"/>
                    </div>
                </div>


                <!-- ////////////////////////////////////////////////-->
                <!-- FEATURED/ NEWEST PRODUCTS-->
                <!-- ////////////////////////////////////////////////-->


                    <div class="col-md-12 clear-paddings">

                        <div class="panel panel-default content-container">

                            <div class="panel-heading content-title">
                                <h3 class="panel-title">Newest products</h3>
                            </div>

                            <div class="panel-body panel-content">
                                <div ng-repeat="product in latest track by product.id">
                                    <a href="/#!/product/{[{ product.id }]}" class="featured-product-homepage">
                                        <div class="featured-product-wrap">
                                            <div class="featured-product-head">
                                                <span>{[{ $index +1 }]}</span>
                                                {[{product.sold_quantity}]} Orders
                                            </div>
                                            <div class="featured-product-image">
                                                <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_160,h_160,c_fill,g_center/{[{ product.pictures[0] }]}.png"/>
                                                <div class="featured-product-hover">
                                                    <div class="featured-product-rating" style="display: inline-flex">
                                                        <div ng-repeat="Star in [1,2,3,4,5]">
                                                            <div ng-switch="product.raiting >= Star">
                                                                    <span ng-switch-when="true" class="glyphicon glyphicon-star" style="padding:2px;"></span>
                                                                    <span ng-switch-when="false" class="glyphicon glyphicon-star-empty" style="padding:2px;"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="featured-product-info">
                                                <h6>{[{ product.name | limitTo: 19 }]}{[{product.name.length < 19 ? '' : '...'}]}</h6>
                                                <span>{[{ product.price }]} {[{ product.currency }]}</span> / pair
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            </a>
                        </div>

                    </div>


                    <!-- /////////////////////////-->
                    <!--FEATURED PRODUCTS-->
                    <!-- /////////////////////////-->


                    <div class="col-md-12 clear-paddings">

                        <div class="panel panel-default content-container">

                            <div class="panel-heading content-title">
                                <h3 class="panel-title">Best selling</h3>
                            </div>
                            <div class="panel-body panel-content">
                                <div ng-repeat="product in mostselling">
                                    <a href="/#!/product/{[{product.id}]}" class="featured-product-homepage">
                                        <div class="featured-product-wrap">
                                            <div class="featured-product-head">
                                                <span>{[{ $index +1 }]}</span>
                                                {[{ product.sold_quantity }]} Orders
                                            </div>
                                            <div class="featured-product-image">
                                                <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_160,h_160,c_fill,g_center/{[{ product.pictures[0] }]}.png"/>
                                                <div class="featured-product-hover">
                                                    <div class="featured-product-rating" style="display: inline-flex">
                                                        <div ng-repeat="Star in [1,2,3,4,5]">
                                                            <div ng-switch="product.raiting >= Star">
                                                                <span ng-switch-when="true" class="glyphicon glyphicon-star" style="padding:2px;"></span>
                                                                <span ng-switch-when="false" class="glyphicon glyphicon-star-empty" style="padding:2px;"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="featured-product-info">
                                                <h6>{[{ product.name | limitTo: 19 }]}{[{product.name.length < 19 ? '' : '...'}]}</h6>
                                                <span>{[{ product.price }]} {[{ product.currency }]}</span> / pair
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            </a>
                        </div>

                    </div>
                </div>


            <!-- ////////////////////////////////////////////////-->
            <!--SIDEBAR-->
            <!-- ////////////////////////////////////////////////-->


            <div class="col-md-2">

                <div class="badges-sidebar" ng-if="accountType != 1">
                    <h4> EARN BADGES AND GET FEATURED </h4>
                    <ul>
                        <li>
                            <div class="img-badge">
                                <img ng-src="{[{ path }]}images/badges/verified.png" alt=""/>
                            </div>
                            Verified Supplier
                        </li>
                        <li>
                            <div class="img-badge">
                                <img ng-src="{[{ path }]}images/badges/first-100.png" alt=""/>
                            </div>
                            First 100 products
                        </li>
                    </ul>
                    <a href="/#!/badges" class="learn-more-badges">Learn more</a>
                </div>

                <div class="superdeals" ng-repeat="item in sidebarItems" >
                    <a href="/#!/product/{[{item[0].id}]}">
                        <h2>{[{ item[0].name | limitTo: 27 }]}{[{ item[0].length < 27 ? '' : '...'}]}</h2>
                        <div class="superdeals-picture">
                            <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_200,h_200,c_fill,g_center/{[{ item[0].pictures[0] }]}.png">
                            <div class="superdeals-hover">
                                <h3>Price</h3>
                                <p>{[{item[0].price + " " + item[0].currency}]} / piece</p>
                            </div>
                        </div>
                        <div class="superdeals-footer">
                            {[{ item[1] }]}% OFF
                        </div>
                    </a>

                </div>

            </div>


        </div>
    </div>
</div>