<div class="container" ng-show="logedIn == 0">
    <div class="row">
        <div class="col-md-3">
            Please log in to access this page.
        </div>
    </div>
</div>

<div class="container" ng-hide="logedIn == 0">
    <div class="row" ng-init="getList()">
        <div class="col-md-3">

            <div role="tabpanel" class="tabpanel-inbox">

                <div class="col-md-12 inbox-header">
                    <h3>INBOX </h3>
                </div>
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="" ng-repeat="conversation in list track by conversation.id" ng-click="getConversation(conversation.id, $index, conversation.name)">
                        <a href="" aria-controls="home" role="tab" data-toggle="tab" >
                            <div class="inbox-avatar">
                                <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_50,h_50,c_scale/v{[{ conversation.img_ver }]}/u/{[{ conversation.user2_id }]}/prof.png" alt=""/>
                            </div>

                            <div class="inbox-info">
                                <h6>{[{ conversation.name }]} <span>{[{ conversation.date }]}</span><span ng-show="conversation.seen == 1"> (NEW) </span></h6>
                                <p>{[{ conversation.message | limitTo: 19 }]}{[{conversation.message.length < 19 ? '' : '...'}]}</p>
                            </div>

                        </a>
                    </li>

                </ul>

            </div>

        </div>
        <div class="col-md-7">

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active tab-inbox-content" id="home">
                    <div class="row inbox-single-title">
                        <div class="col-md-8 inbox-sender-title">
                            <h3>{[{ user2_name }]}</h3>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-default inbox-new pull-right" data-toggle="modal" data-target=".bs-example-modal-sm">NEW MESSAGE</button>

                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content modal-login">

                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label>Username of recipient:</label>
                                                    <input type="text" name="new_msg_to" class="form-control" ng-model="new_msg_to" placeholder="Enter the username of recipient.">
                                                </div>

                                                <div class="input-group">
                                                    <label>Message:</label>
                                                    <div class="clear-paddings">
                                                        <textarea name="message_text" placeholder="Enter your message." ng-model="new_msg_txt" rows="4"></textarea>
                                                    </div>
                                                </div>

                                                {[{ stat_msg }]}<br>

                                            </div>
                                            <div class="col-md-12">
                                                <button ng-click="send_new_msg()" class="btn btn-submit">Send message</button>
                                                <button ng-click="clear_modal()" type="button" class="btn btn-submit btn-default" data-dismiss="modal">Close</button>
                                            </div>



                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="chat-area" ng-hide="conversations">
                        No messages to display.
                    </div>

                    <div ng-show="conversations">
                        <div class="chat-area" scroll-bottom="conversations">

                            <div ng-repeat="message in conversations | orderBy: '+id'" ng-class="{true:'sender',false:'user'}[message.sender == user2_name]" >
                                    <div class="chat-avatar">
                                            <a ng-show="user2_name == message.sender" href="/#!/user/{[{user2_id}]}"> <img ngsrc="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_40,h_40,c_scale/v{[{ message.img_ver }]}/u/{[{ message.user2_id }]}/prof.png" alt=""/></a>
                                            <a ng-show="user2_name == message.sender" href="/#!/user/{[{id}]}"><img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_50,h_50,c_scale/v{[{ message.img_ver }]}/u/{[{ message.id }]}/prof.png" alt=""/></a>
                                    </div>
                                    <div class="chat-text">
                                        <h5>{[{ message.sender }]}</h5>
                                        <div class="chat-text-content">
                                            <p>{[{ message.msg }]}</p>
                                        </div>
                                        <div class="chat-time">{[{ message.date }]}</div>
                                    </div>
                            </div>

                        </div>
                    </div>
                    <div class="row inbox-single-footer" ng-show="conversations">
                        <div class="col-md-12">
                            <div class="write-area-inbox">
                                <div class="col-md-10 clear-paddings">
                                    <textarea ng-keypress="enter_press($event)" name="msg_text" ng-model="msg_text" id="" ></textarea>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" ng-enter="send_msg()" ng-disabled='msg_text.length == 0' ng-click="send_msg()" class="btn btn-default">SEND</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- ////////////////////////////////////////////////-->
        <!--SIDEBAR-->
        <!-- ////////////////////////////////////////////////-->


        <div class="col-md-2">
            <div class="badges-sidebar" ng-if="accountType != 1">
                <h4> EARN BADGES AND GET FEATURED </h4>
                <ul>
                    <li>
                        <div class="img-badge">
                            <img ng-src="{[{ path }]}images/badges/verified.png" alt=""/>
                        </div>
                        Verified Supplier
                    </li>
                    <li>
                        <div class="img-badge">
                            <img ng-src="{[{ path }]}images/badges/first-100.png" alt=""/>
                        </div>
                        First 100 products
                    </li>
                </ul>
                <a href="/#!/badges" class="learn-more-badges">Learn more</a>
            </div>
            <div class="superdeals" ng-repeat="item in sidebarItems" >
                <a href="/#!/product/{[{item[0].id}]}">
                    <h2>{[{ item[0].name | limitTo: 27 }]}{[{ item[0].length < 27 ? '' : '...'}]}</h2>
                    <div class="superdeals-picture">
                        <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_200,h_200,c_fill,g_center/{[{ item[0].pictures[0] }]}.png">
                        <div class="superdeals-hover">
                            <h3>Price</h3>
                            <p>{[{item[0].price + " " + item[0].currency}]} / piece</p>
                        </div>
                    </div>
                    <div class="superdeals-footer">
                        {[{ item[1] }]}% OFF
                    </div>
                </a>

            </div>

        </div>
    </div>
</div>
