<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">Intellectual Property Rights (IPR) Protection Policy</h3>
                </div>
                <div class="panel-body panel-content panel-content-terms">
                    <p class="terms-title">1． Overview</p>

                    <p>FlyBuy.World respects intellectual property rights of others and we expect our users to honour the same. Intellectual property infringement claims are dealt with severely on our websites at www.FlyBuy.World (referred to as "Site").</p>

                    <p class="terms-title">2．Intellectual Property Right (“IPR”) Protection</p>

                    <p>Listings of counterfeits, replicas, or other unauthorised items are prohibited on the Site strictly.</p>

                    <p>Listings of offers to sell or purchase counterfeits, replicas, or other unauthorized items shall be subject to removal by FlyBuy.World.</p>

                    <p class="terms-title">3．Repeat violations of our IPR policy may result in a range of actions, including without limitation to:</p>

                    <p>- Removal of listings</p>

                    <p>- Posting restrictions</p>

                    <p>- Account suspension</p>

                    <p>- Termination of membership service agreement</p>

                    <p>FlyBuy.World has the full discretion to take any enforcement action anytime for certain extreme / conspicuous situations, such as where litigation has already been initiated by intellectual property rights holder.</p>

                    <p class="terms-title">4．Infringement Claims</p>

                    <p>All intellectual property infringement claims shall be made under penalty of perjury. Intellectual property right holders further agrees to indemnify and hold</p>

                    <p>FlyBuy.World harmless from all claims, causes of action, damages and judgments arising out of any removal of product listings pursuant to intellectual property infringement claims.</p>

                    <p>As a neutral e-commerce platform FlyBuy.World does not adjudge conflicting intellectual property infringement claims. Any action taken by FlyBuy.World shall not be construed as any endorsement of any intellectual property infringement claim. All conflicting intellectual property infringement claims shall be resolved by the relevant conflicting parties separately from FlyBuy.World and the Site.</p>

                    <p class="terms-title">5．Online report system</p>

                    <p>Three types of materials must be submitted to FlyBuy.World to facilitate processing of intellectual property infringement claims, namely:</p>

                    <p>1. Proof of identity of the complaining party and relevant authorisation if the complaining party is not the intellectual property right holder;</p>

                    <p>2. Proof of intellectual property ownership;</p>

                    <p>3. Exact clickable hyperlinks to the relevant allegedly infringing listings on the Site</p>

                    <p>FlyBuy.World will evaluate intellectual property infringement claims filed via the Site promptly. Members subject to intellectual property infringement claims will be notified of the claims and the contact information of the intellectual property right holders will be provided to the members to facilitate direct conflict resolution and claim handling.</p>

                    <p>Members subject to intellectual property infringement claims may submit counter-notifications to dispute the corresponding claims. Intellectual property right holders will be notified if and when any counter-notifications are filed and may accept or reject such counter-notifications. FlyBuy.World reserves the right to reinstate any listing subject to intellectual property infringement claims at our discretion.</p>
                </div>
            </div>

        </div>
    </div>
</div>