
<div id="new_prod" class="container" ng-show="logedIn == 0 || accountType == 1">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">ADD NEW PRODUCT</h3>
                </div>
                <div class="panel-body panel-content">
                  <div ng-show="logedIn == 0">
                    Please login in order to continue.
                </div>
                    <div ng-show="accountType == 1">
                        In order to submit a new product your account type has to be either "Supplier" or "Both".
                        Please modify your account in order to continue.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-hide="logedIn == 0 || accountType == 1">
    <form name="product" ng-init="init()" novalidate>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">ADD NEW PRODUCT</h3>
                        </div>
                        <div class="panel-body panel-content">

                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="input-group">
                                        <label>Product name:</label>
                                        <input type="text"
                                               class="form-control"
                                               name="productName"
                                               placeholder="Name of product"
                                               ng-model="$parent.productName"
                                               ng-pattern="/^[a-zA-Z0-9\.\- ]*$/"
                                               tooltip-placement="top"
                                               tooltip="This field is required and cant contain special characters."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[product.productName.$invalid && product.productName.$touched] }]}"
                                               required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7 ">
                                    <label>Price per unit</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Price per unit" ng-model="$parent.price" name="price" ng-pattern="/^[0-9]*$/"
                                               tooltip-placement="top"
                                               tooltip="This field is required and can contain only numbers."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[product.price.$invalid && product.price.$touched] }]}"
                                               required>
                                        <div class="input-group-btn" >
                                            <button type="button" class="btn btn-default dropdown-toggle dropdown-currency-button" data-toggle="dropdown" aria-expanded="false" >{[{ currency }]}<span class="caret"></span></button>

                                            <ul class="dropdown-menu dropdown-menu-right dropdown-currency" ng-model="currency" role="menu">
                                                <li ng-repeat="c in currencies"><a ng-click="setCurrency($index)">{[{ c }]}</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div><!-- /input-group -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <label>Quantity:</label>
                                        <input class="form-control" placeholder="Number of units you are willing to sell" ng-model="$parent.quantity" name="quantity" ng-pattern="/^[0-9]*$/"
                                               tooltip-placement="top"
                                               tooltip="This field is required and can contain only numbers."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[product.quantity.$invalid && product.quantity.$touched] }]}"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 ">
                                    <label>Select category: </label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"
                                                tooltip-placement="top"
                                                tooltip="Please select category of a product."
                                                tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[c1 == undefined] }]}">

                                            <div ng-show="c1_name">{[{ c1_name }]}</div>
                                            <div ng-hide="c1_name">Select product category</div>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation" ng-repeat="category in category1" ng-show="category.parent_id==1"><a href="" role="menuitem" tabindex="-1" ng-click="setCategory(category.id, category.name)">{[{ category.name }]}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3" ng-show="c1">
                                    <label>Select sub-category: </label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"
                                                tooltip-placement="top"
                                                tooltip="Please select category of a product."
                                                tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[c2 == undefined] }]}">

                                            <div ng-show="c2_name">{[{ c2_name }]}</div>
                                            <div ng-hide="c2_name">Select product category</div>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation" ng-repeat="c in category1" ng-show="c.parent_id==c1"><a role="menuitem" tabindex="-1" ng-click="setSubCat(c.id, c.name)">{[{ c.name }]}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3" ng-show="c2">
                                    <label>Select specific category: </label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"
                                                tooltip-placement="top"
                                                tooltip="Please select category of a product."
                                                tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[category == undefined] }]}">

                                            <div ng-show="category_name">{[{ category_name }]}</div>
                                            <div ng-hide="category_name">Select product category</div>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation" ng-repeat="c in category1" ng-show="c.parent_id == c2"><a href="" role="menuitem" tabindex="-1" ng-click="setMainCat(c.id, c.name)">{[{ c.name }]}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <label>Description: </label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea ng-model="description" class="textarea-normal" placeholder="Description of your product."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">BULK PRICES</h3>
                        </div>
                        <div class="panel-body panel-content">
                            <div class="row" ng-show="discounts.length != 0">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <label>Discount quantitiy:</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <label>Discount amount:</label>
                                    </div>
                                </div>
                            </div>

                            <div ng-repeat="disc in discounts track by $index">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quantity of items needed for discount" name="disc_q_{[{$index}]}" ng-model="disc.discount_quantity" ng-pattern="/^[0-9]*$/">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Discount amount" name="disc_v_{[{$index}]}" ng-model="disc.discount_value" ng-pattern="/^[0-9]*$/">

                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="input-group">

                                            <select ng-model="disc.discount_type">
                                                <option ng-repeat="d in discountType">{[{ d }]}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div ng-show="price && disc.discount_value && disc.discount_quantity">
                                                Price for {[{ disc.discount_quantity }]} units of a product would cost: {[{ calculateDiscount(disc.discount_value, disc.discount_type, disc.discount_quantity) }]} {[{ currency }]}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="input-group">
                                            <a href="" ng-click="removeDiscount($index)">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-add-more center-block" ng-click="addDiscount()">Add more bulk prices</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--PICTURES-->

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">PICTURES</h3>
                        </div>
                        <div class="panel-body panel-content">
                            <div class="btn-image img-uploader">
                                Add images.
                            </div>
                            <div class="img-ul hidden" ng-init="loadTag()">

                            </div>


                            <div class="status">
                            </div>
                            <div class="row">
                                <div class="preview col-md-12">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- SHIPPING

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">SHIPPING</h3>
                        </div>
                        <div class="panel-body panel-content">

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <label>Shipping company:</label>
                                        <input type="text" class="form-control" placeholder="Placeholder example">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <label>Description: </label>
                                    <textarea class="textarea-normal" placeholder="Enter some text here"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 ">
                                    <button type="button" class="btn btn-default btn-add-more center-block">Add more buld prices</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->



            <!-- ADD VARIATIONS -->
            <div class="row" ng-show="category">
                <div class="col-md-12">

                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">VARIATIONS OF PRODUCT</h3>
                        </div>

                        <div class="panel-body panel-content panel-variations" ng-show="!variation_loaded">
                            <div class="col-md-4">
                                <div class="loader">
                                    <div id="circularG">
                                        <div id="circularG_1" class="circularG">
                                        </div>
                                        <div id="circularG_2" class="circularG">
                                        </div>
                                        <div id="circularG_3" class="circularG">
                                        </div>
                                        <div id="circularG_4" class="circularG">
                                        </div>
                                        <div id="circularG_5" class="circularG">
                                        </div>
                                        <div id="circularG_6" class="circularG">
                                        </div>
                                        <div id="circularG_7" class="circularG">
                                        </div>
                                        <div id="circularG_8" class="circularG">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body panel-content panel-variations" ng-show="variation_loaded">
                            <!--Panel content -->
                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li ng-repeat="variation in variations track by $index" ng-class="{'active': selectedVariation == $index}" role="presentation">
                                        <a href="" ng-click="setSelectedVariation($index)" aria-controls="home" role="tab" data-toggle="tab" >VARIATION {[{ $index + 1 }]}</a>
                                    </li>

                                    <li role="presentation">
                                        <a href="" ng-click="addVariation()" class="variation-add-new"><span class="glyphicon glyphicon-plus"></span></a>
                                    </li>

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane .fade active" id="home">

                                        <div ng-repeat='field in fields track by $index'>
                                            <div class="input-group">
                                                <label>{[{ field.val }]}: </label>
                                                <input type="text" class="form-control" placeholder="{[{ field.val }]}" ng-model="variations[selectedVariation][field.key]"/>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane .fade" id="messages">Tab3 content</div>
                                    <div role="tabpanel" class="tab-pane .fade" id="settings">Tab4 content</div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <button ng-disabled="!(product.$valid && category != undefined)" ng-click="send()" class="btn btn-submit pull-right">SUBMIT</button>
                </div>
                <div class="loader" ng-if="loader">
                    <div id="circularG">
                        <div id="circularG_1" class="circularG">
                        </div>
                        <div id="circularG_2" class="circularG">
                        </div>
                        <div id="circularG_3" class="circularG">
                        </div>
                        <div id="circularG_4" class="circularG">
                        </div>
                        <div id="circularG_5" class="circularG">
                        </div>
                        <div id="circularG_6" class="circularG">
                        </div>
                        <div id="circularG_7" class="circularG">
                        </div>
                        <div id="circularG_8" class="circularG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>$(document).ready(function(){
    $('.img-uploader').on('click',function() {
        $('.cloudinary-fileupload').click();
    });
});</script>
