<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <style>.animate-show.ng-hide-add,
            .animate-show.ng-hide-remove {
                -webkit-transition:all ease-in 0.2s;
                -moz-transition:all ease-in 0.2s;
                -o-transition:all ease-in 0.2s;
                transition:all ease-in 0.2s;
                display: block!important;
            }

            .animate-show.ng-hide-add.ng-hide-add-active,
            .animate-show.ng-hide-remove {
                opacity:0;
            }

            .animate-show.ng-hide-add,
            .animate-show.ng-hide-remove.ng-hide-remove-active {
                opacity:1;
            }


            </style>

            <div class="panel panel-default content-container content-container-confirmation-link">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">ADD PAYMENT METHODS</h3>
                </div>
                <div class="panel-body panel-content panel-p-methods">
                    <p>
                        Please bear in mind that the only secure way, backed by FlyBuy limited, is for payments made through Transpact, as Transpact guarantees both buyer and suppliers money back. Please check the payment methods you accept and continue:
                    </p>
                    <div class="checkbox payment-method payment-tr">
                        <input type="checkbox" ng-model="methods[0]">
                        <label></label>
                    </div>
                    <div class="checkbox payment-method payment-paypal">
                        <input type="checkbox" ng-model="methods[1]">
                        <label></label>
                    </div>
                    <div class="checkbox payment-method payment-wu">
                        <input type="checkbox" ng-model="methods[2]">
                        <label></label>
                    </div>
                    <div class="checkbox payment-method payment-mg">
                        <input type="checkbox" ng-model="methods[3]">
                        <label></label>
                    </div>

                    <div class="row animate-show" ng-show="methods[1]">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label>PayPal info:</label>
                                <input type="text" class="form-control" type="email" ng-disabled="!methods[1]" ng-model="vals[1]" placeholder="Your PayPal email">
                            </div>
                        </div>
                    </div>

                    <div class="row animate-show" ng-show="methods[2]">
                        <div class="col-md-12">
                            <label>Western Union info:</label>
                            <textarea class="textarea-normal" ng-disabled="!methods[2]" ng-model="vals[2]" placeholder="Your Western Union info"></textarea>
                        </div>
                    </div>

                    <div class="row animate-show" ng-show="methods[3]">
                        <div class="col-md-12">
                            <label>MoneyGram info:</label>
                            <textarea class="textarea-normal" ng-disabled="!methods[3]" ng-model="vals[3]" placeholder="Your MoneyGram info"></textarea>
                        </div>
                    </div>
                    <div class="row animate-show" ng-show="methods[0]">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label>Transpact Email:</label>
                                <input type="text" class="form-control" type="email" ng-disabled="!methods[0]" ng-model="vals[0]" placeholder="Your Transpact email">
                                <p>Transpact™ is Europe's leading escrow service, an FCA Authorised and Regulated method of payment that guarantees buyers receive exactly what they paid for, or their money back; and guarantees sellers receive 100% of their due payment, with interest, without ever having to chase debt. Dont have an account? Create it <a  href="https://www.transpact.com/Secure/Register.aspx?RegEmail=&co=FlyBuy" target="_blank">here</a> it is completely free!</p>
                            </div>
                        </div>
                    </div>
                    <!--div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="methods[0]"> Transpact
                        </label><br>
                        <input type="email" ng-disabled="!methods[0]" ng-model="vals[0]" placeholder="Your transpact email">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="methods[1]"> Paypal
                        </label><br>
                        <input type="email" ng-disabled="!methods[1]" ng-model="vals[1]" placeholder="Your PayPal email">

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="methods[2]"> WesterUnion
                        </label><br>
                        <textarea ng-disabled="!methods[2]" ng-model="vals[2]" placeholder="Your Western Union info"></textarea>
                    </div-->
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-buy" ng-disabled="saveDisabled()" ng-click="submit()">SAVE</button>
                            {[{ save_msg }]}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>