<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">Privacy Policy </h3>
                </div>
                <div class="panel-body panel-content panel-content-terms">

                    <p>FlyBuy.World ("Site") is an electronic commerce platform predominantly used by business entities to facilitate electronic commerce and such business use does not generally involve the collection of personal information of individuals. FlyBuy.World recognises the importance of privacy as well as the importance of maintaining the confidentiality of personal information. This Privacy Policy applies to all products and services provided by us and sets out how we may collect, use and disclose information in relation to users of the Site.</p>
                    <p>You may use our services and products via a mobile device either through mobile applications or mobile optimised websites. This Privacy Policy also applies to such use of our services and products.</p>
                    <p>All capitalised terms not defined in this document shall have the meanings ascribed to them in the Terms of Use of the Site. If you are a user from England, the FlyBuy.World entity that you are contracting with is FlyBuy Limited. (“FlyBuy”, “we”, “us”, “our”).</p>
                     
                    <p class="terms-title">A. COLLECTION OF INFORMATION</p>


                    <p>1. Your privacy is important to us and we have taken steps to ensure that we do not collect more information from you than is necessary for us to provide you with our services and to protect your account.</p>
                    <p>2. Information including, but not limited to, user name, address, phone number, fax number and email address ("Registration Information") may be collected at the time of user registration on the Site.</p>
                    <p>3. In connection with any transaction and payment services or services under our buyer protection schemes we provide on the Site, information, including but not limited to, bank account numbers, billing and delivery information, credit/debit card numbers and expiration dates and tracking information from cheques or money orders ("Account Information") may be collected to, among other things, facilitate the sale and purchase as well as the settlement of purchase price of the products or services transacted on or procured through the Site.</p>
                    <p>4. We record and retain details of users’ activities on the Site. Information relating to such transactions including, but not limited to, the types and specifications of the goods, pricing and delivery information and any trade dispute records (“Activities Information”) may be collected when sale and purchase transactions are conducted on or facilitated through the Site.</p>
                    <p>5. From time to time, we collect information about our users and prospective users during trade shows, industry events and other functions. The information we may collect at these locations may include, but is not limited to, user name, address, phone number, fax number and email address ("Event Information").</p>
                    <p>6. We record and retain records of users' buying and browsing activities on our platform including but not limited to IP addresses, browsing patterns and buyer behavioural patterns. In addition, we gather statistical information about the Site and visitors to the Site including, but not limited to, IP addresses, browser software, operating system, software and hardware attributes, pages viewed, number of sessions and unique visitors (together "Browsing Information").</p>
                    <p>7. Registration Information, Account Information, Activities Information, Event Information and Browsing Information generally relate to business entities and are together referred to as business data (“Business Data”). Insofar and only insofar as they constitute personally identifiable data of living individuals, such information are together referred to as personal data (“Personal Data”).</p>
                    <p>8. It is mandatory for users of the Site to provide certain categories of Business Data and Personal Data (as specified at the time of collection). In the event that users do not provide any or sufficient Business Data and/or Personal Data marked as mandatory, we may not be able to complete the registration process or provide such users with our products or services.</p>


                    <p class="terms-title">B. USE OF PERSONAL DATA</p>


                    <p>If you provide any Personal Data to us, you are deemed to have authorised us to collect, retain and use that Personal Data for the following purposes:</p>
                    <p>1. verifying your identity;</p>
                    <p>2. verifying your eligibility to register as a user of the Site;</p>
                    <p>3. processing your registration as a user, providing you with a log-in ID for the Site and maintaining and managing your registration;</p>
                    <p>4. providing you with customer service and responding to your queries, feedback, claims or disputes;</p>
                    <p>5. to facilitate communication between buyers and sellers on the Site;</p>
                    <p>6. performing research or statistical analysis in order to improve the content and layout of the Site, to improve our product offerings and services and for marketing and promotional purposes;</p>
                    <p>7. subject to obtaining your consent in such form as may be required under the applicable law, we may use your name, phone number, residential address, email address and fax number ("Marketing Data") to provide notices, surveys, product alerts, communications and other marketing materials to you relating to goods and services offered by us on the Site including Gold Suppliers membership, Verified Members membership, Free Members membership (each of Gold Suppliers membership, Verified Members membership, and Free Members membership, a “Membership” and collectively, the “Memberships”) the value added services ancillary to the Memberships, and other products and services offered by us from time to time to members of the Site;</p>
                    <p>8. if you voluntarily submit any information to the Site for publication on the Site through the publishing tools, including but not limited to, Company Profile, Product Catalogue, Trade Leads,and any discussion forum, then you are deemed to have given consent to the publication of such information on the Site ("Voluntary Information"); and</p>
                    <p>9. making such disclosures as may be required for any of the above purposes or as required by law or in respect of any claims or potential claims brought against us.</p>


                    <p class="terms-title">C. DISCLOSURE OF PERSONAL DATA</p>


                    <p>1. You further agree that we may disclose and transfer (whether within or outside the jurisdiction of the FlyBuy.World entity that you are contracting with) your Personal Data to service providers engaged by us to assist us with providing you with our services (including but not limited to data entry, database management, promotions, products and services alerts, delivery services, payment extension services, and membership authentication and verification services) ("Service Providers"). These Service Providers are under a duty of confidentiality to us and are only permitted to use your Personal Data in connection with the purposes specified at B.1 to B.9 above, and not for their own purposes (including direct marketing).</p>
                    <p>2. You agree that we may disclose and transfer (whether within or outside the jurisdiction of the FlyBuy.World entity that you are contracting with), for the purposes specified at B.1 to B.9 above, your Personal Data to other affiliated companies within the FlyBuy.World Group, which comprises a group of companies operating leading online and mobile marketplaces in consumer and business-to-business commerce, as well as cloud computing and other services. </p>
                    <p>3. When necessary we may also disclose and transfer (whether within or outside the jurisdiction of the FlyBuy.World entity that you are contracting with) your Personal Data to our professional advisers, law enforcement agencies, insurers, government and regulatory and other organisations for the purposes specified at B.9 above.</p>
                    <p>4. Any Personal Data supplied by you will be retained by us and will be accessible by our employees, any Service Providers engaged by us and third parties referred to at C.2 and C.3 above, for or in relation to any of the purposes stated in B.1 to B.9 above.</p>
                    <p>5. All Voluntary Information may be made publicly available on the Site and therefore accessible by any internet user. Any Voluntary Information that you disclose to us becomes public information and you relinquish any proprietary rights (including but not limited to the rights of confidentiality and copyright) in such information. You should exercise caution when deciding to include personal or proprietary information in the Voluntary Information that you submit to us.</p>
                    <p>6. We may share your Account Information with banks or vendors to enable your transactions on the Site to be completed. In addition, we may use your Account Information to determine your credit-worthiness and, in the process of such determination, we may need to make such Account Information available to banks or credit agencies. While we have in place up-to-date technology and internal procedures to keep your Account Information and other Personal Data secure from intruders, there is no guarantee that such technology or procedures can eliminate all of the risks of theft, loss or misuse.</p>
                    <p>7. We may provide statistical information to third parties, but when we do so, we do not provide personally-identifying information without your permission.</p>
                    <p>8. We have established relationships with other parties and websites to offer you the benefit of products and services which we do not offer. We offer you access to these other parties and their websites either through the use of hyperlinks to these sites from the Site or through offering "co-branded" sites in which both we and other parties share the same uniform resource locator, domain name or pages within a domain name on the Internet. In some cases you may be required to submit personal information to register or apply for products or services provided by such third parties or co-branded partners. This Privacy Policy does not apply to these third party sites or co-branded sites. The privacy policies of those other parties may differ from ours, and we have no control over the information that you submit to those third parties. You should read the relevant privacy policy for those third party sites and co-branded sites before responding to any offers, products or services advertised by those parties.</p>
                     
                    <p class="terms-title">D. RIGHT TO ACCESS/CORRECT PERSONAL DATA</p>
                     
                    <p>Under the applicable laws, you have the right of access to personal information held by us and to request correction of the information.
                        If you have any questions regarding this Privacy Policy or if you wish to access or correct your Personal Data, you may send your request in writing to the following address:</p>
                    <p>60 The Tithings, Runcorn, WA7 2DT, ENGLAND.</p>
                    <p>In accordance with the applicable laws, we reserve the right to charge you a reasonable fee for the processing of any data access or correction request.</p>
                     
                    <p class="terms-title">E. COOKIES</p>
                     
                    <p>We use "cookies" to store specific information about you and track your visits to the Site. It is not uncommon for websites to use cookies to enhance identification of their users.</p>
                    <p>A "cookie" is a small amount of data that is sent to your browser and stored on your computer's hard drive. A cookie can be sent to your computer's hard drive only if you access the Site using a computer. If you do not de-activate or erase the cookie, each time you use the same computer to access the Site, our web servers will be notified of your visit to the Site and in turn we may have knowledge of your visit and the pattern of your usage.</p>
                    <p>Generally, we use cookies to identify you and enable us to i) access your Registration Information or Account Information so you do not have to re-enter it; ii) gather statistical information about usage by users; iii) research visiting patterns and help target advertisements based on user interests; iv) assist our partners to track user visits to the Site and process orders; and v) track progress and participation in promotions.</p>
                    <p>You can determine if and how a cookie will be accepted by configuring the browser which is installed in the computer you are using to access the Site. If you choose, you can change those configurations. By setting your preferences in the browser, you can accept all cookies or you can choose to be notified when a cookie is sent or you can choose to reject all cookies. If you reject all cookies by choosing the cookie-disabling function in your browser, you may be required to re-enter information on the Site more often and certain features of the Site may be unavailable.</p>
                     
                    <p class="terms-title">F. MINORS</p>
                     
                    <p>The Site and their contents are not targeted to minors (those under the age of 18) and we do not intend to sell any of our products or services to minors. However, we have no way of distinguishing the age of individuals who access our Site. If a minor has provided us with personal information without parental or guardian consent, the parent or guardian should contact our Legal Department at the address set out in paragraph D above to remove the information.</p>
                     
                    <p class="terms-title">G. SECURITY MEASURES</p>
                     
                    <p>We employ commercially reasonable security methods to prevent unauthorised access to the Site, to maintain data accuracy and to ensure the correct use of the information we hold.</p>
                    <p>For registered users of the Site, your Registration Information and Account Information (if any) can be viewed and edited through your account, which is protected by a password. We recommend that you do not divulge your password to anyone. Our personnel will never ask you for your password in an unsolicited phone call or in an unsolicited email. If you share a computer with others, you should not choose to save your log-in information (e.g., user ID and password) on that shared computer. Remember to sign out of your account and close your browser window when you have finished your session.</p>
                    <p>No data transmission over the internet or any wireless network can be guaranteed to be perfectly secure. As a result, while we try to protect the information we hold for you, we cannot guarantee the security of any information you transmit to us and you do so at your own risk.</p>
                     
                    <p class="terms-title">H. CHANGES TO THIS PRIVACY POLICY</p>
                     
                    <p>Any changes to this Privacy Policy will be communicated by us posting an amended and restated Privacy Policy on the Site. Once posted on the Site the new Privacy Policy will be effective immediately. You agree that any information we hold about you (as described in this Privacy Policy and whether or not collected prior to or after the new Privacy Policy became effective) will be governed by the latest version of the Privacy Policy.</p>
                     
                    <p class="terms-title">I. YOUR FEEDBACK</p>
                     
                    <p>We welcome your input regarding our Privacy Policy and any comments on the services we provide to you. You may send us your comments and responses by post to: 60 The Tithings, Runcorn, WA7 2DT, ENGLAND.</p>
                </div>
            </div>

        </div>
    </div>
</div>