<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">Product Listing Policy</h3>
                </div>
                <div class="panel-body panel-content panel-content-terms">

                    <p class="terms-title">1. General Prohibitions</p>
                    <p class="terms-title">2. Artefacts</p>
                    <p class="terms-title">3. Currency and Stamps</p>
                    <p class="terms-title">4. Crude Oil</p>
                    <p class="terms-title">5. Contracts and Tickets</p>
                    <p class="terms-title">6. Credit Cards</p>
                    <p class="terms-title">7. Drugs & Associated Paraphernalia</p>
                    <p class="terms-title">8. Ethnically or Racially Offensive Material</p>
                    <p class="terms-title">9. Event Ticket Resale Policy</p>
                    <p class="terms-title">10. Faces, Names and Signatures</p>
                    <p class="terms-title">11. Financial Services</p>
                    <p class="terms-title">12. Firearms, Ammunition, Weapons, Explosives</p>
                    <p class="terms-title">13. Foods</p>
                    <p class="terms-title">14. Tobacco Products</p>
                    <p class="terms-title">15. Gold, Silver and Other Precious Metals</p>
                    <p class="terms-title">16. Government-Issued IDs, Licenses and Uniforms</p>
                    <p class="terms-title">17. Hazardous Materials</p>
                    <p class="terms-title">18. Human Parts and Remains</p>
                    <p class="terms-title">19. Invoices</p>
                    <p class="terms-title">20. Job Postings</p>
                    <p class="terms-title">21. Mailing Lists and Personal Information</p>
                    <p class="terms-title">22. Medical and Healthcare Service</p>
                    <p class="terms-title">23. Non-business Information</p>
                    <p class="terms-title">24. Non-transferable Items</p>
                    <p class="terms-title">25. Police-Related Items</p>
                    <p class="terms-title">26. Pornographic Materials and Adult Products</p>
                    <p class="terms-title">27. Posting an Advertisement for the Sole Purpose of Collecting User Information or Raising Money</p>
                    <p class="terms-title">28. Prescription Drugs and Devices</p>
                    <p class="terms-title">29. Real Estate</p>
                    <p class="terms-title">30. Refurbished Products</p>
                    <p class="terms-title">31. Replica and Counterfeit Items</p>
                    <p class="terms-title">32. Circumvention Devices and Hacking Equipment</p>
                    <p class="terms-title">33. Software</p>
                    <p class="terms-title">34. Spy Equipment</p>
                    <p class="terms-title">35. Stocks and Other Securities</p>
                    <p class="terms-title">36. Stolen Property</p>
                    <p class="terms-title">37. Textile Quota</p>
                    <p class="terms-title">38. Transit Related Items</p>
                    <p class="terms-title">39. Unauthorized Copies of Intellectual Property</p>
                    <p class="terms-title">40. Used Clothing and Cosmetics</p>
                    <p class="terms-title">41. Veterinary Products and Drugs for Animals</p>
                    <p class="terms-title">42. Wildlife and Animal Products</p>
                    <p class="terms-title">43. Sanctioned and Prohibited Items</p>

                    <p class="terms-title">1. GENERAL PROHIBITIONS:</p>
                    <p>1.1 You may not post or sell any item that is restricted or prohibited by a central, state or local law in any country or jurisdiction. Please be aware that the FlyBuy.World and ("Site") functions as a global marketplace, thus the selling or posting of items may be prohibited because of laws outside of the jurisdiction where you reside. Below, we have listed some categories of prohibited or restricted items. However, this list is not exhaustive; you, as the seller, are responsible for ensuring that you are not posting an item that is prohibited by law in any jurisdiction.
                    <p>1.2 FlyBuy.World has chosen to also prohibit the posting of other categories of items which may not be restricted or prohibited by law but are nonetheless controversial including:
                    <p>(a) Items that encourage illegal activities;
                    <p>(b) Items that are racially, religiously or ethnically derogatory, or that promote hatred, violence, racial or religious intolerance;
                    <p>(c) Giveaways, lotteries, raffles, or contests;
                    <p>(d) Stocks, bonds, investment interests, and other securities;
                    <p>(e) Pornographic materials or items that are sexual in nature;
                    <p>(f) Items that do not offer a product or service for sale, such as advertisements solely for the purpose of collecting user information.
                    <p>1.3  FlyBuy.World, in its sole and exclusive discretion, reserves the right to impose additional restrictions and prohibitions.

                    <p class="terms-title">2. ARTEFACTS</p>
                    <p>2.1 Artefacts, cultural relics, historical grave markers, and related items are protected under the laws of the PRC, the United States, and other jurisdictions and may not be posted or sold through the Site.
                    <p>2.2 The trade of cultural relics (including personal collection relics), gold, silver, other precious metals, rare animals and their products from the PRC to foreign (non-PRC) parties is strictly prohibited under PRC law and is accordingly prohibited on the Site.

                    <p class="terms-title">3. CURRENCY AND STAMPS</p>
                    <p>3.1  FlyBuy.World strictly forbids the sale and purchase of currency, coins, bank notes, bonds, money orders, currency in digital or any intangible form (e.g. crypto-currency) and other securities, as well as the equipment used to produce such items.
                    <p>3.2 Counterfeits of the identified articles in 3.1, legal tenders and stamps are strictly prohibited.
                    <p>3.3 Reproductions or replicas of coins as collectible items must be clearly marked with the word "COPY", "REPRODUCTION" or "REPLICA" and comply with all relevant local laws.

                    <p class="terms-title">4. CRUDE OIL</p>
                    <p>4.1 The listing or sale of crude oil by sellers and buyers located in England is prohibited on the Site.


                    <p>4.2 The listing or sale of petroleum, petroleum products and petrochemical products originating in the Islamic Republic of Iran is strictly forbidden on the Site.

                    <p class="terms-title">5. CONTRACTS AND TICKETS</p>
                    <p>5.1 You are responsible for ensuring that your transaction is lawful and not in violation of any contractual obligation. Before posting an item on the Site, you should carefully read any contracts that you have entered into that might limit your right to sell your item on the Site. Some items, such as airline tickets, have terms printed on the item that may limit your ability to sell that item. In other cases, such as when you are distributing a company's products, you may have signed a separate contract restricting your ability to market the product.
                    <p>5.2 FlyBuy.World does not search for items that may raise these types of issues, nor can it review copies of private contracts, or adjudicate or take sides in private contract disputes. However, we want you to be aware that posting items in violation of your contractual obligations could put you at risk with third parties. FlyBuy.World therefore urges that you not list any item until you have reviewed any relevant contracts or agreements, and are confident you can legally sell it on the Site.
                    <p>5.3 If you have any questions regarding your rights under a contract or agreement, we strongly recommend that you contact the company with whom you entered into the contract and/or consult with an attorney.

                    <p class="terms-title">6. CREDIT CARDS</p>
                    <p>6.1 Credit or debit cards cannot lawfully be transferred from one person to another, and therefore such items may not be listed on the Site.

                    <p class="terms-title">7. DRUGS & ASSOCIATED PARAPHERNALIA</p>
                    <p>7.1 The listing or sale of narcotics, steroids, or other controlled substances (including all drugs listed in Schedules I, II, III, IV or V of the Uniform Controlled Substances Act, 21 U.S.C. 801 et seq.) is strictly forbidden on the Site.
                    <p>7.2 The listing or sale of drug paraphernalia, including all items that are primarily intended or designed for use in manufacturing, concealing, or using a controlled substance is strictly forbidden on the Site. Such items include, but are not limited to those items used for the ingestion of illicit substances including pipes such as water pipes, carburettor pipes, chamber pipes, ice pipes, bongs, etc.

                    <p class="terms-title">8. ETHNICALLY OR RACIALLY OFFENSIVE MATERIAL</p>
                    <p>8.1 Postings that are ethnically or racially offensive are prohibited on the Site. Sellers and purchasers must ensure that any wording used portrays appropriate sensitivity to those who might read it in their postings, and when they are offering or purchasing potentially offensive items or services.
                    <p>8.2 Occasionally, if materials are of historical value or integral to the item (such as a book title), members may use offensive words and phrases in the subject and description of a posting. FlyBuy.World encourages all members to treat others as they themselves would like to be treated.
                    <p>8.3 FlyBuy.World generally prohibits such materials promoting Nazism, the KKK, etc.

                    <p class="terms-title">9. EVENT TICKET RESALE POLICY</p>
                    <p>9.1 FlyBuy.World allows the listing of tickets to performance, sporting and entertainment events to the extent permitted by law. However, as a ticket seller, you are responsible for ensuring that your particular transaction does not violate any applicable law or the terms on the ticket itself.

                    <p class="terms-title">10. FACES, NAMES AND SIGNATURES</p>
                    <p>10.1 Items containing the likeness, image, name, or signature of another person are prohibited, unless the products were made or authorised by the person whose likeness, image, name or signature has been used.

                    <p class="terms-title">11. FINANCIAL SERVICES</p>
                    <p>11.1 FlyBuy.World prohibits listings that offer financial services, including money transfers, issuing bank guarantees and letters of credit, loans, fundraising and funding for personal investment purposes, etc.




                    <p class="terms-title">12. FIREARMS, AMMUNITION, WEAPONS</p>
                    <p>12.1 The posting of, offering for sale, or offering for purchase of any arms, ammunitions, military ordnance, weapons (including explosive weapons), and/or any related parts or accessories is strictly prohibited. Such activity can result in your account being delisted.</p>
                    <p>12.2 FlyBuy.World does not permit the posting, offering for sale, or offering of purchase of air guns, BB guns, paintball guns, stun guns, harpoons, spear guns, or any other weapons that may discharge a projectile containing any gas, chemicals, or explosive substances. Replica, "look-alike", and imitation products of the above items under certain circumstances will be permitted only upon the express approval of FlyBuy.World.</p>
                    <p>12.3 Any servicing, instruction, processing, or aid of producing any biological, chemical, or nuclear weapons, or any other Weapons of Mass Destruction (WMD) or its known associated agents is strictly prohibited by international law and is accordingly prohibited on the Site. Any violation of this policy will result in the notification of government authorities by FlyBuy.World and your account being delisted.</p>
                    <p>12.4 Knives and other cutting instruments will in most cases be permitted to be listed. Switchblade knives, gravity knifes, knuckledusters (bladed or not), bladed hand-held devices, and disguised knives are not permitted to be listed. FlyBuy.World maintains discretion over what items are appropriate and may cause removal of a listing that it deems as a weapon.</p>

                    <p class="terms-title">13. Foods</p>
                    <p>13.1 The listing or sale of sexual enhancement foods or supplements is prohibited on the Site.</p>

                    <p class="terms-title">14. Tobacco Products</p>
                    <p>14.1 The posting of tobacco products, including but not limited to cigars, cigarettes, cigarette tobacco, pipe tobacco, hookah tobacco, chewing tobacco and tobacco leaf is forbidden on the Site.</p>
                    <p>14.2 The posting of nicotine and liquids for use in electronic cigarettes is forbidden on the Site.</p>


                    <p class="terms-title">15. GOLD, SILVER AND OTHER PRECIOUS METALS</p>
                    <p>FlyBuy.World does not permit listings that offer the sale or buying of gold, silver and other precious metals (not including jewellery).</p>

                    <p class="terms-title">16. Government-Issued IDs, Licenses and Uniforms</p>
                    <p>16.1 The following items may not be listed on the Site:</p>
                    <p>(a) Items that claim to be, or appear similar to, official government-issued identification documents or licenses, such as birth certificates, driver’s licenses, visas or passports. Furthermore, completed applications for such documents containing personal information may not be listed.</p>
                    <p>(b) Fake identification cards or any items that are designed for the manufacture of such cards.</p>
                    <p>(c) Articles of clothing or identification that claim to be, or appear similar to, official government uniforms.</p>
                    <p>(d) Military decorations, medals and awards, in addition to items with substantially similar designs.</p>

                    <p class="terms-title">17. HAZARDOUS AND DANGEROUS MATERIALS</p>
                    <p>17.1 The posting, offering for sale, or offering for purchase of hazardous or dangerous materials (such as the categories of dangerous goods as defined under the International Maritime Dangerous Goods Code) is forbidden on the Site.</p>
                    <p>17.2 The posting of any products containing harmful substances (e.g. toys containing lead paint) is forbidden on the Site.</p>
                    <p>17.3 Automotive airbags are expressly forbidden on the site due to containing explosive materials.</p>
                    <p>17.4 Asbestos materials and/or products containing asbestos are prohibited.</p>

                    <p class="terms-title">18. HUMAN PARTS AND REMAINS</p>
                    <p>18.1 FlyBuy.World prohibits the listing of any humans, the human body, or any human body part. Examples of such prohibited items include, but are not limited to: organs, bone, blood, sperm, and eggs.</p>
                    <p>18.2 Skulls and skeletons that are used for medical or educational purposes may be listed on the Site.</p>
                    <p>18.3 Items made of human hair, such as wigs for commercial uses, are permitted.</p>

                    <p class="terms-title">19. INVOICES</p>
                    <p>19.1 The listing or sale of any form of invoices or receipts (including blank, pre-filled, or value added invoices or receipts), is strictly prohibited on the Site.

                    <p class="terms-title">20. JOB POSTINGS</p>
                    <p>20.1 Job postings from which a factory/company/institute may directly recruit employees are prohibited on the Site.

                    <p class="terms-title">21. MAILING LISTS AND PERSONAL INFORMATION</p>
                    <p>21.1 The posting or sale of bulk email or mailing lists that contain personally identifiable information including names, addresses, phone numbers, fax numbers and email addresses, is strictly prohibited. Also prohibited are software or other tools which are designed or used to send unsolicited commercial email (i.e. "spam").</p>

                    <p class="terms-title">22. MEDICAL AND HEALTHCARE SERVICES</p>
                    <p>22.1 FlyBuy.World prohibits listings that offer medical or healthcare services, including services for medical treatment, rehabilitation, vaccination, health check, psychological counselling, dietetics, plastic surgery, massage, etc.</p>

                    <p class="terms-title">23. NON-BUSINESS INFORMATION</p>
                    <p>23.1 FlyBuy.World is an online business to business information platform; personal and non-business information is prohibited.</p>

                    <p class="terms-title">24. NON-TRANSFERABLE ITEMS</p>
                    <p>24.1 Non-transferable items may not be posted or sold through the Site. Many items including lottery tickets, airline tickets and some event tickets may not be resold or transferred.</p>
                    <p>25. POLICE-RELATED ITEMS</p>
                    <p class="terms-title">25.1 The posting of law enforcement badges or official law enforcement equipment from any public authority, including badges issued by the government of any country, is strictly prohibited.</p>
                    <p>25.2 There are some limited police items that may be listed on our site, provided they observe any noted guidelines:</p>
                    <p>(a) Authorized general souvenir items, such as hats, mugs, pins, pens, buttons, cuff links, T-shirts, money clips that do not resemble badges and paperweights that do not contain badges.</p>
                    <p>(b) Badges that are clearly not genuine or official (e.g. toy badges).</p>
                    <p>(c) Historical badges that do not resemble modern law enforcement badges, provided that the item description clearly states that the badge is a historical piece at least 75 years old or issued by an organisation which no longer exists.</p>
                    <p>25.3 Police uniforms may be posted provided that they are obsolete and in no way resemble current issue police uniforms. This fact must be clearly stated within the posting description.</p>

                    <p class="terms-title">26. PORNOGRAPHIC MATERIALS AND ADULT PRODUCTS</p>
                    <p>26.1 The posting or sale of pornographic materials is strictly prohibited, as it violates laws in many countries. While pornography is difficult to define and standards vary from nation to nation, FlyBuy.World will generally follow guidelines accepted in the United Kingdom.</p>
                    <p>26.2 FlyBuy.World strictly prohibits items depicting exploitation of minors, bestiality, rape sex, incest or sex with graphic violence or degradation.</p>
                    <p>26.3 In determining whether listings or information should be removed from the site, we consider the overall content of the posting, including photos, pictorials, and text.</p>
                    <p>26.4 FlyBuy.World does not permit the sale of SM. Novelty sexually explicit items, including various types of toys, collectibles, or food items in the shape of genitalia and primarily intended for adult buyers are permitted in the appropriate category.</p>

                    <p class="terms-title">27. POSTING AN ADVERTISEMENT FOR THE SOLE PURPOSE OF COLLECTING USER INFORMATION OR RAISING MONEY</p>
                    <p>27.1 FlyBuy.World is the ideal site for business to business commercial transactions. Honesty and high ethical standards is what we represent. Postings on this site should clearly represent the item being sold. If your objective is otherwise, we ask that you seek out other websites to carry on the business activity you seek to perform.</p>

                    <p><p class="terms-title">28. PRESCRIPTION DRUGS AND DEVICES</p>
                    <p>28.1 FlyBuy.World does not permit the posting of prescription drugs. If you are uncertain as to whether your item is permitted, please contact FlyBuy.World prior to posting.</p>
                    <p>28.2 FlyBuy.World does not permit the posting of psychotropic drugs and narcotics.</p>
                    <p>28.3 Member may post over-the-counter drugs if you have obtained necessary approval, license or permit to manufacture or sell drugs. If you are uncertain as to whether you may post over-the-counter drugs, please contact FlyBuy.World prior to posting.</p>
                    <p>28.4 FlyBuy.World also does not permit the posting of unauthorised medical devices.</p>

                    <p class="terms-title">29. REAL ESTATE</p>
                    <p>29.1 A real estate posting allows buyers to contact the seller to get more information and express interest about the property listed. Before you post a listing relating to sale or purchase of real estate, you must ensure that you have complied with all applicable laws and regulations.</p>

                    <p class="terms-title">30. REFURBISHED PRODUCTS</p>
                    <p>30.1 The sale and purchase of refurbished mobile phones, laptops and computers is prohibited on the Site.

                    <p class="terms-title">31. REPLICA AND COUNTERFEIT ITEMS</p>
                    <p>31.1 Listing of counterfeits, non-licensed replicas, or unauthorised items, such as counterfeit designer garment, watches, handbags, sunglasses, or other accessories, is strictly prohibited on the Site.</p>
                    <p>31.2 If the products sold bear the name or logo of a company, but did not originate from or were not endorsed by that company, such products are prohibited from the Site.</p>
                    <p>31.3 Postings of luxury brand products are permitted if a certificate of authorisation has been issued by the luxury brand owner.</p>
                    <p>31.4 Postings offering to sell or purchase replicas, counterfeits or other unauthorised items shall be subject to removal by FlyBuy.World. Repeated postings of counterfeit or unauthorised items shall result in the immediate suspension of your membership.</p>

                    <p class="terms-title">32. CIRCUMVENTION DEVICES AND HACKING EQUIPMENT</p>
                    <p>32.1 Descramblers or other items that can be used to gain unauthorised access to television programming (such as satellite and cable TV), internet access, telephone, data or other protected, restricted, or premium services are prohibited. Stating the item is for educational or test purposes will not legitimise a product that is otherwise inappropriate. Some examples of items which are not permitted include smart cards and card programmers, descramblers, DSS emulators and hacking software.</p>
                    <p>32.2 Similarly, information on "how to" descramble or gain access to cable or satellite television programming or other services without authorisation or payment is prohibited. FlyBuy.World’s policy is to prohibit any encouragement of this type of activity.</p>
                    <p>32.3 Devices designed to intentionally block, jam or interfere with authorised radio communications, such as cellular and personal communication services, police radar, global positioning systems (GPS) and wireless networking services (Wi-Fi) are prohibited.</p>

                    <p class="terms-title">33. SOFTWARE</p>
                    <p>33.1 Academic Software</p>
                    <p>(a) Academic software is software sold at discounted prices to students, teachers, and employees of accredited learning institutions.</p>
                    <p>(b) On the Site, please do not list any academic software unless you are so authorised. Postings violating FlyBuy.World’s academic software policy may be deleted prior to publication.</p>
                    <p>(c) For postings of academic software on behalf of an authorised educational reseller or an educational institution, such licensure must be stated conspicuously in the postings, including selling leads, Products and companies. A certificate of authorisation issued by the authorised educational reseller (or the educational institution) also must be provided to FlyBuy.World.</p>
                    <p>33.2 OEM Software</p>
                    <p>(a) Do not list "OEM" or "bundled" copies of software on the Site unless you are selling it with computer hardware. Original Equipment Manufacturer (OEM), or bundled software, is software that is obtained as part of the purchase of a new computer. OEM software licenses usually prohibit the purchaser from reselling the software without the computer or, in some cases, without any computer hardware.</p>

                    <p class="terms-title">34. SPY EQUIPMENT</p>
                    <p>34.1 The listing or sale of spy equipment is not permitted on the Site.</p>
                    <p>34.2 The listing of devices used for interception of wire, oral and electronic communications is prohibited.
                    <p>34.3 Hidden photographic devices are permitted, unless used to facilitate the surreptitious viewing or recording of individuals for sexual purposes.</p>

                    <p class="terms-title">35. STOCKS AND OTHER SECURITIES</p>
                    <p>35.1 FlyBuy.World does not permit the listing or sale of stocks, bonds, credit, investment interests, or other securities.</p>

                    <p class="terms-title">36. STOLEN PROPERTY</p>
                    <p>36.1 The posting or sale of stolen property is strictly forbidden on the Site, and violates international law. Stolen property includes items taken from private individuals, as well as property taken without authorisation from companies or governments.</p>
                    <p>36.2 FlyBuy.World supports and cooperates with law enforcement efforts involving the recovery of stolen property and the prosecution of responsible individuals. If you are concerned that the images and/or text in your item description have been used by another Site user without your authorisation, or that your intellectual property rights have been violated by such user, please contact our service team at services@flybuy.world</p>

                    <p class="terms-title">37. TEXTILE QUOTA</p>
                    <p>37.1 The offering for sale or purchase of textile quota is prohibited on the Site</p>

                    <p class="terms-title">38. TRANSIT RELATED ITEMS</p>
                    <p>38.1 The following items related to the commercial airline and public transportation industries may not be listed on the Site:</p>
                    <p>(a) Any article of clothing or identification related to transportation industries, including but not limited to, commercial airline pilot's uniforms, flight attendant's uniforms, airport service personnel uniforms, uniforms related to railway industries, and uniforms of security personnel of public transport industries. Vintage clothing related to commercial airlines or other public transport may be listed on the Site provided that the item description clearly states that the item is at least 10 years old, is no longer in use by the airline or other public transport authority and does not resemble any current uniform.</p>
                    <p>(b) Manuals or other materials related to mass commercial public transportation, including safety manuals published by commercial airlines or entities operating subways, trains or buses. Such items may only be listed if the description clearly states that the material is obsolete and no longer in use by the airline or other transit authority.</p>
                    <p>(c) Any official, internal, or non-public documents.</p>

                    <p class="terms-title">39. UNAUTHORISED COPIES OF INTELLECTUAL PROPERTY</p>
                    <p>39.1 The listing or sale of unauthorised (pirated, duplicated, backup, bootleg, etc.) copies of software programmes, video games, music albums, movies, television programmes, photographs or other protected works is forbidden on the Site.</p>

                    <p class="terms-title">40. USED CLOTHING AND COSMETICS</p>
                    <p>40.1 Used undergarments may not be listed or sold on the Site. Other used clothing may be listed, so long as the clothing has been thoroughly cleaned. Postings that contain inappropriate or extraneous descriptions will be removed.
                    <p>40.2 The listing or sale of used cosmetics is prohibited on the Site.</p>

                    <p class="terms-title">41. VETERINARY PRODUCTS AND DRUGS FOR ANIMALS</p>
                    <p>41.1 Prescription veterinary products and drugs may not be listed on the Site.</p>

                    <p class="terms-title">42. WILDLIFE AND ANIMAL PRODUCTS</p>
                    <p>42.1 The listing or sale of any animal (including any animal parts which may include pelts, skins, internal organs, teeth, claws, shells, bones, tusks, ivory and other parts) protected by the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES) or any other local law or regulation is strictly forbidden on the Site.</p>
                    <p>42.2 The listing or sale of products made with any part of and/or containing any ingredient derived from sharks or marine mammals is prohibited on the Site.</p>
                    <p>42.3 The listing or sale of products made from cats or dogs, including pelts, skins, fur, meat, is prohibited on the Site.</p>
                    <p>42.4 The listing or sale of poultry, livestock and pets for commercial purposes is permitted on the Site.</p>


                    <p class="terms-title">43. SANCTIONED AND PROHBITED ITEMS</p>
                    <p>43.1 Products prohibited by laws, regulations, sanctions and trade restrictions in any relevant country or jurisdiction worldwide are strictly forbidden on the Site.</p>


                    <p class="terms-title">NOTICE: This list should not be considered exhaustive in nature and shall be updated on a continuous basis. If you are unsure about the product you wish to list with the Site in regard to its appropriateness or legality, please contact our customer services department.</p>
                </div>
            </div>

        </div>
    </div>
</div>