
<div class="container" ng-init="init()" ng-hide="id == undefined" id="reg_page">
    <div class="row">
        <div class="col-md-12 ">

            <div class="full-width-content">
                <div class="col-md-12 registration-header">
                    <h2>EDIT PROFILE</h2>
                </div>
            <form class="ng-touched" name="update_form" method="POST" action="Libraries/update_profile_handler.php" novalidate ng-cloak autocomplete="off">
                <div class="col-md-12">
                <input class="hidden" name="user_id" value="{[{ user_data['[id]'] }]}">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>First name:</label>
                                <input type="text" class="form-control" id="fName" name="fName" ng-model="user_data['[firstname]']" ng-pattern="/^[a-zA-Z ]*$/" placeholder="Edit your first name here" value="{[{ user_data['[firstname]'] }]}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Last name:</label>
                                <input type="text" class="form-control" id="lName" name="lName" ng-model="user_data['[lastname]']" ng-pattern="/^[a-zA-Z ]*$/" placeholder="Edit your last name" value="{[{ user_data['[lastname]'] }]}" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Email</label>
                                <input type="email" id="email" placeholder="Enter your email address" name="email" ng-model="user_data['[email]']" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Password:</label>
                                <input type="password" name="password" ng-model="password" class="form-control" ng-minlength="7" placeholder="Enter your password">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Repeat password:</label>
                                <input id="password_verify" type="password" ng-model="pass_verify" class="form-control" match="update_form.password" placeholder="Please, repeat your password" ng-required="password != ''">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Country</label>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    {[{ country_name }]}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="c in counteries" role="presentation"><a ng-click="setC(c.id, c.name)" role="menuitem" tabindex="-1" >{[{ c.name }]}</a></li>
                                </ul>

                            </div>
                            <input type="hidden" id="country" value="{[{ country_id }]}" name="country">
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Postal code:</label>
                                <input type="text" class="form-control" placeholder="Enter your postal code here" id="postCode" name="postCode" ng-model="user_data['[post_code]']" ng-pattern="/^[a-zA-Z0-9\- ]*$/" required>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>City:</label>
                                <input type="text" class="form-control" placeholder="Enter your city name here" id="uCity" name="uCity" ng-model="user_data['[ucity]']" ng-pattern="/^[a-zA-Z0-9 ]*$/" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Address:</label>
                                <input type="text" class="form-control" placeholder="Enter your address here" id="address" name="address" ng-model="user_data['[address]']" ng-pattern="/^[a-zA-Z0-9 ]*$/"required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Phone:</label>
                                <input type="text" class="form-control" placeholder="Enter your phone number here" id="phone" name="phone" ng-model="user_data['[telephone]']" ng-pattern="/^[0-9]*$/" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label>Company name:</label>
                                <input type="text" class="form-control" placeholder="Enter your company name here" id="companyName" name="companyName" ng-model="user_data['[company_name]']" ng-pattern="/^[a-zA-Z0-9 ]*$/" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="user_data['[validated]'] == 0 && user_data['[accType]'] != 1">
                        <div class="col-md-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="enable_validation" name="enable_validation">
                                    I want to verify my company.
                                </label><br>
                            </div>
                        </div>
                    </div>

                    <div ng-show="enable_validation">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Company's city:</label>
                                    <input type="text" class="form-control" placeholder="Enter your company's city here"  id="cCity" name="cCity" ng-pattern="/^[a-zA-Z ]*$/" ng-model="cCity" ng-required="enable_validation">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Company's address:</label>
                                    <input type="text" class="form-control" placeholder="Enter your company's address here"  id="cAddress" name="cAddress" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-model="cAddress" ng-required="enable_validation">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Company's phone:</label>
                                    <input type="text" class="form-control" placeholder="Enter your company's phone number here" id="cPhone" name="cPhone" ng-model="cPhone" ng-pattern="/^[0-9]*$/" ng-required="enable_validation">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Company's country</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">

                                        {[{ valid_c_name }]}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="country in vat_country" role="presentation"><a ng-click="set_valid_c(country.value, country.label)" role="menuitem" tabindex="-1" >{[{ country.label }]}</a></li>
                                    </ul>
                                </div>
                                <input type="hidden" id="vatC" value="-1" name="vatC">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <label>Validation method:</label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle dropdown-normal"type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" >

                                            {[{ validationMethod_name }]}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                            <li ng-repeat="method in validationMethods" role="presentation"><a ng-click="setValidMethod(method.id, method.name)" role="menuitem" tabindex="-1" >{[{ method.name }]}</a></li>
                                        </ul>
                                    </div>

                                    <input type="hidden" id="v_method" value="-1" name="v_method">

                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="validationMethod_id == 0">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>VAT Code:</label>
                                    <input type="text" class="form-control" placeholder="Enter your VAT code here" id="vat" name="vat" ng-model="$parent.vat" ng-pattern="/^[0-9]*$/" ng-required="enable_validation && validationMethod == 0">

                                </div>

                                <div class="register-buttons pull-right">
                                    <button type="button" ng-click="validate()" class="btn btn-submit">Check VAT</button>
                                </div>
                                <label ng-show="loading">Checking VAT...</label>
                                <label>{[{ vat_res }]}</label>
                            </div>

                        </div>

                        <div class="row" ng-show="validationMethod_id == 1">
                            <div class="col-md-4">
                                <label>Upload some image of proof that you own that company (example: bill etc.)</label>
                                <div id="img-uploader">

                                </div>
                                <div class="status">
                                </div><br>
                                <div></div>
                                <div class="preview">
                                </div>
                                <input type="hidden" id="validation_imgs" name="validation_imgs" value="" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-8 ">
                            <div class="register-buttons pull-right">
                                <button type="submit" ng-disabled="valid_form()" class="btn btn-submit" onclick="formhash(this.form, this.form.password, this.form.password_verify);">SUBMIT</button>
                            </div>
                        </div>
                    </div>



                </div><!-- /col-md-12 -->
                </form>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="js/img_uploader.js"></script>