<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 profile-main">

                <div class="profile-image">
                    <div ng-show="myAccount">
                        <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_250,h_250,c_scale/v{[{ user_info['[img_ver]'] }]}/u/{[{ viewing_id }]}/prof.png" alt=""/>
                        <div ng-init="loadTag()" class="img-ul hidden"></div>
                        <button class="btn btn-upload-image cloudinary-fileupload" ng-click="clickImg()">Change picture</button>
                    </div>
                    <div ng-show="!myAccount">
                        <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_250,h_250,c_scale/v{[{ user_info['[img_ver]'] }]}/u/{[{ viewing_id }]}/prof.png" alt=""/>
                    </div>
                </div>
                <div ng-if="img_loading">
                    <div class="loader">
                        <div id="circularG">
                            <div id="circularG_1" class="circularG">
                            </div>
                            <div id="circularG_2" class="circularG">
                            </div>
                            <div id="circularG_3" class="circularG">
                            </div>
                            <div id="circularG_4" class="circularG">
                            </div>
                            <div id="circularG_5" class="circularG">
                            </div>
                            <div id="circularG_6" class="circularG">
                            </div>
                            <div id="circularG_7" class="circularG">
                            </div>
                            <div id="circularG_8" class="circularG">
                            </div>
                        </div>
                    </div>
                </div>
                <h1><div ng-bind="user_info['[firstname]']"></div> <div ng-bind="user_info['[lastname]']"></div></h1>

                <div class="profile-informations" ng-hide="myAccount">
                    <div ng-if="onlineStatus == true">User is currently online</div>
                    <div ng-if="onlineStatus != true">User is currently offline</div>

                    <a href="" data-toggle="modal" ng-class="{true:'',false:'hidden'}[logedIn]" data-target=".bs-new-msg-modal">Send this user a message.</a>
                    <div class="modal fade bs-new-msg-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content modal-login">

                                <div class="col-md-12">
                                    <div class="input-group">
                                        <label>Recipient:</label>
                                        {[{ user_info['[firstname]'] + " " + user_info['[lastname]'] }]}
                                    </div>

                                    <div class="input-group">
                                        <label>Message:</label>
                                        <div class="clear-paddings">
                                            <textarea name="message_text" placeholder="Enter your message." ng-model="new_msg_txt" rows="4"></textarea>
                                        </div>
                                    </div>

                                    <label>{[{ stat_msg }]}</label><br>

                                </div>
                                <div class="col-md-12">
                                    <button ng-click="send_message_to_id()" class="btn btn-submit">Send message</button>
                                    <button ng-click="[new_msg_txt = '', stat_msg = '']" type="button" class="btn btn-submit btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="profile-informations">
                    <div ng-show="myAccount">
                        <h4>PERSONAL MENU</h4>
                        <div class="profile-info">
                            <div><a href="/#!/edit/profile" class="alert-link">Edit profile</a></div>
                            <div><a href="/#!/payment-methods" class="alert-link">Add Payment Methods</a></div>
                            <div ng-if="user_info['[accType]'] != 1"><a href="/active.php?op=2&user={[{ id }]}" target="_self" class="alert-link">Extend Subscription</a></div>
                        </div>
                    </div>

                    <div ng-show="myAccount">
                        <h4>NOTIFICATIONS</h4>
                        <div class="profile-info">
                            <div class="alert alert-danger" role="alert" ng-show="user_info['[privs]'] == 2">
                                Please verify your email address.
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="hasPaymentm == 0">
                                Please add your <a href="/#!/payment-methods" class="alert-link">payment methods.</a>
                            </div>

                        </div>

                    </div>
                    <div class="profile-informations">
                        <h4>MEMBER INFO</h4>
                        <div class="profile-info">
                            <p ng-if="user_info['[validated]'] == 1"><span class="glyphicon glyphicon-map-marker"></span><label ng-bind="user_info['[company_city]']"></label>, <label ng-bind="user_info['[company_country]']"></label></p>
                            <p ng-if="user_info['[validated]'] == 1"><span class="glyphicon glyphicon-map-marker"></span><label ng-bind="user_info['[company_city]']"></label>, <label ng-bind="user_info['[company_country]']"></label></p>
                            <p ng-if="user_info['[validated]'] == 1"><span class="glyphicon glyphicon-earphone"></span><label ng-bind="user_info['[company_phone]']"></label> </p>

                            <p ng-if="user_info['[accType]'] != 1 && user_info['[validated]'] != 1"><span class="glyphicon glyphicon-map-marker"></span><label ng-bind="user_info['[ucity]']"></label>, <label ng-bind="user_info['[country]']"></label></p>
                            <p ng-if="user_info['[accType]'] != 1 && user_info['[validated]'] != 1"><span class="glyphicon glyphicon-earphone"></span><label ng-bind="user_info['[telephone]']"></label> </p>

                            <p ng-if="user_info['[accType]'] == 1"><span class="glyphicon glyphicon-map-marker"></span><label ng-bind="user_info['[ucity]']"></label>, <label ng-bind="user_info['[country]']"></label></p>
                            <p ng-if="user_info['[accType]'] == 1"><span class="glyphicon glyphicon-earphone"></span><label ng-bind="user_info['[telephone]']"></label> </p>

                            <p><span class="glyphicon glyphicon-briefcase"></span><label ng-bind="user_info['[company_name]']"></label> </p>
                            <p ng-if="user_info['[accType]'] != 1 && myAccount" ng-init="subscriptionEndDate()"><label>{[{ subscription_info }]}</label></p>
                            <!--p><span> 123</span>Products sold</p-->
                        </div>
                    </div>
                </div>

                <div class="profile-informations" ng-if="showBadges">
                    <h4>Achievements</h4>
                    <div class="achievement-single" ng-if="user_info['[validated]'] == 1">
                        <div class="achievement-img">
                            <img ng-src="Templates/images/badges/verified.png" alt=""/>
                        </div>
                        <div class="achievement-info">
                            <h5 title="This company is manualy checked and verified">VERIFIED</h5>
                            Supplier is Verified
                        </div>
                    </div>
                    <div class="achievement-single" ng-if="user_info['[rate]'] == 5">
                        <div class="achievement-img">
                            <img ng-src="{[{ path }]}images/badges/high-rated.png" alt=""/>
                        </div>
                        <div class="achievement-info">
                            <h5>HIGHLY RATED SUPPLIER</h5>
                            Supplier have 100% rating.
                        </div>
                    </div>
                    <div class="achievement-single" ng-if="user_info['[join_years]'] > 0">
                        <div class="achievement-img">
                            <!--img ng-src="{[{ path }]}images/badges/{[{user_info['[join_years]'] }]}-year-big.png" alt=""/-->
                        </div>
                        <div class="achievement-info">
                            <h5>BADGE PER YEAR</h5>
                            This supplier is our member for {[{ user_info['[join_years]'] }]} years.
                        </div>
                    </div>
                    <!--div class="achievement-single">
                        <div class="achievement-img">
                            <img src="Templates/images/badges/first-100.png" alt=""/>
                        </div>
                        <div class="achievement-info">
                            <h5>FIRST 100</h5>
                            Supplier sold his first 100 items
                        </div>
                    </div-->
                </div>
            </div>
        </div>

        <div class="col-md-9" ng-class="{true:'hidden',false:''}[selected_tab == 'single_order']">
            <div class="col-md-12 profile-products">
                <div class="row">
                    <div class="col-md-8">
                        <h3>{[{ user_info['[firstname]'] + " " + user_info['[lastname]'] }]} DASHBOARD</h3>
                    </div>

                    <div class="col-md-4 add-new-prod" ng-class="{true:'',false:'hidden'}[myAccount && user_info['[accType]'] != 1 && selected_tab == 'products']" tooltip-placement="right" tooltip="Please check error notifications at left side of your screen." tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[(user_info['[privs]'] == 2) || (hasPaymentm == 0)] }]}">
                        <a type="button" name="addProduct" href="/new_product" target="_self" class="btn btn-default btn-new-product pull-right" ng-disabled="(user_info['[privs]'] == 2) || (hasPaymentm == 0)">ADD NEW PRODUCT</a>
                        <!--button type="button" name="addProduct" href="/new_product" target="_self" class="btn btn-default btn-new-product pull-right" ng-disabled="(user_info['[privs]'] == 2) || (hasPaymentm == 0)">ADD NEW PRODUCT</button-->
                    </div>
                </div>

                <!--TABS STARTS HERE-->
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpane">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-dashboard ng-cloak" role="tablist" ng-cloak>
                                <li role="presentation" ng-class="{true:'active', false:''}[selected_tab == 'products']"><a href="" ng-click="setTab('products')" ng-class="{true:'hidden',false:''}[user_info['[accType]'] == 1]" aria-controls="product" role="tab" data-toggle="tab">Products</a></li>
                                <li role="presentation" ng-class="{true:'active', false:''}[selected_tab == 'reviews']"><a href="" ng-click="setTab('reviews')" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                                <li role="presentation" ng-class="{true:'active',false:''}[selected_tab == 'orders']"><a href="" ng-click="setTab('orders')" ng-class="{true:'hidden',false:''}[user_info['[accType]'] == 1 && !myAccount]" aria-controls="orders" role="tab" data-toggle="tab" ng-show="myAccount && user_info['[accType]'] != 1">Orders<span class="badge">{[{ orders_count }]}</span></a></li>
                                <li role="presentation" ng-class="{true:'active',false:''}[selected_tab == 'purchase']"><a href="" ng-click="setTab('purchase')" ng-class="{true:'hidden',false:''}[user_info['[accType]'] == 0 && !myAccount]" aria-controls="purchase" role="tab" data-toggle="tab" ng-show="myAccount && user_info['[accType]'] != 0">Purchase</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content tab-content-products">
                                <div role="tabpanel" class="tab-pane tab-pane-products" id="product" ng-class="{true:'active', false:''}[selected_tab == 'products']" ng-show="selected_tab == 'products'">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Product Number</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Sold</th>
                                            <th>View</th>
                                            <th ng-class="{true:'',false:'hidden'}[myAccount]">Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-show="count == 0">
                                            <td></td>
                                            <td>No products found</td>
                                        </tr>
                                        <tr ng-show="loader">
                                            <td></td>
                                            <td>
                                                <div class="loader">
                                                <div id="circularG">
                                                    <div id="circularG_1" class="circularG">
                                                    </div>
                                                    <div id="circularG_2" class="circularG">
                                                    </div>
                                                    <div id="circularG_3" class="circularG">
                                                    </div>
                                                    <div id="circularG_4" class="circularG">
                                                    </div>
                                                    <div id="circularG_5" class="circularG">
                                                    </div>
                                                    <div id="circularG_6" class="circularG">
                                                    </div>
                                                    <div id="circularG_7" class="circularG">
                                                    </div>
                                                    <div id="circularG_8" class="circularG">
                                                    </div>
                                                </div>
                                            </div></td>
                                        </tr>

                                        <tr ng-hide="count == 0" ng-repeat="product in table_data">
                                            <td>#{[{ product.id }]}</td>
                                            <td>{[{ product.name }]}</td>
                                            <td>{[{ product.price }]} {[{ product.currency }]}</td>
                                            <td>{[{ product.sold_quantity }]}</td>
                                            <td><a href="/#!/product/{[{product.id}]}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                            <td ng-class="{true:'',false:'hidden'}[myAccount]"><a href="/#!/edit/product/{[{product.id}]}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div class="pagination-products" ng-hide="count < 10">
                                        <span>PAGE: </span>
                                        <nav>
                                            <ul class="pagination pagination-sm ">
                                                <pagination total-items="count" items-per-page="10" page="current_pagination_products" ng-click="changePage()" max-size="5" class="pagination pagination-pages" boundary-links="true"></pagination>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane tab-pane-reviews" id="reviews" ng-class="{true:'active', false:''}[selected_tab == 'reviews']" ng-show="selected_tab == 'reviews'">

                                    <div class="row">
                                        <div class="reviews-head col-md-12" ng-show="count != 0">
                                            OVERAL RATING: <span>{[{ additional }]} </span>/ 5.0
                                            <div class="reviews-head-right pull-right">Total users rated: {[{ count }]}</div>
                                        </div>
                                        <div class="col-md-12 review-single"  ng-show="count == 0">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    There are currently no reviews for this member.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 review-single"  ng-show="loading">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="loader">
                                                        <div id="circularG">
                                                            <div id="circularG_1" class="circularG">
                                                            </div>
                                                            <div id="circularG_2" class="circularG">
                                                            </div>
                                                            <div id="circularG_3" class="circularG">
                                                            </div>
                                                            <div id="circularG_4" class="circularG">
                                                            </div>
                                                            <div id="circularG_5" class="circularG">
                                                            </div>
                                                            <div id="circularG_6" class="circularG">
                                                            </div>
                                                            <div id="circularG_7" class="circularG">
                                                            </div>
                                                            <div id="circularG_8" class="circularG">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 review-single" ng-repeat="entry in table_data" ng-show="count != 0">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div class="reviewer-img">
                                                        <a href="/#!/user/{[{entry.rater_id}]}">
                                                            <img src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/v{[{ entry.img_ver }]}/u/{[{ entry.rater_id }]}/prof.png" alt=""/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-11">
                                                    <h6><a href="#">{[{ entry.rater_firstname + " " + entry.rater_lastname }]}</a></h6>
                                                    <div class="review-content">
                                                        {[{ entry.message }]}
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="review-rating" style="display: inline-flex">
                                                                    <div ng-repeat="Star in [1,2,3,4,5]">
                                                                        <div ng-switch="entry.rate >= Star">
                                                                            <span ng-switch-when="true" class="glyphicon glyphicon-star full-star"></span>
                                                                            <span ng-switch-when="false" class="glyphicon glyphicon-star empty-star"></span>
                                                                        </div>
                                                                    </div>
                                                                    <span class="rating-of-5">{[{ entry.rate }]}/5</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="review-date pull-right">
                                                                    <p>Date:</p>
                                                                    <p>{[{ entry.date }]}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-12">
                                            <div class="pagination-products pagination-reviews" ng-show="count != 0">
                                                <span>PAGE: </span>
                                                <nav>
                                                    <ul class="pagination pagination-sm ">
                                                        <pagination total-items="count" items-per-page="5" page="current_pagination_reviews" ng-click="changePage()" max-size="5" class="pagination pagination-pages" boundary-links="true"></pagination>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-hide="myAccount || !logedIn">
                                            <div class="write-review">
                                                Tell others about this supplier / Rate supplier:
                                                <textarea name="ratingText" ng-model="ratingText"></textarea>
                                                <div class="give-rate-submit">
                                                    <button type="button" ng-disabled="textLength == 0" ng-click="rateUser()" class="btn btn-default btn-rating-submit pull-right">SUBMIT</button>
                                                    <div class="review-rating">
                                                        <rating value="rate" max="5" readonly="false"></rating>
                                                        {[{ rated_answer }]}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div role="tabpanel" class="tab-pane tab-pane-orders" id="orders" ng-class="{true:'active',false:''}[selected_tab == 'orders']" ng-show="selected_tab == 'orders' && myAccount">
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Item name</th>
                                                <th>Buyer</th>
                                                <th>Date created</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>View</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-show="loading">
                                                <td></td>
                                                <td><div class="loader">
                                                    <div id="circularG">
                                                        <div id="circularG_1" class="circularG">
                                                        </div>
                                                        <div id="circularG_2" class="circularG">
                                                        </div>
                                                        <div id="circularG_3" class="circularG">
                                                        </div>
                                                        <div id="circularG_4" class="circularG">
                                                        </div>
                                                        <div id="circularG_5" class="circularG">
                                                        </div>
                                                        <div id="circularG_6" class="circularG">
                                                        </div>
                                                        <div id="circularG_7" class="circularG">
                                                        </div>
                                                        <div id="circularG_8" class="circularG">
                                                        </div>
                                                    </div>
                                                </div></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-show="count == 0 && !loading">
                                                <td></td>
                                                <td>You dont have any orders yet.</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="entry in table_data" ng-hide="loading" ng-if="$index < (current_pagination_orders * 5) && $index >= (current_pagination_orders -1) * 5">
                                                <td>#{[{ entry.order_id }]}</td>
                                                <td>{[{ entry.product_name }]}</td>
                                                <td>{[{ entry.buyer_firstname + " " + entry.buyer_lastname }]}</td>
                                                <td>{[{ entry.date_added }]}</td>
                                                <td>{[{ entry.price }]}</td>
                                                <td ng-switch="entry.status">
                                                    <label ng-switch-when="0">Pending</label>
                                                    <label ng-switch-when="1">Approved</label>
                                                    <label ng-switch-when="2">Declined</label>
                                                    <label ng-switch-when="6">Waiting for transaction</label>
                                                    <label ng-switch-when="10">Fully paid</label>
                                                    <label ng-switch-when="12">Partly paid</label>
                                                    <label ng-switch-when="16">COMPLETED</label>
                                                </td>
                                                <td>
                                                    <a href="" ng-click="single_order_tab(entry.order_id, 'orders')"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                </td>
                                            </tr>


                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="row" ng-show="count > 5">
                                        <div class="pagination-products">
                                            <span>PAGE: </span>
                                            <nav>
                                                <pagination total-items="count" items-per-page="5" page="current_pagination_orders" max-size="5" class="pagination pagination-pages" boundary-links="true"></pagination>
                                            </nav>
                                        </div>
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane tab-pane-purchase" id="purchase" ng-class="{true:'active',false:''}[selected_tab == 'purchase']" ng-show="selected_tab == 'purchase' && myAccount">
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Item name</th>
                                                <th>Seller</th>
                                                <th>Date created</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>View</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-show="loading">
                                                <td></td>
                                                <td><div class="loader">
                                                    <div id="circularG">
                                                        <div id="circularG_1" class="circularG">
                                                        </div>
                                                        <div id="circularG_2" class="circularG">
                                                        </div>
                                                        <div id="circularG_3" class="circularG">
                                                        </div>
                                                        <div id="circularG_4" class="circularG">
                                                        </div>
                                                        <div id="circularG_5" class="circularG">
                                                        </div>
                                                        <div id="circularG_6" class="circularG">
                                                        </div>
                                                        <div id="circularG_7" class="circularG">
                                                        </div>
                                                        <div id="circularG_8" class="circularG">
                                                        </div>
                                                    </div>
                                                </div></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-show="count == 0 && !loading">
                                                <td></td>
                                                <td>You havent bought anything recently.</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="entry in table_data" ng-hide="loading || count == 0" ng-if="$index < (current_pagination_purchase * 5) && $index >= (current_pagination_purchase -1) * 5">
                                                <td>#{[{ entry.order_id }]}</td>
                                                <td>{[{ entry.product_name }]}</td>
                                                <td>{[{ entry.seller_firstname + " " + entry.seller_lastname }]}</td>
                                                <td>{[{ entry.date_added }]}</td>
                                                <td>{[{ entry.price }]}</td>
                                                <td ng-switch="entry.status">
                                                    <label ng-switch-when="0">Pending</label>
                                                    <label ng-switch-when="1">Approved</label>
                                                    <label ng-switch-when="2">Declined</label>
                                                    <label ng-switch-when="6">Waiting for transaction</label>
                                                    <label ng-switch-when="10">Fully paid</label>
                                                    <label ng-switch-when="12">Partly paid</label>
                                                    <label ng-switch-when="16">COMPLETED</label>
                                                </td>
                                                <td>
                                                    <a href="" ng-click="single_order_tab(entry.order_id, 'purchase')"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    </div>
                                    <div class="row" ng-show="count > 5">
                                        <div class="pagination-products">
                                            <span>PAGE: </span>
                                            <nav>
                                                <pagination total-items="count" items-per-page="5" page="current_pagination_purchase" max-size="5" class="pagination pagination-pages" boundary-links="true"></pagination>
                                            </nav>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div><!--/.tabpanel-dashboard-->
                    </div><!--/.col-md-12-->
                </div><!--/.row-->

            </div>
        </div>

        <div class="col-md-9" ng-class="{true:'',false:'hidden'}[selected_tab == 'single_order']">
            <div class="row" ng-show="loading">
                <div class="col-md-12">
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title order-details-title">
                            <h3 class="panel-title">ORDER DETAILS</h3>
                            <a href="" ng-click="goBack()" class="btn btn-default btn-single-order "><span class="glyphicon glyphicon-chevron-left"></span>BACK</a>
                        </div>
                        <div class="panel-body panel-content order-details">
                            <div class="row">
                                <div class="col-md-5">
                                    <h6><div class="loader">
                                        <div id="circularG">
                                            <div id="circularG_1" class="circularG">
                                            </div>
                                            <div id="circularG_2" class="circularG">
                                            </div>
                                            <div id="circularG_3" class="circularG">
                                            </div>
                                            <div id="circularG_4" class="circularG">
                                            </div>
                                            <div id="circularG_5" class="circularG">
                                            </div>
                                            <div id="circularG_6" class="circularG">
                                            </div>
                                            <div id="circularG_7" class="circularG">
                                            </div>
                                            <div id="circularG_8" class="circularG">
                                            </div>
                                        </div>
                                    </div></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="loading">
                <div class="col-md-12">

                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title order-details-title">
                            <h3 class="panel-title">ORDER DETAILS</h3>
                            <a ng-click="goBack()" href="" class="btn btn-default btn-single-order "><span class="glyphicon glyphicon-chevron-left"></span>BACK</a>
                        </div>
                        <div class="panel-body panel-content order-details">
                            <div class="row">
                                <div class="col-md-5">
                                    <h6>ORDER DETAILS</h6>

                                    <table class="table-order-details">
                                        <tr>
                                            <td>Order ID: </td>
                                            <td ng-bind="single_order.order_id">#</td>
                                        </tr>
                                        <tr>
                                            <td>Product ID: </td>
                                            <td ng-bind="single_order.product_id">#</td>
                                        </tr>
                                        <tr>
                                            <td>Buyer Name: </td>
                                            <td>{[{ single_order.buyer_firstname }]} {[{single_order.buyer_lastname }]}</td>
                                        </tr>
                                        <tr>
                                            <td>Quantity: </td>
                                            <td ng-bind="single_order.quantity"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-7 order-status">
                                    <h6>STATUS:</h6>

                                    <div ng-switch="single_order.status">
                                        <h3 ng-switch-when="0" class="pending">Pending</h3>
                                        <h3 ng-switch-when="1" class="pending">Approved</h3>
                                        <h3 ng-switch-when="2" class="declined">Declined</h3>
                                        <h3 ng-switch-when="16" class="completed">COMPLETED</h3>
                                        <h3 ng-switch-default class="pending">Waiting for transaction</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 order-details-adress">
                                    <h6>ADDRESS</h6>
                                    <p>{[{ single_order.buyer_firstname }]} {[{single_order.buyer_lastname }]}e</p>
                                    <p>{[{ single_order.buyer_data['[address]'] }]}</p>
                                    <p>{[{ single_order.buyer_data['[ucity]'] }]}, {[{ single_order.buyer_data['[country]'] }]}</p>
                                    <p>{[{ single_order.buyer_data['[post_code]'] }]}</p>

                                </div>
                                <div class="col-md-7 order-details-contact">
                                    <h6>CONTANT</h6>
                                    <p>{[{ single_order.buyer_data['[telephone]'] }]}</p>
                                    <p>{[{ single_order.buyer_data['[email]'] }]}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 order-details-adress">
                                    <h6>PAYMENT INFORMATION</h6>
                                    <div ng-switch="single_order.payment_method">
                                        <p ng-switch-when="0">Transpact: {[{ single_order.payment_method_list[0] }]}</p>
                                        <p ng-switch-when="1">PayPal: {[{ single_order.payment_method_list[1] }]}</p>
                                        <p ng-switch-when="2">Western Union: {[{ single_order.payment_method_list[2] }]}</p>
                                        <p ng-switch-when="3">MoneyGram: {[{ single_order.payment_method_list[3] }]}</p>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 order-details-notes">
                                    <h6>NOTES</h6>
                                    <p ng-bind="single_order.notes"></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading content-title panel-footer" ng-show="single_order.status == 0 && accType != 1 && viewing_id == single_order.seller_id">
                            <button type="button" class="btn btn-default btn-single-order btn-single-order-approve"  data-toggle="modal" data-target=".bs-approve-order-modal">APPROVE</button>

                            <div class="modal fade bs-approve-order-modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content modal-login">

                                        <div class="col-md-12">

                                            <div class="input-group">
                                                <label>Shipping price</label>
                                                <div class="clear-paddings">
                                                    <input type="text" ng-model="shipping_price">
                                                </div>
                                            </div>

                                            <label>{[{ approve_status }]}</label><br>

                                        </div>
                                        <div class="col-md-12">
                                            <button ng-click="approveOrder()" class="btn btn-submit">Send answer</button>
                                            <button ng-click="[shipping_price = '', approve_status='']" type="button" class="btn btn-submit btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <button type="button" class="btn btn-default btn-single-order" data-toggle="modal" data-target=".bs-decline-order-modal">DECLINE</button>

                            <div class="modal fade bs-decline-order-modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content modal-login">

                                        <div class="col-md-12">

                                            <div class="input-group">
                                                <label>Reason of declining:</label>
                                                <div class="clear-paddings">
                                                    <textarea name="message_text" placeholder="Enter your reason." ng-model="decline_notes" rows="4"></textarea>
                                                </div>
                                            </div>

                                            <label>{[{ decline_status }]}</label><br>

                                        </div>
                                        <div class="col-md-12">
                                            <button ng-click="dissaproveOrder(decline_notes)" class="btn btn-submit">Send answer</button>
                                            <button ng-click="[decline_notes = '', decline_status='']" type="button" class="btn btn-submit btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> <!-- /panel-->
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">PAYMENT</h3>
                        </div>
                        <div class="panel-body panel-content order-details">
                            <div class="row">
                                <div class="col-md-5">
                                    <h6>TO PAY</h6>

                                    <table class="table-order-details table-payment-details">
                                        <tr>
                                            <td>Product price: </td>
                                            <td>{[{ single_order.price }]} {[{ single_order.product_currency }]}</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping: </td>
                                            <td>{[{ single_order.shipping }]} {[{ single_order.product_currency }]}</td>
                                        </tr>
                                        <tr>
                                            <td>Other: </td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL:</td>
                                            <td>{[{ total(single_order.price, single_order.shipping) }]} {[{ single_order.product_currency }]}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-7 order-status">
                                    <h6>PAYMENT METHOD:</h6>
                                    <div ng-switch="single_order.payment_method">
                                        <h3 ng-switch-when="0">Transpact</h3>
                                        <h3 ng-switch-when="1">PayPal</h3>
                                        <h3 ng-switch-when="2">Western Union</h3>
                                        <h3 ng-switch-when="3">MoneyGram</h3>

                                    </div>

                                    <div ng-show="single_order.payment_method != 0">
                                        <h6>PAYMENT CODE:</h6>
                                        <div ng-show="viewing_id == single_order.seller_id">
                                            <p ng-if="code_disabled"><b ng-bind="payment_code"></b></p>
                                            <p ng-if="!code_disabled">Payment is not created yet.</p>
                                        </div>
                                        <div ng-show="viewing_id == single_order.buyer_id">
                                            <p>When you make a payment via selected method, please input your payment code in here (Western Union code, PayPal transaction ID etc.), this code will be visible only to the supplier and it will allow supplier to withdraw his payment. </p>
                                            <input type="text" placeholder="Code" ng-model="payment_code" ng-disabled="code_disabled">
                                            <a href="" ng-show="!code_disabled" ng-click="saveCode()">Save</a>
                                        </div>
                                    </div>


                                    <h6 ng-if="single_order.payment_method == 0">PAYMENT STATUS:</h6>

                                    <div ng-show="single_order.payment_method == 0" ng-switch="single_order.status">
                                        <h3 ng-switch-when="6" class="pending">Waiting for payment</h3>
                                        <h3 ng-switch-when="10" class="pending">Fully paid</h3>
                                        <h3 ng-switch-when="12" class="pending">Partly paid</h3>
                                        <h3 ng-switch-when="16" class="completed">COMPLETED</h3>
                                        <h3 ng-switch-default class="pending">Transaction not created yet</h3>
                                    </div>

                                    <table class="table-order-details table-payment-details" ng-show="single_order.amount_paid">
                                        <tr>
                                            <td>PAID:</td>
                                            <td>{[{ single_order.amount_paid }]} {[{ single_order.product_currency }]}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /panel-->

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default content-container">
                                <div class="panel-heading content-title">
                                    <h3 class="panel-title">PRODUCT DETAILS:  {[{ single_order.product_name }]}</h3>
                                </div>
                                <div class="panel-body panel-content">
                                    <!--div class="product-image">
                                        <img src="../images/product-image.png" alt=""/>
                                    </div-->
                                    <table class="product-details-single-order">
                                        <tr ng-repeat="variation in single_order.product_variation">
                                            <td>{[{ variation.data }]}:</td>
                                            <td ng-bind="variation.value"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
