<div id="new_prod" class="container" ng-hide="logedIn == 0">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">REGISTRATION</h3>
                </div>
                <div class="panel-body panel-content">
                        You are already loged in.
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="logedIn == 0">
<div class="container" id="reg_page">
    <div class="row">
        <div class="col-md-12 ">

            <div class="full-width-content">
                <div class="col-md-12 registration-header">
                    <h2>REGISTRATION</h2>
                    If you already have account log in <a data-toggle="modal" data-target=".bs-example-modal-sm" href="#">here.</a>
                    <br>
                    {[{ errormsg }]}
                </div>

                <form action="Libraries/register_handle.php" method="post" name="reg_form" novalidate ng-cloak autocomplete="off">
                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-4 ">
                                <div class="input-group">
                                    <label>Username:</label>
                                    <input type="text" class="form-control" placeholder="Enter your desired username" id="username" ng-pattern="/^[a-zA-Z0-9]*$/" name="username" minlength="7" tooltip-placement="top" tooltip="Minimum length: 7 characters. Letters and numbers only." tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.username.$invalid && reg_form.username.$touched] }]}" required  ng-model="$parent.username">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Email:</label>
                                    <input type="email" id="email" placeholder="Enter your email address" name="email" ng-model="$parent.email" class="form-control" tooltip-placement="top" tooltip="Please enter your valid email address." tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.email.$invalid && reg_form.email.$touched] }]}" required />

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Password:</label>
                                    <input type="password" class="form-control" placeholder="Enter your password" name="password" ng-model="$parent.password" minlength="7" id="password" tooltip-placement="top" tooltip="Minimum length of password is 7." tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.password.$invalid && reg_form.password.$touched] }]}" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Repeat password:</label>
                                    <input type="password" id="password_verify" name="password_verify" id="password_verify" ng-model="$parent.password_verify" match="reg_form.password" class="form-control" placeholder="Please, repeat your password"
                                           tooltip-placement="top"
                                           tooltip="Please repeat your password."
                                           tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.password_verify.$invalid && reg_form.password_verify.$touched] }]}" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>First name:</label>
                                    <input type="text" class="form-control" placeholder="Enter your first name here" id="fName" name="fName" ng-pattern="/^[a-zA-Z ]*$/" ng-model="$parent.fName"
                                           tooltip-placement="top"
                                           tooltip="Please enter your first name."
                                           tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.fName.$invalid && reg_form.fName.$touched] }]}"
                                           required />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Last name:</label>
                                    <input type="text" class="form-control" placeholder="Enter your last name here" id="lName" name="lName" ng-pattern="/^[a-zA-Z ]*$/" ng-model="$parent.lName"
                                           tooltip-placement="top"
                                           tooltip="Please enter your last name."
                                           tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.lName.$invalid && reg_form.lName.$touched] }]}"
                                           required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Country</label>
                                <div class="dropdown" ng-init="loadC()">
                                    <button class="btn btn-default dropdown-toggle dropdown-normal" ng-click="touched(0);" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" tooltip-placement="top"
                                            tooltip="Please select your country."
                                            tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.counteries_select == null && c_touched] }]}"
                                            required>

                                        {[{ counteries_select_name }]}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="c in counteries" role="presentation"><a ng-click="setCountry(c.id, c.name)" role="menuitem" tabindex="-1" >{[{ c.name }]}</a></li>
                                    </ul>
                                </div>

                                <input type="hidden" id="country" value="0" name="country">
                            </div>


                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Postal code:</label>
                                    <input type="text" class="form-control" placeholder="Enter your postal code here" id="postCode" name="postCode" ng-model="$parent.postCode" ng-pattern="/^[a-zA-Z0-9\- ]*$/"
                                           tooltip-placement="top"
                                           tooltip="Please enter your post code. This field can't contain any special characters, only letters and numbers."
                                           tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.postCode.$invalid && reg_form.postCode.$touched] }]}"
                                           required>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>City:</label>
                                    <input type="text" class="form-control" placeholder="Enter your city name here" id="uCity" name="uCity" ng-model="$parent.uCity" ng-pattern="/^[a-zA-Z0-9 ]*$/"
                                           tooltip-placement="top"
                                           tooltip="Please enter your city here. This field can't contain any special characters, only letters and numbers."
                                           tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.uCity.$invalid && reg_form.uCity.$touched] }]}"
                                           required>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Address:</label>
                                    <input type="text" class="form-control" placeholder="Enter your address here" id="address" name="address" ng-model="$parent.address" ng-pattern="/^[a-zA-Z0-9/'/./, ]*$/"
                                           tooltip-placement="top"
                                           tooltip="Please enter your address. This field can't contain any special characters, only letters and numbers."
                                           tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.address.$invalid && reg_form.address.$touched] }]}"
                                           required>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label>Phone:</label>
                                    <input type="text" class="form-control" placeholder="Enter your phone number here" id="phone" name="phone" ng-model="$parent.phone" ng-pattern="/^[0-9/-]*$/"
                                           tooltip-placement="top"
                                           tooltip="Please enter your phone number. This field can contain only numbers."
                                           tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.phone.$invalid && reg_form.phone.$touched] }]}"
                                           required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="account-type">
                                    <input id="suplier" type="radio" ng-model="accType" ng-click="enable_validation=false" name="accType" value="0">
                                    <label for="suplier">Supplier</label>
                                    <input id="buyer" type="radio" ng-model="accType" ng-click="enable_validation=false" name="accType" value="1">
                                    <label for="buyer">Buyer</label>
                                    <input id="both" type="radio" ng-model="accType" ng-click="enable_validation=false" name="accType" value="2">
                                    <label for="both">Both</label>
                                </div>
                            </div>
                        </div>

                        <div ng-show="accType">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <label>Company name:</label>
                                        <input type="text" class="form-control" placeholder="Enter your company name here" id="companyName" name="companyName" ng-model="$parent.companyName" ng-pattern="/^[a-zA-Z0-9 ]*$/"
                                               tooltip-placement="top"
                                               tooltip="Please enter your company's name. This field can't contain any special characters, only letters and numbers."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.companyName.$invalid && reg_form.companyName.$touched] }]}"
                                               required>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-show="accType=='0' || accType=='2'">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="enable_validation" name="enable_validation">
                                            I want to verify my company.
                                        </label><br>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div ng-show="enable_validation">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label>Company's city:</label>
                                        <input type="text" class="form-control" placeholder="Enter your company's city here"  id="cCity" name="cCity" ng-pattern="/^[a-zA-Z ]*$/" ng-model="$parent.cCity" ng-required="enable_validation"
                                               tooltip-placement="top"
                                               tooltip="Please enter your company's city. This field can't contain any special characters, only letters."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.cCity.$invalid && reg_form.cCity.$touched] }]}"/>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label>Company's address:</label>
                                        <input type="text" class="form-control" placeholder="Enter your company's address here"  id="cAddress" name="cAddress" ng-pattern="/^[a-zA-Z0-9/'/./, ]*$/" ng-model="$parent.cAddress" ng-required="enable_validation"
                                               tooltip-placement="top"
                                               tooltip="Please enter your company's address. This field can't contain any special characters, only letters and numbers."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.cAddress.$invalid && reg_form.cAddress.$touched] }]}"/>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label>Company's phone:</label>
                                        <input type="text" class="form-control" placeholder="Enter your company's phone number here" id="cPhone" name="cPhone" ng-model="$parent.cPhone" ng-pattern="/^[0-9/-]*$/" ng-required="enable_validation"
                                               tooltip-placement="top"
                                               tooltip="Please enter your comapany's phone number. This field can contain only numbers."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.cPhone.$invalid && reg_form.cPhone.$touched] }]}"/>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Company's country</label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle dropdown-normal" ng-click="touched(1)" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"
                                                tooltip-placement="top"
                                                tooltip="Please select country the company."
                                                tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[vatC == null && cc_touched == true] }]}" >

                                            {[{ valid_c_select }]}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                            <li ng-repeat="country in vat_country" role="presentation"><a ng-click="set_valid_c(country.value, country.label)" role="menuitem" tabindex="-1" >{[{ country.label }]}</a></li>
                                        </ul>
                                    </div>
                                    <input type="hidden" id="vatC" value="-1" name="vatC">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <label>Validation method:</label>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle dropdown-normal" ng-click="touched(2)" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"
                                                    tooltip-placement="top"
                                                    tooltip="Please select validation method."
                                                    tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[validationMethod == null && m_touched == true] }]}" >

                                                {[{ validationMethod_name }]}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                                <li ng-repeat="method in validationMethods" role="presentation"><a ng-click="setValidMethod(method.id, method.name)" role="menuitem" tabindex="-1" >{[{ method.name }]}</a></li>
                                            </ul>
                                        </div>

                                        <input type="hidden" id="v_method" value="-1" name="v_method">

                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="validationMethod == 0">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label>VAT Code:</label>
                                        <input type="text" class="form-control" placeholder="Enter your VAT code here" id="vat" name="vat" ng-model="$parent.vat" ng-pattern="/^[0-9]*$/" ng-required="enable_validation && validationMethod == 0"
                                               tooltip-placement="top"
                                               tooltip="Please enter your company's VAT number."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[reg_form.vat.$invalid && reg_form.vat.$touched] }]}"/>

                                    </div>

                                    <div class="register-buttons pull-right">
                                        <button type="button" ng-click="validate()" class="btn btn-submit">Check VAT</button>
                                    </div>
                                    <label ng-show="loading">Checking VAT...</label>
                                    <label>{[{ vat_res }]}</label>
                                </div>

                            </div>


                            <div class="row" ng-show="validationMethod == 1">
                                <div class="col-md-4">
                                    <label>Upload some image of proof that you own that company (example: bill etc.)</label>
                                    <div class="img-ul hidden" ng-init="loadTag()">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-buy cloudinary-fileupload" ng-click="imgUl()">Upload Image</button>
                                    <div class="status">
                                    </div><br>
                                    <div></div>
                                    <div class="preview">
                                    </div>
                                    <input type="hidden" id="validation_imgs" name="validation_imgs" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input name="agreement" ng-model="agreement" id="agreement" type="checkbox">
                                        I accept licence agreements and Privacy Policy.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="register-buttons">
                            <button ng-disabled="!(reg_form.$valid && agreement
            && (!enable_validation ||
            (enable_validation && validationMethod == 0 && validated) ||
            (enable_validation && validationMethod == 1 && img_uploaded)))" class="btn btn-submit" onclick="formhash(this.form, this.form.password, this.form.password_verify);">Register</button>
                        </div>


                    </div><!-- /col-md-12 -->
                </form>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript" src="js/img_uploader.js"></script>