
<!-- ////////////////////////////////////////////////-->
<!--SEARCH BAR-->
<!-- ////////////////////////////////////////////////-->

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="input-group search-bar-wrap" ng-controller="search_bar">

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-search" data-toggle="dropdown" ng-bind="selectedType" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down"></span></button>
                    <ul class="dropdown-menu dropdown-categories" role="menu">
                        <li ng-repeat="type in searchTypes"><a href="" ng-click="selectType(type);">{[{ type }]}</a></li>
                    </ul>
                </div><!-- /btn-group -->

                <input type="text" class="form-control search-bar" ng-enter="search()" ng-model="searchQuery" aria-label="..." placeholder="Search for...">

                 <span class="input-group-btn">
                    <button class="btn btn-default search-bar-btn" ng-click="search();" type="button">SEARCH</button>
                 </span>

            </div><!-- /input-group -->

        </div><!-- /.col-lg-12 -->
    </div>
</div>

<!-- ////////////////////////////////////////////////-->
<!--SEARCH CONTENT BAR-->
<!-- ////////////////////////////////////////////////-->


<div class="container" ng-init="searchCall()">
    <div ng-show="show_loading">
        <div class="loader">
            <div id="circularG">
                <div id="circularG_1" class="circularG">
                </div>
                <div id="circularG_2" class="circularG">
                </div>
                <div id="circularG_3" class="circularG">
                </div>
                <div id="circularG_4" class="circularG">
                </div>
                <div id="circularG_5" class="circularG">
                </div>
                <div id="circularG_6" class="circularG">
                </div>
                <div id="circularG_7" class="circularG">
                </div>
                <div id="circularG_8" class="circularG">
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!show_loading">

        <div class="col-md-12">
            <div class="search-results-info">
                <h2>SEARCH RESULTS: <span>{[{ search_query }]} </span> </h2>
                <p><span></span> We've found {[{ query_number }]} search results</p>
            </div>

        </div>
        <div ng-repeat="product in search_data">
            <div class="col-md-12 ">
                <div class="products-item">
                    <div class="col-md-2">
                        <a href="/#!/product/{[{ product.id }]}" class="product-photo">
                            <img src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_160,h_162,c_scale/{[{ product.pictures[0] }]}.png" alt=""/>
                        </a>
                    </div>
                    <div class="col-md-10 products-list-info">

                        <a href="/#!/product/{[{ product.id }]}">
                            <h3>{[{ product.name }]}</h3>
                        </a>
                        <div ng-repeat="variation in product.variations">
                            <div ng-show="$index == 0">
                                <div ng-repeat="info in variation">
                                    <div class="col-md-6 clear-paddings" ng-show="$index < 5">
                                        <p><span>{[{ info.data }]}:</span> {[{ info.value | limitTo: 19 }]}{[{info.value.length < 19 ? '' : '...'}]}</p>
                                    </div>
                                    <div class="col-md-6 clear-paddings" ng-show="$index >= 5">
                                        <p><span>{[{ info.data }]}:</span> {[{ info.value | limitTo: 19 }]}{[{info.value.length < 19 ? '' : '...'}]}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-list-price">
                            <p>Price:</p>
                            <h3>{[{ product.price }]} <span>{[{ product.currency }]}</span></h3>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-offset-4 col-md-5">
            <nav>
                <pagination total-items="query_number" items-per-page="10" page="page" ng-model="page" max-size="max_pages_displayed" class="pagination pagination-pages" boundary-links="true" rotate="true"></pagination>
            </nav>
        </div>

    </div>


    </div>
</div>
