<div class="body-services">

<div id="home" class="header-profile header-profile-notifs header-services-top">
    <div class="container">
        <div class="row">
            <div class="col-md-2 header-services-top-container">
                <a href="#"><span class="glyphicon glyphicon-earphone"></span>019 28897648</a>
            </div>
            <div class="col-md-2 header-services-top-container">
                <a href="mailto:services@flybuy.world"><span class="glyphicon glyphicon-envelope"></span>services@flybuy.world</a>
            </div>
        </div>
    </div>
</div>
<hr class="top-hr">

<div class="header-profile header-profile-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo">
                <a href="#">
                    <img src="{[{ path }]}images/logo.png" alt="flybuy logo"/>
                </a>
            </div>
            <div class="col-md-9 ">
                <nav class="nav-services">
                    <ul class="pull-right">
                        <li>
                            <a id="nav-home" href="" ng-click="scrollTo('home')">HOME</a>
                        </li>
                        <li>
                            <a id="nav-services" href="" ng-click="scrollTo('services')">SERVICES</a>
                        </li>
                        <li>
                            <a id="nav-projects" href="" ng-click="scrollTo('projects')">PROJECTS</a>
                        </li>
                        <li>
                            <a id="nav-team" href="" ng-click="scrollTo('team')">TEAM</a>
                        </li>
                        <li>
                            <a id="nav-hireus" href="" ng-click="scrollTo('hire')">HIRE US</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.header-profile -->

<!--SLIDER STARTS HERE-->
<div class="container-fluid slider-homepage slider-services">
    <div class="container slider-content-services">
        <div class="slider-content-wrap">
            <h1>FLYBUY LTD</h1>
            <h4>All kinds of web services in one place!</h4>
        </div>
    </div>
</div>
<!--SLIDER ENDS HERE-->

<!-- Services starts here -->
<div id="services" class="container-fluid">
    <div class="container">

        <div class="row">
            <div class="col-md-12 box-services">
                <h3>How does our professional team work ?</h3>
                <h5>Tell us your needs and we will help you solve the problem.</h5>


                <div class="col-md-3">
                    <div class="single-service">

                        <div class="services-circle">
                            <img src="{[{ path }]}images/webdesign-icon.png" alt=""/>
                        </div>
                        <h5>WEB DESIGN</h5>
                        <h6>Modern, elegant, fast web design</h6>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="single-service">

                        <div class="services-circle services-circle-webdev">
                            <img src="{[{ path }]}images/webdev-icon.png" alt=""/>
                        </div>
                        <h5>WEB DEVELOPMENT</h5>
                        <h6>We can make your website dreams a reality</h6>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="single-service">

                        <div class="services-circle services-circle-graphic">
                            <img src="{[{ path }]}images/graphic-icon.png" alt=""/>
                        </div>
                        <h5>GRAPHIC DESIGN</h5>
                        <h6>Need a logo for your company?</h6>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="single-service">

                        <div class="services-circle services-circle-ukcall">
                            <img src="{[{ path }]}images/ukcall-icon.png" alt=""/>
                        </div>
                        <h5>UK CALL HANDLING</h5>
                        <h6>Never miss a call again with ourprofessional and officient team.</h6>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>
<!-- Services ends here -->

<!-- Latest projects starts here -->
<div id="projects" class="container-fluid container-projects">
    <div class="container">
        <div class="col-md-12 box-services">
            <h3>How does our professional team work ?</h3>
            <h5>Tell us your needs and we will help you solve the problem.</h5>

            <div class="row ">
                <div class="col-md-4 single-project-services">
                    <div class="project-single">
                        <img src="{[{ path }]}images/project-serv-1.jpg" alt=""/>
                        <div class="project-description">
                            <h5>E-Commerce website</h5>
                            <p>E-commerce site for UK company. Based on Bootstrap,
                                Angular.JS and Wordpress.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-project-services">
                    <div class="project-single">
                        <img src="{[{ path }]}images/project-serv-2.jpg" alt=""/>
                        <div class="project-description">
                            <h5>E-Commerce website</h5>
                            <p>E-commerce site for UK company. Based on Bootstrap,
                                Angular.JS and Wordpress.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-project-services">
                    <div class="project-single">
                        <img src="{[{ path }]}images/project-serv-3.jpg" alt=""/>
                        <div class="project-description">
                            <h5>E-Commerce website</h5>
                            <p>E-commerce site for UK company. Based on Bootstrap,
                                Angular.JS and Wordpress.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Latest projects ends here -->

<!-- TEAM starts here-->
<div id="team" class="container-fluid team-container">
    <div class="container">
        <div class="col-md-12 box-services">
            <h3>Meet the team</h3>
            <h5>Lovely people doing the best job ever</h5>

            <div class="row">
                <div class="col-md-4 single-team-member">

                    <div class="member-image member-ceo"></div>

                    <h5>SIMON MILLS</h5>
                    <h6>CEO</h6>

                </div>

                <div class="col-md-4 single-team-member">

                    <div class="member-image member-designer"></div>

                    <h5>STEFAN STANKOVIC</h5>
                    <h6>WEB Designer and Front-End Developer</h6>

                </div>

                <div class="col-md-4 single-team-member">

                    <div class="member-image member-developer"></div>

                    <h5>ALEKSA STANKOVIC</h5>
                    <h6>WEB Developer</h6>

                </div>
            </div>

        </div>
    </div>


    <!--Subscribe stuff goes here - START -->
    <!--div class="container subscribe-services">
        <div class="row">
            <div class="col-md-6">
                <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                <p>Leave your email here so we can send you newsletters and keep you updated with our work.</p>
            </div>
            <div class="col-md-6">
                <div class="input-group subscribe-input">
                    <input type="text" class="form-control" placeholder="Enter your email address here">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-services-submit" type="button">SUBMIT</button>
                      </span>
                </div>
            </div>
        </div>
    </div-->

    <!--Subscribe stuff goes here -  END -->
</div>
<!-- TEAM ends here-->

<div id="hire" class="container-fluid container-services-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>GET FLYBUY TO CREATE YOUR WEBSITE</h3>
            </div>
            <div class="col-md-6">

            <form name="serv">
                <div class="input-group input-services-form">
                    <label>Your name:</label>
                    <input type="text" class="form-control" ng-model="con_name" placeholder="Enter your name here" required>
                </div><!-- /input-group -->

                <div class="input-group input-services-form">
                    <label>Your email address:</label>
                    <input type="email" class="form-control" ng-model="con_email" placeholder="Enter your email address here" required>
                </div><!-- /input-group -->

                <div class="input-group input-services-form">
                    <label>Phone/skype:</label>
                    <input type="text" class="form-control" ng-model="con_skype" placeholder="Enter your phone/skype here">
                </div><!-- /input-group -->

                <div class="input-group input-services-form dropdown-services">
                    <label>Type of website:</label>
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {[{ selected_type }]}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-services-menu" role="menu" aria-labelledby="dLabel">
                        <li ng-repeat="type in types track by $index" ng-click="selectType($index)">{[{ type }]}</li>
                    </ul>
                </div>

                <div class="input-group input-services-form">
                    <label>Website description:</label>
                    <textarea ng-model="con_description" placeholder="Please, give us a brief description of the website you want us to create." class="form-control" required></textarea>
                </div><!-- /input-group -->

                <div class="input-group input-services-form">
                    <label>Budget:</label>
                    <input type="text" class="form-control" ng-model="con_budget" placeholder="What is your budget?" required>
                </div><!-- /input-group -->

                <div class="input-group input-services-form">
                    <label>Time scale:</label>
                    <input type="text" class="form-control" ng-model="con_time" placeholder="What is your time scale?" required>
                </div><!-- /input-group -->
{[{ status_msg }]}
                <button type="button" ng-click="submitForm()" ng-disabled="!serv.$valid" class="btn btn-default btn-submit-services pull-right">SEND</button>
            </form>
            </div>

            <div class="col-md-5 col-md-offset-1 services-contact">
                <h6>You can also contact us by: </h6>
                <table class="services-table">
                    <tr>
                        <td>Phone:</td>
                        <td>01928897648</td>
                    </tr>
                    <tr>
                        <td>Skype:</td>
                        <td>flybuyworld</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>services@flybuy.world</td>
                    </tr>
                </table>
                <img src="{[{path}]}images/services-contact.png" alt="services-image"/>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-footer">
    <div class="container">
        <div class="col-md-4 left-side">
            <a href="/">@flybuyworld</a> 2015, All rights reserved
        </div>
        <div class="col-md-8">
            <nav class="nav-services nav-services-footer">
                <ul class="pull-right">
                    <li>
                        <a href="" ng-click="scrollTo('home')">HOME</a>
                    </li>
                    <li>
                        <a href="" ng-click="scrollTo('services')">SERVICES</a>
                    </li>
                    <li>
                        <a href="" ng-click="scrollTo('projects')">PROJECTS</a>
                    </li>
                    <li>
                        <a href="" ng-click="scrollTo('team')">TEAM</a>
                    </li>
                    <li>
                        <a href="" ng-click="scrollTo('hire')">HIRE US</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</div>