<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-md-10">
            <div class="single-product-container">

                <div class="col-md-4">
                    <div class="image-widget-wrap">
                        <div class="image-full">
                            <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/{[{ selectedImage }]}.png" alt=""/>
                        </div>
                        <div class="images-of-product">
                            <div class="single-image" ng-repeat="(id, pic) in images" ng-class="{true:'active',false:''}[selectedImage == pic]">
                                <img ng-click="selectImage(pic)" ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_50,h_50/{[{ pic }]}.png" alt=""/>
                            </div>

                        </div>
                    </div>

                    <div class="share-product">
                        Share:
                        <ul>
                            <li>
                                <a href="" socialshare="" socialshare-provider="facebook" socialshare-url="http://178.149.209.50/{[{ contentUrl }]}">
                                    <img src="{[{ path }]}images/facebook-share.png" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href=""  socialshare="" socialshare-provider="twitter" socialshare-url="http://flybuy.world/{[{ contentUrl }]}">
                                    <img src="{[{ path }]}images/twitter-share.png" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="" socialshare="" socialshare-provider="google+" socialshare-url="http://flybuy.world/{[{ contentUrl }]}">
                                    <img src="{[{ path }]}images/google-share.png" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="" socialshare="" socialshare-provider="pinterest" socialshare-url="http://flybuy.world/{[{ contentUrl }]}">
                                    <img src="{[{ path }]}images/pinterest-share.png" alt=""/>
                                </a>
                            </li>
                            <!--li>
                                <a href="">
                                    <img src="../images/email-share.png" alt=""/>
                                </a>
                            </li-->
                        </ul>
                    </div>
                    <div class="product-payment-methods">
                        <h6>Payment methods:</h6>
                        <div class="row">
                            <div class="col-md-12">
                                    <!-- IMAGE PayPal-->
                                        <img ng-repeat="(key, val) in product_data.payment_methods" ng-if="key == 0" src="{[{path}]}images/pm-product-tr.png" alt=""/>
                                    <!-- IMAGE WesternUnion-->
                                        <img ng-repeat="(key, val) in product_data.payment_methods" ng-if="key == 1" src="{[{path}]}images/pm-product-pp.png" alt=""/>
                                    <!-- IMAGE MoneyGram-->
                                        <img ng-repeat="(key, val) in product_data.payment_methods" ng-if="key == 2" src="{[{path}]}images/pm-product-wu.png" alt=""/>
                                    <!-- IMAGE Transpact-->
                                        <img ng-repeat="(key, val) in product_data.payment_methods" ng-if="key == 3" src="{[{path}]}images/pm-product-tr.png" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="header-single-post">
                        <h3 ng-bind="product_data['name']"></h3>
                        <div class="ratings">
                            <div ng-repeat="Star in [1,2,3,4,5]"  style="display: inline-flex">
                                <div ng-switch="product_data['raiting'] >= Star">
                                    <span ng-switch-when="true" class="glyphicon glyphicon-star full-star"></span>
                                    <span ng-switch-when="false" class="glyphicon glyphicon-star empty-star"></span>
                                </div>
                            </div>
                            <span class="font-bolder" ng-bind="product_data['raiting']"></span> / 5.0  | Orders already made: <span class="font-bolder" ng-bind="product_data['sold_quantity']"></span>
                        </div>
                        <div class="supplier">
                            {[{ product_data['company_name'] }]}
                            <img ng-if="product_data['company_validated'] == 1" src="{[{ path }]}images/suplier-singlep-verified.png" alt="" tooltip-placement="left" tooltip="Supplier is verified." tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[true] }]}"/>
                            <img ng-if="product_data['company_validated'] == 2" src="{[{ path }]}images/suplier-singlep-not-verified.png" alt="" tooltip-placement="left" tooltip="Waiting for FlyBuy to approve validation." tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[true] }]}"/>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="col-md-12 product-price ">
                            <table>
                                <tr>
                                    <td>Price:</td>
                                    <td>{[{ product_data['price'] }]} {[{ product_data['currency'] }]}</td>
                                </tr>
                            </table>
                        </div>
                            <div class="col-md-12 product-form">
                                <table>
                                    <!--tr>
                                        <td>Shipping:</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                    Selected Category
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category 1</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr-->

                                    <tr>
                                        <td>Variation:</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle dropdown-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                    <div ng-if="buy_variation == undefined">Select variation</div>
                                                    <div ng-if="buy_variation != undefined">Variation {[{ buy_variation + 1 }]}</div>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-normal" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li role="presentation" ng-repeat="(k, v) in variations"><a ng-click="selectVariation($index, k)" role="menuitem" tabindex="-1" href="">Variation {[{ $index + 1 }]}</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Quantity:</td>
                                        <td class="quantity">
                                            <div class="input-group">
                                                <input type="text" ng-model="buy_quantity" ng-change="priceCalculator()" class="form-control" placeholder="Buy" ng-pattern="/^[0-9]*$/">
                                                <span>unit(s) | {[{ totalAvailable }]} unit(s) left </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr >
                                        <td>Total price:</td>
                                        <td class="total-price">{[{ checkoutPrice }]} {[{ product_data['currency'] }]}</td>
                                    </tr>

                                </table>
                                <div class="buttons-right pull-right" ng-show="id != undefined && accountType != 0 && product_data.user_id != id">
                                    <button type="button" ng-disabled="checkAvailable() || buy_variation == undefined ||checkoutPrice <= 0" class="btn btn-buy"  data-toggle="modal" data-target=".bs-buy-modal">BUY NOW</button>
                                    <button type="button" ng-disabled="inCart" ng-click="addToCart()" class="btn btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span>ADD TO CART</button>
                                </div>
                            </div>
                    </div> <!-- /PRODUCT FORM-->
                    <div class="modal fade bs-buy-modal" tabindex="-1" role="dialog" aria-labelledby="buy-modal" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content modal-buy-now">
                                <div class="panel panel-default content-container">
                                    <div class="panel-heading content-title">
                                        <h3 class="panel-title">NEW ORDER</h3>
                                    </div>
                                    <div class="panel-body panel-content">
                                        You are about to order a product. Please, check all the informations before you order it.
                                        <hr/>
                                        <table id="modal-buy-popup-table">
                                            <tr>
                                                <td>Product name:</td>
                                                <td ng-bind="product_data['name']"></td>
                                            </tr>
                                            <tr>
                                                <td>Amount:</td>
                                                <td ng-bind="buy_quantity"></td>
                                            </tr>
                                            <tr>
                                                <td>Price without shipping:</td>
                                                <td>{[{ checkoutPrice + " " + product_data['currency'] }]}</td>
                                            </tr>
                                            <tr>
                                                <td>Selected Variation:</td>
                                                <td>{[{ buy_variation + 1 }]}</td>
                                            </tr>
                                            <tr>
                                                <td>Payment Method:</td>
                                                <td>
                                                    <select ng-show="payment_methods_list[0] != undefined" ng-options="m.id as m.name for m in payment_methods_list" ng-model="payment_method"></select>
                                                    <label ng-show="payment_methods_list[0] == undefined">Please add <a href="/#!/payment-methods">payment methods</a> to your account.</label>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="notes-buy-product">
                                            <label>Notes:</label>
                                            <textarea class="textarea-normal" placeholder="Anything you wanna say to supplier?" ng-model="buy_notes"></textarea>
                                        </div>
                                        <hr/>
                                        <div class="buttons-modal-buy pull-right">
                                            <button type="button" class="btn btn-primary btn-buy" ng-disabled="payment_methods_list[0] == undefined" ng-click="createOrder()">BUY</button>
                                            <button type="button" class="btn btn-primary btn-buy" data-dismiss="modal" data-target=".bs-buy-modal">CLOSE</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-guaranties">
                        <table>
                            <tr>
                                <td>Payment methods: </td>
                                <td>{[{ supported_payment_methods }]}</td>
                            </tr>
                            <!--tr>
                                <td>Product description: </td>
                                <td ng-bind="product_data['meta'][0]['description']"></td>
                            </tr>
                            <!--tr>
                                <td>Seller Guarantee:</td>
                                <td>On-time Delivery - 23 days</td>
                            </tr-->
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10">


            <div class="panel panel-default content-container">
                <div class="panel-heading content-title paneltitle-single-product">

                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" ng-class="{true:'active', false:''}[selectedTab == 'description']"><a href="" ng-click="setTab('description')" aria-controls="product-details" role="tab" data-toggle="tab">PRODUCT DETAILS</a></li>
                            <li role="presentation" ng-class="{true:'active', false:''}[selectedTab == 'variations']"><a href="" ng-click="setTab('variations')" aria-controls="variations" role="tab" data-toggle="tab">VARIATIONS</a></li>
                            <li role="presentation" ng-class="{true:'active', false:''}[selectedTab == 'feedback']"><a href="" ng-click="setTab('feedback')" aria-controls="feedback" role="tab" data-toggle="tab">FEEDBACK</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body panel-content">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane tab-pane-product-details" id="product-details" ng-class="{true:'active', false:'hidden'}[selectedTab == 'description']">
                            <table>
                                <tr>
                                    <td>Description:</td>
                                    <td ng-bind="product_data['meta'][0]['description']"></td>
                                </tr>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-pane-variations" id="variations" ng-class="{true:'active', false:'hidden'}[selectedTab == 'variations']">

                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-variations" role="tablist" >
                                    <li ng-repeat="variation in variations track by $index" role="presentation" ng-class="{true:'active', false:''}[selectedVariation == $index]"><a href="" ng-click="selectVariationPreview($index)" aria-controls="home" role="tab" data-toggle="tab">Variation {[{ $index +1 }]}</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane" ng-repeat="variation in variations" ng-class="{true:'active',false:'hidden'}[selectedVariation == $index]">
                                        <table class="variation-table" ng-repeat="entity in variation">
                                            <tr>
                                                <td ng-bind="entity.data"></td>
                                                <td ng-bind="entity.value"></td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="feedback" ng-class="{true:'active', false:'hidden'}[selectedTab == 'feedback']">
                            <div class="row">
                                <div class="col-md-12 review-single" ng-show="loading">
                                    <div class="loader">
                                        <div id="circularG">
                                            <div id="circularG_1" class="circularG">
                                            </div>
                                            <div id="circularG_2" class="circularG">
                                            </div>
                                            <div id="circularG_3" class="circularG">
                                            </div>
                                            <div id="circularG_4" class="circularG">
                                            </div>
                                            <div id="circularG_5" class="circularG">
                                            </div>
                                            <div id="circularG_6" class="circularG">
                                            </div>
                                            <div id="circularG_7" class="circularG">
                                            </div>
                                            <div id="circularG_8" class="circularG">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 review-single" ng-show="reviewsCount == 0 && !loading">
                                    No feedbacks found, be the first one to rate this product!
                                </div>

                                <div class="col-md-12 review-single" ng-show="!(loading || reviewsCount == 0)">
                                    <div class="row" ng-repeat="review in reviews" ng-show="$index < 5">
                                        <div class="col-md-1">
                                            <div class="reviewer-img">
                                                <a href="/#!/user/{[{ review.user_id }]}/reviews">
                                                    <img ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_40,h_40,c_scale/v{[{ review.img_ver }]}/u/{[{ review.user_id }]}/prof.png" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-11">
                                            <h6><a href="/#!/user/{[{ review.user_id }]}/reviews">{[{ review.rater_firstname + " " + review.rater_lastname }]}</a></h6>
                                            <div class="review-content">
                                                {[{ review.message }]}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="review-rating">
                                                            <div ng-repeat="Star in [1,2,3,4,5]"  style="display: inline-flex">
                                                                <div ng-switch="review.rate >= Star">
                                                                    <span ng-switch-when="true" class="glyphicon glyphicon-star full-star"></span>
                                                                    <span ng-switch-when="false" class="glyphicon glyphicon-star empty-star"></span>
                                                                </div>
                                                            </div>
                                                            <span class="rating-of-5">{[{ review.rate }]}/5</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="review-date pull-right">
                                                            <p>Date:</p>
                                                            <p>{[{ review.date }]} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-12" ng-show="reviewsCount > 5">
                                    <div class="pagination-products pagination-reviews">
                                        <span>PAGE: </span>
                                        <nav>
                                            <ul class="pagination pagination-sm ">
                                                <pagination total-items="reviewsCount" items-per-page="5" page="current_pagination_reviews" ng-click="changePage()" max-size="5" class="pagination pagination-pages" boundary-links="true"></pagination>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-show="my_id != product_data['user_id'] && id != undefined">
                                    <div class="write-review">
                                        Tell others about this product:
                                        <textarea name="textarea-reviews" ng-model="submitReviewMsg"></textarea>
                                        <div class="give-rate-submit">
                                            <button type="button" ng-click="submitReview()" ng-disabled="textLength == 0" class="btn btn-default btn-rating-submit pull-right">SUBMIT</button>
                                            <div class="review-rating">
                                                <rating value="rate" max="5" readonly="false"></rating>
                                                {[{ rated_answer }]}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>