<div class="container">
    <div class="row">
        <div class="col-md-12 ">

            <div class="container-fullwidth">
                <div class="row">
                    <div class="col-md-12 404-content">
                        <h1>COMING SOON!</h1>
                        <p>This page is not available at the moment,</p>
                        <p>please come back later, or go back to <a href="/">homepage.</a></p>

                        <p class="foot-help-404">
                            If you need any help please contact us at: <a href="mailto:service@flybuy.world">service@flybuy.world</a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>