<div ng-if="current_id == undefined" class="container">
    <div class="row">
        <div class="col-md-12 ">

            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">ADD TRANSPACT ACCOUNT</h3>
                </div>
                <div class="panel-body panel-content">
                    Please login.
                </div>
                </div>
            </div>
        </div>
    </div>

 <div ng-show="current_id != undefined" class="container" ng-init="userFetch()">
    <div class="row">
        <div class="col-md-12 ">

            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">ADD TRANSPACT ACCOUNT</h3>
                </div>
                <div class="panel-body panel-content">
                    <p>Before you can buy or sell anything, you need a Transpact™ account. Transpact™ is Europe's leading escrow service, an FCA Authorised and Regulated method of payment that guarantees buyers receive exactly what they paid for, or their money back; and guarantees sellers receive 100% of their due payment, with interest, without ever having to chase debt.</p>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="input-group">
                                <label>Email address you use for transpact:</label>
                                <input type="text" class="form-control" ng-model="transpact" placeholder="Transpact email">
                            </div>
                        </div>
                    </div>
                    <p>
                        If you dont have an transpact account you can create it <a href="https://www.transpact.com/Secure/Register.aspx?RegEmail=&co=FlyBuy" target="_blank">HERE</a> it is absolutely free.
                    </p>
                    <div ng-if="status_msg" ng-bind="status_msg"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <button type="button" ng-disabled="!m" ng-click="submitT()" class="btn btn-default btn-single-order btn-single-order-approve pull-right">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>