
<div id="new_prod" class="container" ng-show="logedIn == 0 || accountType == 1" ng-init="loadProduct()">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default content-container">
                <div class="panel-heading content-title">
                    <h3 class="panel-title">UPDATE PRODUCT</h3>
                </div>
                <div class="panel-body panel-content">
                    <div ng-show="logedIn == 0">
                        Please login in order to continue.
                    </div>
                    <div ng-show="accountType == 1">
                        In order to submit a new product your account type has to be either "Supplier" or "Both".
                        Please modify your account in order to continue.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-hide="logedIn == 0 || accountType == 1">
    <form name="update_product" novalidate>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">UPDATE PRODUCT</h3>
                        </div>
                        <div class="panel-body panel-content">

                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="input-group">
                                        <label>Product name:</label>
                                        <input type="text"
                                               class="form-control"
                                               name="name"
                                               placeholder="Name of product"
                                               ng-model="pName"
                                               ng-pattern="/^[a-zA-Z0-9\.\- ]*$/"
                                               required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7 ">
                                    <label>Price per unit</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Price per unit" ng-model="$parent.price" name="price" ng-pattern="/^[0-9]*$/"
                                               tooltip-placement="top"
                                               tooltip="This field is required and can contain only numbers."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[update_product.price.$invalid && update_product.price.$touched] }]}"
                                               required>
                                        <div class="input-group-btn" >
                                            <button type="button" class="btn btn-default dropdown-toggle dropdown-currency-button" data-toggle="dropdown" aria-expanded="false" >{[{ currency }]}<span class="caret"></span></button>

                                            <ul class="dropdown-menu dropdown-menu-right dropdown-currency" ng-model="currency" role="menu">
                                                <li ng-repeat="c in currencies"><a ng-click="setCurrency($index)">{[{ c }]}</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div><!-- /input-group -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <label>Quantity:</label>
                                        <input class="form-control" placeholder="Number of units you are willing to sell" ng-model="$parent.available" name="quantity" ng-pattern="/^[0-9]*$/"
                                               tooltip-placement="top"
                                               tooltip="This field is required and can contain only numbers."
                                               tooltip-trigger="{[{ {true: 'mouseenter', false: 'never'}[update_product.quantity.$invalid && update_product.quantity.$touched] }]}"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <label>Description: </label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea ng-model="description" class="textarea-normal" placeholder="Description of your product."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">BULK PRICES</h3>
                        </div>
                        <div class="panel-body panel-content">
                            <div class="row" ng-show="discounts.length != 0">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <label>Discount quantitiy:</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <label>Discount amount:</label>
                                    </div>
                                </div>
                            </div>

                            <div ng-repeat="disc in discounts track by $index">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quantity of items needed for discount" name="disc_q_{[{$index}]}" ng-model="disc.discount_quantity" ng-pattern="/^[0-9]*$/">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Discount amount" name="disc_v_{[{$index}]}" ng-model="disc.discount_value" ng-pattern="/^[0-9]*$/">

                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="input-group">

                                            <select ng-model="disc.discount_type">
                                                <option ng-repeat="d in discountType">{[{ d }]}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div ng-show="price && disc.discount_value && disc.discount_quantity">
                                                Price for {[{ disc.discount_quantity }]} units of a product would cost: {[{ calculateDiscount(disc.discount_value, disc.discount_type, disc.discount_quantity) }]} {[{ currency }]}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="input-group">
                                            <a href="" ng-click="removeDiscount($index)">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-add-more center-block" ng-click="addDiscount()">Add more bulk prices</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--PICTURES-->

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">PICTURES</h3>
                        </div>
                        <div class="panel-body panel-content">
                            <div class="btn-image img-uploader">
                                Browse images or just drag and drop them here.
                                <!-- input type="file" class="btn-image-upload"-->

                            </div>
                            <div class="img-ul hidden" ng-init="loadTag()">
                            </div>

                            <div class="status">
                            </div>
                            <div class="row">
                                <div class="preview col-md-12">
                                    <img ng-repeat="img in image_ids" class="{[{ img }]}" ng-src="https://res.cloudinary.com/{[{ cloudinary }]}/image/upload/w_200,c_scale/{[{ img }]}.png">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- SHIPPING

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">SHIPPING</h3>
                        </div>
                        <div class="panel-body panel-content">

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <label>Shipping company:</label>
                                        <input type="text" class="form-control" placeholder="Placeholder example">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7">
                                    <label>Description: </label>
                                    <textarea class="textarea-normal" placeholder="Enter some text here"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 ">
                                    <button type="button" class="btn btn-default btn-add-more center-block">Add more buld prices</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->



            <!-- ADD VARIATIONS -->
            <div class="row" ng-show="category">
                <div class="col-md-12">

                    <div class="panel panel-default content-container">
                        <div class="panel-heading content-title">
                            <h3 class="panel-title">VARIATIONS OF PRODUCT</h3>
                        </div>

                        <div class="panel-body panel-content panel-variations" ng-show="!variation_loaded">
                            <div class="col-md-4">
                                <div class="loader">
                                    <div id="circularG">
                                        <div id="circularG_1" class="circularG">
                                        </div>
                                        <div id="circularG_2" class="circularG">
                                        </div>
                                        <div id="circularG_3" class="circularG">
                                        </div>
                                        <div id="circularG_4" class="circularG">
                                        </div>
                                        <div id="circularG_5" class="circularG">
                                        </div>
                                        <div id="circularG_6" class="circularG">
                                        </div>
                                        <div id="circularG_7" class="circularG">
                                        </div>
                                        <div id="circularG_8" class="circularG">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body panel-content panel-variations" ng-show="variation_loaded">
                            <!--Panel content -->
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li ng-repeat="variation in variations track by $index" ng-class="{'active': selectedVariation == $index}" role="presentation">
                                        <a href="" ng-click="setSelectedVariation($index)" aria-controls="home" role="tab" data-toggle="tab" >VARIATION {[{ $index + 1 }]}</a>
                                    </li>

                                    <li role="presentation">
                                        <a href="" ng-click="addVariation()" class="variation-add-new"><span class="glyphicon glyphicon-plus"></span></a>
                                    </li>

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane .fade active" id="home">

                                        <div ng-repeat='field in fields track by $index'>
                                            <div class="input-group">
                                                <label>{[{ field.val }]}: </label>
                                                <input type="text" class="form-control" placeholder="{[{ field.val }]}" ng-model="variations[selectedVariation][field.val]"/>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <button ng-disabled="!(update_product.$valid)" ng-click="update()" class="btn btn-submit pull-right">SUBMIT</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>$(document).ready(function(){
    $('.img-uploader').on('click',function() {
        $('.cloudinary-fileupload').click();
    });
});</script>