@import "../css/bootstrap.css";
@import "../fonts/fonts.css";
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 20px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  position: absolute;
  text-align: center;
  font-size: .85em;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #489e54;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url(../images/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
  right: 20px;
  transition: none;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
  transition: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(72, 158, 84, 0.7);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
.bxslider li {
  position: relative;
}
.top-slider-over {
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  height: 80px;
  background-color: rgba(72, 158, 84, 0.7);
  font-size: 48px;
  font-family: 'robotoregular';
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}
.slider-info {
  position: absolute;
  bottom: 50px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-style: 'robotoregular';
}
.slider-info p {
  font-style: 'robotoregular';
  font-size: 35px;
  text-transform: uppercase;
}
.slider-info a {
  background-color: #489e54;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 40px;
  border-radius: 4px;
}
.slider-info a:hover {
  text-decoration: none;
  color: #ffffff;
}
.slider-promo-supplier .slider-info p {
  margin-bottom: 40px;
  font-size: 18px;
  background-color: rgba(72, 158, 84, 0.6);
  padding: 20px 0;
}
body {
  background-color: #dddfe4;
  color: #78909c;
}
body a {
  color: #2b2b2b;
  font-size: 12px;
}
body a:hover {
  color: #2b2b2b;
  text-decoration: underline;
  transition: all 0.07s ease-in;
}
h1,
h2,
h3,
h4 {
  font-family: 'benchnineregular';
  text-transform: uppercase;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5,
h6 {
  font-family: 'robotoregular';
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
button {
  outline: none !important;
}
button:focus,
button:active,
button:active {
  outline: none;
}
.btn-normal {
  font-family: 'robotoregular';
  font-size: 14px;
  text-transform: uppercase;
  color: #4b4b4b;
  border: 1px solid #489e54;
  background-color: #ffffff;
  height: 35px;
  border-radius: 0;
  line-height: 0;
  min-width: 190px;
  transition: all 0.07s ease-in;
}
.btn-normal:hover {
  background-color: #489e54;
  border: 1px solid #489e54;
  color: #ffffff;
  transition: all 0.07s ease-in;
}
.btn-add-more {
  background-color: #d7ecda;
  height: 30px;
  padding: 0 20px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 12px;
  font-family: 'robotolight';
  transition: all 0.07s ease-in;
}
.btn-add-more:focus,
.btn-add-more:hover {
  background-color: #489e54;
  color: #ffffff;
  outline: none;
  transition: all 0.07s ease-in;
}
.dropdown-normal {
  height: 35px;
  outline: none;
  padding: 0 20px;
  width: 100%;
  border-radius: 0;
  text-align: left;
  background-color: #edf0f6;
}
.dropdown-normal:focus,
.dropdown-normal:hover,
.dropdown-normal:active {
  background-color: #edf0f6;
  border: 1px solid #489e54;
}
.dropdown-normal span.caret {
  position: absolute;
  right: 10px;
  top: 15px;
}
.dropdown {
  margin-bottom: 20px;
}
.dropdown.open > button.dropdown-normal {
  background-color: #489e54;
  border: 1px solid #489e54;
  color: #ffffff;
}
.dropdown-menu-normal {
  width: 100%;
  background-color: #edf0f6;
  padding: 0;
  border-radius: 0;
  color: #78909c;
  transition: all 0.07s ease-in;
  max-height: 200px;
  overflow-y: scroll;
}
.dropdown-menu-normal li a {
  font-family: 'robotolight';
  color: #78909c;
}
.dropdown-menu-normal li a:hover,
.dropdown-menu-normal li a:focus {
  color: #ffffff;
  background-color: #489e54;
  transition: all 0.07s ease-in;
}
.btn-image {
  background-color: #d7ecda;
  width: 100%;
  height: 110px;
  border: 1px dotted #dddfe4;
  border-radius: 3px;
  text-align: center;
  font-family: 'robotolight';
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background-image: url(../images/cloud-upload.png);
  background-position: center 50px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}
.btn-image:hover {
  border: 1px solid #489e54;
  transition: all 0.3s ease-in;
}
.btn-submit {
  height: 40px;
  border: none;
  padding: 0 25px;
  border-radius: 0;
  font-family: 'robotoregular';
  background-color: #d7ecda;
  box-shadow: 0px 0px 3px #888888;
}
.btn-cancel {
  background-color: #ffffff;
}
.btn-register,
.btn-login {
  float: left;
  margin: 5px 5px;
  display: block;
  padding: 0;
  text-align: center;
  line-height: 35px;
  width: 90px;
  height: 35px;
  background-color: #489e54;
  border: 1px solid #489e54;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'robotolight';
}
.btn-register:hover,
.btn-login:hover,
.btn-register:active,
.btn-login:active,
.btn-register:focus,
.btn-login:focus {
  background-color: #ffffff;
  border: 1px solid #489e54;
  color: #489e54;
}
.btn-login {
  background-color: #ffffff;
  border: 1px solid #dddfe4;
  color: #489e54;
}
.btn-login:hover,
.btn-login:active,
.btn-login:focus {
  background-color: #489e54;
  border: 1px solid #489e54;
  color: #ffffff;
}
.modal-login {
  border-radius: 2px;
  background-color: #ffffff;
  overflow: auto;
  padding: 20px;
  width: 400px;
}
.btn-new-product {
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  background-color: #dddfe4;
}
.btn-new-product:hover,
.btn-new-product:active,
.btn-new-product:focus {
  background-color: #489e54;
  color: #ffffff;
}
.btn-rating-submit {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-rating-submit:hover,
.btn-rating-submit:focus,
.btn-rating-submit:active {
  background-color: #489e54;
  color: #ffffff;
  border-color: #489e54;
}
.btn-add-more-shippings {
  margin: 0 auto;
}
.btn-single-order {
  height: 30px;
  padding: 0 15px;
  background-color: #efefef;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  margin: 0 5px;
}
.btn-single-order.btn-single-order-approve {
  background-color: #92c399;
  color: #ffffff;
}
.btn-buy {
  padding: 0 15px;
  background-color: #489e54;
  border-radius: 0;
  border: 0;
  color: #ffffff;
  font-family: 'robotoregular';
  font-size: 14px;
  height: 35px;
}
.btn-buy:hover,
.btn-buy:active,
.btn-buy:focus {
  color: #ffffff;
  background-color: #489e54;
}
label {
  font-family: 'robotolight';
  font-size: 14px;
  color: #62646a;
  font-weight: 200;
}
.input-group {
  width: 100%;
  margin-bottom: 20px;
}
.input-group input.form-control {
  border-radius: 0;
  background-color: #edf0f6;
  outline: none;
  color: #78909c;
  font-family: 'robotolight';
  height: 35px;
  padding: 10px;
  box-shadow: none;
  border: 1px solid #c1c5d1;
  transition: all 0.3s ease-in;
  width: 100%;
  margin-bottom: 10px;
}
.input-group input.form-control:focus {
  box-shadow: none;
  border: 1px solid #489e54;
  outline: none;
  transition: all 0.3s ease-in;
}
.input-group .input-error {
  border: 1px solid #ba5257 !important;
}
.dropdown-currency-button {
  width: 60px;
  padding: 10px;
  height: 35px;
  background-color: #edf0f6;
  border-radius: 0px;
  transition: all 0.07s ease-in;
  border: 1px solid #c1c5d1;
}
.dropdown-currency-button:hover,
.dropdown-currency-buttonfocus {
  color: #ffffff;
  background-color: #489e54;
  border: 1px solid #489e54;
  transition: all 0.07s ease-in;
}
.dropdown-currency-button span.caret {
  margin-left: 10px;
}
.dropdown-currency {
  min-width: 60px;
  background-color: #edf0f6;
  padding: 0;
  border-radius: 0;
  color: #78909c;
  transition: all 0.07s ease-in;
}
.dropdown-currency li a {
  font-family: 'robotolight';
  color: #78909c;
}
.dropdown-currency li a:hover,
.dropdown-currency li a:focus {
  color: #ffffff;
  background-color: #489e54;
  transition: all 0.07s ease-in;
}
.open .dropdown-currency-button:focus {
  color: #ffffff;
  background-color: #489e54;
  transition: all 0.07s ease-in;
}
.textarea-normal {
  width: 100%;
  outline: none;
  background-color: #edf0f6;
  border: 1px solid #c1c5d1 !important;
  resize: none;
  color: #78909c;
  padding: 10px;
  font-size: 12px;
  font-family: 'robotolight';
  min-height: 100px;
  margin-bottom: 15px;
}
.textarea-normal:focus,
.textarea-normal:active,
.textarea-normal:hover {
  border: 1px solid #489e54;
}
.ng-invalid.ng-touched {
  border: 1px solid #ba5257 !important;
}
body {
  font-family: 'robotoregular';
}
.content-container {
  background-color: #ffffff;
  border-radius: 0;
  border: none;
}
.content-container .content-title {
  background-color: #ffffff;
  border-bottom: 1px solid #489e54;
}
.content-container .content-title h3 {
  font-size: 18px;
  color: #707277;
}
.content-container .panel-content {
  font-family: 'robotolight';
}
.panel-variations {
  padding: 0;
}
.panel-variations li a {
  border-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.panel-variations li.active a {
  background-color: #dddfe4;
}
.panel-variations li.active a:hover,
.panel-variations li.active a:focus,
.panel-variations li.active a:active {
  background-color: #dddfe4;
}
.tab-pane {
  padding: 15px;
}
.superdeals {
  overflow: hidden;
  box-shadow: 0px 0px 3px #888888;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.superdeals a {
  display: block;
  color: #78909c;
  font-size: 18px;
  font-family: 'benchnineregular';
  width: 100%;
  text-transform: uppercase;
  line-height: 17px;
}
.superdeals a:hover {
  text-decoration: none;
}
.superdeals a:hover .superdeals-hover {
  display: block;
  top: 0;
  transition: all 0.5s;
}
.superdeals a h2 {
  font-size: 18px;
  padding: 5px;
  margin: 0;
}
.superdeals .superdeals-picture {
  position: relative;
}
.superdeals .superdeals-picture img {
  width: 100%;
}
.superdeals .superdeals-picture .superdeals-hover {
  text-align: center;
  position: absolute;
  bottom: 0;
  display: none;
  left: 0;
  background: rgba(72, 158, 84, 0.7);
  height: 100%;
  width: 100%;
  color: #ffffff;
  transition: all 0.5s;
}
.superdeals .superdeals-picture .superdeals-hover h3 {
  margin: 5px;
  margin-top: 30px;
  font-size: 26px;
}
.superdeals .superdeals-picture .superdeals-hover p {
  font-size: 20px;
}
.superdeals .superdeals-footer {
  height: 40px;
  text-align: center;
  font-size: 30px;
  color: #489e54;
  border-top: 5px solid #489e54;
  line-height: 37px;
}
.featured-product-wrap:hover {
  box-shadow: 0px 0px 3px #888888;
}
.featured-product-wrap:hover .featured-product-hover {
  display: block;
  transition: all 0.3s ease-in;
}
.featured-product-head {
  height: 30px;
  line-height: 30px;
}
.featured-product-head span {
  color: #ffffff;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: #489e54;
  font-size: 18px;
  line-height: 30px;
  float: left;
  margin-right: 5px;
}
.featured-product-homepage {
  text-decoration: none;
  display: block;
  width: 160px;
  float: left;
  margin: 5px 10px;
}
.featured-product-homepage:hover {
  text-decoration: none;
}
.featured-product-image {
  position: relative;
  overflow: hidden;
}
.featured-product-hover {
  background-color: rgba(72, 158, 84, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  display: none;
  transition: all 0.3s ease-in;
}
.featured-product-hover .featured-product-rating {
  margin-top: 120px;
}
.featured-product-info {
  padding: 0 5px;
  border-bottom: 4px solid #489e54;
}
.featured-product-info span {
  color: #489e54;
  font-size: 20px;
  font-family: 'benchnineregular';
}
.dropdown-profile {
  position: relative;
  height: 60px;
  width: 200px;
  float: right;
}
.dropdown-profile button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-family: 'robotoregular';
  color: #78909c;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100%;
}
.dropdown-profile button span {
  position: absolute;
  right: 0;
  top: 17px;
}
.dropdown-profile button span:first-of-type {
  left: 0;
  top: 0;
}
.dropdown-profile .header-profile-image {
  border: 2px solid #dddfe4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 0;
}
.dropdown-profile .header-profile-image img {
  width: 50px;
  height: 50px;
}
.dropdown-profile .header-a-button {
  position: absolute;
  font-family: 'robotolight';
  padding: 5px;
  border-radius: 2px;
  top: 20px;
  right: 80px;
}
.dropdown-profile .header-a-button:hover {
  text-decoration: none;
  background-color: #489e54;
  color: #ffffff;
}
.dropdown-profile ul {
  background-color: #ffffff;
  padding: 5px;
  font-family: 'robotoregular';
  color: #78909c;
  font-size: 12px;
  border: 1px solid #c1c5d1;
  border-radius: 2px;
}
.dropdown-profile ul li {
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}
.dropdown-profile ul li:hover {
  text-decoration: none;
  background-color: #489e54;
  color: #ffffff;
}
.dropdown-profile ul li:hover a {
  color: #ffffff;
}
.dropdown-profile ul li:active {
  text-decoration: none;
  color: #78909c;
}
.dropdown-profile ul li:focus {
  outline: none;
  text-decoration: none;
  color: #78909c;
}
.dropdown-profile ul li:visited {
  text-decoration: none;
  color: #78909c;
}
.dropdown-profile ul li a {
  padding: 0;
  background-color: transparent;
  color: #78909c;
}
.dropdown-profile ul li a:hover,
.dropdown-profile ul li a:active,
.dropdown-profile ul li a:focus {
  background-color: transparent;
  color: #ffffff;
}
.dropdown-profile ul hr {
  padding: 0;
  margin: 3px;
}
.logo {
  margin: 20px 0;
}
.dropdown-profile {
  margin: 20px 0;
}
.dropdown-help {
  margin: 10px 0;
}
.dropdown-help button {
  border: none;
  background-color: transparent;
  font-family: 'robotolight';
  color: #78909c;
}
.dropdown-help .dropdown-menu {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 0;
}
.dropdown-help .dropdown-menu li a {
  padding-left: 10px;
  color: #78909c;
  background-color: #ffffff;
}
.dropdown-help .dropdown-menu li a:hover {
  background-color: #489e54;
  color: #ffffff;
}
.header-a-button {
  float: right;
  padding: 5px;
  margin-top: 5px ;
  font-family: 'robotolight';
  display: block;
  border: 1px solid #dddfe4;
  margin-left: 5px;
}
.header-a-button:hover {
  border: 1px solid #489e54;
  background-color: #489e54;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
}
.header-notif-button {
  border-radius: 1px;
}
.header-notif-button:hover,
.header-notif-button:active {
  background-color: #489e54;
  color: #ffffff;
}
.header-notif-button span.glyphicon:first-of-type {
  color: #e54646;
  font-size: 13px;
  margin-right: 7px;
}
.btn-group-notif.open .header-notif-button {
  background-color: #489e54;
  color: #ffffff;
}
.btn-group-notif.open .header-notif-button span.glyphicon:first-of-type {
  color: #ffffff;
  font-size: 13px;
  margin-right: 7px;
}
.menu-notifications {
  width: 240px;
  padding: 10px;
  border: 1px solid #dddfe4;
  background-color: #ffffff;
  border-radius: 1px;
}
.menu-notifications li {
  padding: 10px 0;
  border-bottom: 1px solid #dddfe4;
}
.menu-notifications li:first-of-type {
  padding-top: 0;
}
.menu-notifications li:last-of-type {
  padding-bottom: 0;
  border: 0;
}
.menu-notifications li a {
  display: inline-block;
  padding: 0;
  color: #489e54;
}
.menu-notifications li a:hover {
  color: #489e54;
  background-color: transparent;
  text-decoration: underline;
}
.category-nav-wrap {
  background-color: #489e54;
}
.category-nav-wrap ul {
  margin: 0;
  height: 70px;
  padding: 5px 0;
}
.category-nav-wrap ul li {
  font-family: 'benchnineregular';
  color: #ffffff;
  display: block;
  list-style-type: none;
  float: left;
}
.category-nav-wrap ul li a {
  width: 100%;
  display: block;
  font-size: 18px;
  color: #ffffff;
  padding-left: 30px;
  text-transform: uppercase;
  line-height: 30px;
}
.category-nav-wrap ul li a .icon-cat {
  display: block;
  width: 40px;
  vertical-align: middle;
  float: left;
  padding-top: 5px;
  text-align: center;
}
.category-nav-wrap ul li a:hover {
  background-color: #ffffff;
  color: #489e54;
  text-decoration: none;
}
.input-group {
  font-size: 14px;
}
.input-group .input-group-btn {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.input-group button.dropdown-search {
  font-family: 'robotoregular';
  color: #78909c;
  padding: 0 5px;
  margin: 0;
  height: 50px;
  border-radius: 0;
  background-color: #ffffff;
  width: 120px;
  text-align: left;
  padding-left: 20px;
}
.input-group button.dropdown-search:hover,
.input-group button.dropdown-search:active,
.input-group button.dropdown-search:focus {
  background-color: #489e54;
  color: #ffffff;
}
.input-group button.dropdown-search span {
  position: absolute;
  right: 10px;
  top: 20px;
}
.input-group .dropdown-categories {
  border-radius: 2px;
  top: 50px;
  margin: 0;
  background-color: #ffffff;
  color: #78909c;
  font-family: 'robotoregular';
  font-size: 12px;
  padding: 5px;
}
.input-group .dropdown-categories li a {
  border-radius: 2px;
  color: #78909c;
}
.input-group .dropdown-categories li a:hover {
  background-color: #489e54;
  color: #ffffff;
}
.input-group input.search-bar {
  height: 50px;
}
.search-bar-btn {
  font-family: 'robotoregular';
  color: #78909c;
  padding: 10px 20px;
  margin: 0;
  height: 50px;
  border-radius: 0;
  background-color: #ffffff;
}
.search-bar-btn:hover,
.search-bar-btn:active,
.search-bar-btn:focus {
  background-color: #489e54;
  color: #ffffff;
}
.search-bar-btn:focus {
  background-color: #ffffff;
  color: #78909c;
}
.email-panel {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #888888;
  margin-bottom: 20px;
}
.email-panel h3 {
  margin: 0 0 10px 0;
  color: #489e54;
  padding: 0;
}
.subscribe-panel {
  margin-bottom: 0;
}
.btn-subscribe {
  background-color: #ffffff;
  height: 35px;
  width: 100px;
  border-radius: 0;
  padding: 0;
}
.btn-subscribe:focus,
.btn-subscribe:hover,
.btn-subscribe:active {
  background-color: #489e54;
  color: #ffffff;
}
.buyer-protection {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #888888;
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
  height: 120px;
}
.buyer-protection h3 {
  margin: 0 0 10px 0;
  color: #489e54;
}
.buyer-protection img {
  position: absolute;
  right: 10px;
  top: 30%;
}
.clear-paddings-right {
  padding-right: 0;
}
.product-photo {
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 15px 0;
}
.product-photo img {
  width: 100%;
}
.products-item {
  background-color: #ffffff;
  overflow: auto;
}
.products-item h3 {
  font-family: 'robotoregular';
  text-transform: capitalize;
  color: #313131;
}
.products-list-info {
  height: 100%;
}
.products-list-info a:hover {
  text-decoration: none;
}
.products-list-info p {
  font-family: 'robotolight';
}
.products-list-info p span {
  font-family: 'robotoregular';
}
.product-item {
  position: relative;
}
.product-list-price {
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 0px;
}
.product-list-price h3 {
  margin: 0;
}
.pagination-pages {
  font-family: 'robotoregular';
  cursor: pointer;
}
.pagination-pages li {
  cursor: pointer;
}
.pagination-pages li a {
  cursor: pointer;
  padding: 10px;
  color: #489e54;
}
.pagination-pages li a:hover,
.pagination-pages li a:active,
.pagination-pages li a:focus {
  background-color: #489e54;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.loader {
  margin: 0 auto;
  overflow: auto;
  width: 50px;
}
#circularG {
  position: relative;
  width: 50px;
  height: 50px;
}
.circularG {
  position: absolute;
  background-color: #489E53;
  width: 11px;
  height: 11px;
  -moz-border-radius: 8px;
  -moz-animation-name: bounce_circularG;
  -moz-animation-duration: 1.52s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -webkit-border-radius: 8px;
  -webkit-animation-name: bounce_circularG;
  -webkit-animation-duration: 1.52s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -ms-border-radius: 8px;
  -ms-animation-name: bounce_circularG;
  -ms-animation-duration: 1.52s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: normal;
  -o-border-radius: 8px;
  -o-animation-name: bounce_circularG;
  -o-animation-duration: 1.52s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: normal;
  border-radius: 8px;
  animation-name: bounce_circularG;
  animation-duration: 1.52s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
#circularG_1 {
  left: 0;
  top: 20px;
  -moz-animation-delay: 0.57s;
  -webkit-animation-delay: 0.57s;
  -ms-animation-delay: 0.57s;
  -o-animation-delay: 0.57s;
  animation-delay: 0.57s;
}
#circularG_2 {
  left: 5px;
  top: 5px;
  -moz-animation-delay: 0.76s;
  -webkit-animation-delay: 0.76s;
  -ms-animation-delay: 0.76s;
  -o-animation-delay: 0.76s;
  animation-delay: 0.76s;
}
#circularG_3 {
  top: 0;
  left: 20px;
  -moz-animation-delay: 0.95s;
  -webkit-animation-delay: 0.95s;
  -ms-animation-delay: 0.95s;
  -o-animation-delay: 0.95s;
  animation-delay: 0.95s;
}
#circularG_4 {
  right: 5px;
  top: 5px;
  -moz-animation-delay: 1.14s;
  -webkit-animation-delay: 1.14s;
  -ms-animation-delay: 1.14s;
  -o-animation-delay: 1.14s;
  animation-delay: 1.14s;
}
#circularG_5 {
  right: 0;
  top: 20px;
  -moz-animation-delay: 1.33s;
  -webkit-animation-delay: 1.33s;
  -ms-animation-delay: 1.33s;
  -o-animation-delay: 1.33s;
  animation-delay: 1.33s;
}
#circularG_6 {
  right: 5px;
  bottom: 5px;
  -moz-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  animation-delay: 1.52s;
}
#circularG_7 {
  left: 20px;
  bottom: 0;
  -moz-animation-delay: 1.71s;
  -webkit-animation-delay: 1.71s;
  -ms-animation-delay: 1.71s;
  -o-animation-delay: 1.71s;
  animation-delay: 1.71s;
}
#circularG_8 {
  left: 5px;
  bottom: 5px;
  -moz-animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
  -ms-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.3);
  }
}
@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
  }
}
@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.3);
  }
}
@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(0.3);
  }
}
@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}
.badges-sidebar {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #888888;
  padding: 5px;
  margin-bottom: 20px;
}
.badges-sidebar h4 {
  text-align: center;
  font-size: 18px;
}
.badges-sidebar ul {
  margin: 0;
  padding: 0;
}
.badges-sidebar ul li {
  list-style-type: none;
  margin: 10px 0;
  width: 100%;
  clear: both;
  overflow: auto;
  vertical-align: middle;
  line-height: 40px;
}
.badges-sidebar ul li .img-badge {
  width: 45px;
  overflow: auto;
  float: left;
  margin-right: 5px;
}
.badges-sidebar ul li .img-badge img {
  display: block;
  margin: 0 auto;
}
.badges-sidebar a {
  display: block;
  text-align: center;
  padding: 10px;
}
.badges-text {
  margin-bottom: 20px;
}
.badge-howto-wrap {
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}
.badge-howto-wrap img {
  display: block;
  margin: 0 auto;
}
.badge-explanation h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #489e54;
  font-size: 22px;
}
html,
body {
  height: 100%;
}
.header-profile {
  width: 100%;
  background-color: #ffffff;
}
.top-hr {
  margin: 0;
  padding: 0;
}
.nav-wrap {
  width: 100%;
  background-color: #489e54;
}
.clear-paddings {
  padding: 0;
}
.login-register {
  float: right;
  margin-top: 25px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.slider-homepage {
  min-height: 400px;
  background-image: url(../images/slider-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.slider-homepage .search-bar {
  margin-top: 10%;
}
.slider-homepage .search-bar .input-group .search-bar-slider {
  height: 80px;
  border: 0;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  font-family: 'robotolight';
  color: #78909c;
  font-size: 30px;
  padding-left: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.slider-homepage .search-bar .input-group .search-bar-slider::-webkit-input-placeholder,
.slider-homepage .search-bar .input-group .search-bar-slider:-moz-placeholder,
.slider-homepage .search-bar .input-group .search-bar-slider::-moz-placeholder,
.slider-homepage .search-bar .input-group .search-bar-slider:-ms-input-placeholder {
  color: #78909c;
}
.slider-homepage .search-bar .input-group .input-group-btn {
  display: block;
  height: 80px;
  border: 0;
  border-radius: 1px;
  position: relative;
  float: right;
  width: 19%;
}
.slider-homepage .search-bar .input-group .input-group-btn .dropdown-categories-search {
  font-family: 'robotolight';
  font-size: 14px;
  color: #78909c;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0;
  border-radius: 1px;
  width: 100%;
}
.slider-homepage .search-bar .input-group .input-group-btn .dropdown-categories-search span {
  margin-left: 5px;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home {
  position: absolute;
  left: -100%;
  border-radius: 0;
  border: 0;
  width: 200%;
  padding: 0;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li {
  position: relative;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li a {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 50px;
  color: #78909c;
  font-family: 'robotolight';
  font-size: 14px;
  border-bottom: 1px solid #b0bec5;
  position: relative;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li a:hover,
.slider-homepage .search-bar .input-group .dropdown-categories-home li a:focus {
  background-color: #ffffff;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li a:hover > .dropdown-subcategories-home,
.slider-homepage .search-bar .input-group .dropdown-categories-home li a:focus > .dropdown-subcategories-home {
  display: block;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li a span {
  position: absolute;
  right: 20px;
  top: 5px;
  display: block;
  width: 30px;
  text-align: center;
  float: right;
  font-size: 22px;
  line-height: 47px;
  color: #263238;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li:last-of-type a {
  border-bottom: 0;
  text-align: center;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subcategories-home,
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subsubcategories-home {
  display: none;
  position: absolute;
  left: -90%;
  top: 0;
  width: 90%;
  margin-right: 4px;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subcategories-home li,
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subsubcategories-home li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-right: 1px;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subcategories-home li a,
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subsubcategories-home li a {
  display: block;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 50px;
  color: #78909c;
  font-family: 'robotolight';
  font-size: 14px;
  border-bottom: 1px solid #b0bec5;
  text-align: left;
  padding-left: 15px;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subcategories-home li a:hover,
.slider-homepage .search-bar .input-group .dropdown-categories-home li .dropdown-subsubcategories-home li a:hover {
  text-decoration: none;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li:hover ul.dropdown-subcategories-home {
  display: block;
}
.slider-homepage .search-bar .input-group .dropdown-categories-home li:hover ul.dropdown-subcategories-home li:hover ul.dropdown-subsubcategories-home {
  display: block;
}
.btn-search-slider {
  padding: 10px 70px;
  border-radius: 3px;
  border: 0;
  font-size: 18px;
  color: #78909c;
  font-family: 'robotoregular';
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btn-search-slider:hover,
.btn-search-slider:active,
.btn-search-slider:focus {
  background-color: #e9eff3;
}
.slider-menu {
  height: 110px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 0 ;
}
.slider-menu .btn-menu-slider {
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 1px;
  background: #489e54;
  color: #ffffff;
  height: 80px;
  font-family: 'robotomedium';
  font-size: 18px;
  line-height: 80px;
  background-image: url(../images/btn-slidermenu-buy.png);
  background-position: center 10px;
  background-repeat: no-repeat;
}
.slider-menu .btn-menu-slider.sell {
  background-color: #78909c;
  background-image: url(../images/btn-slidermenu-sell.png);
}
.slider-menu .btn-menu-slider.rent {
  background-color: #ffa726;
  background-image: url(../images/btn-slidermenu-rent.png);
}
.slider-menu .btn-menu-slider.services {
  background-color: #00b0ff;
  background-image: url(../images/btn-slidermenu-services.png);
}
.slider-menu .btn-menu-slider:active,
.slider-menu .btn-menu-slider:focus,
.slider-menu .btn-menu-slider:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
/* Small devices (tablets, 768px and up) */
html,
body {
  height: 100%;
  padding-bottom: 250px;
}
footer {
  width: 100%;
  margin-top: 25px;
  background-color: #ffffff;
}
footer h3 {
  padding: 3px;
  border-bottom: 5px solid #489e54;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  font-family: 'robotolight';
  font-size: 12px;
  display: block;
  list-style-type: none;
  margin: 5px 0;
  padding: 5px 10px;
  height: 35px;
  line-height: 35px;
}
footer ul li img {
  margin-right: 10px;
}
footer .footer-copyrights {
  margin: 20px 0;
  text-align: center;
}
.products-item {
  margin-bottom: 20px;
}
.search-results-info {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
}
.search-results-info h2 {
  color: #489e54;
  margin-top: 0;
}
.search-results-info h2 span {
  color: #78909c;
}
.products-list-info h3 {
  margin-bottom: 5px;
  margin-top: 15px;
}
.category-list-wrap {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #888888;
}
.category-list-wrap .category-list-header {
  padding: 15px;
  border-bottom: 1px solid #489e54;
}
.category-list-wrap .category-list-header h2 {
  padding: 0;
  margin: 0;
  color: #489e54;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.category-list .panel-default {
  border: 0;
  border-radius: 0;
}
.category-list .panel-default .panel-default {
  border: 1px solid #489e54;
  border-radius: 0;
}
.category-list .panel-heading {
  padding: 0;
}
.category-list .panel-heading h4 a {
  display: block;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  color: #489e54;
}
.category-list .panel-heading h4 a:hover,
.category-list .panel-heading h4 a:active,
.category-list .panel-heading h4 a:focus {
  text-decoration: none;
  background-color: #489e54;
  color: #ffffff;
}
.category-list [aria-expanded="true"] .panel-heading h4 a {
  text-decoration: none;
  background-color: #489e54;
  color: #ffffff;
}
.category-list .child-categories {
  padding: 0;
  margin: 0;
}
.category-list .child-categories li {
  list-style-type: none;
}
.category-list .child-categories li a {
  display: block;
  padding: 3px;
  font-size: 14px;
  font-family: 'robotolight';
}
.category-list .child-categories li a:hover,
.category-list .child-categories li a:focus,
.category-list .child-categories li a:active {
  color: #489e54;
  text-decoration: none;
}
.tabpanel-inbox {
  background-color: #ffffff;
  max-height: ;
}
.tabpanel-inbox .inbox-header {
  border-bottom: 1px solid #489e54;
}
.tabpanel-inbox ul li {
  clear: both;
  width: 100%;
  overflow: hidden;
}
.tabpanel-inbox ul li:hover {
  border: 0;
}
.tabpanel-inbox ul li:hover a {
  border: 0;
}
.tabpanel-inbox ul li a {
  border: 0;
  width: 100%;
  border-radius: 0;
  overflow: auto;
}
.tabpanel-inbox ul li a .inbox-avatar {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #489e54;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}
.tabpanel-inbox ul li a .inbox-avatar img {
  width: 100%;
}
.tabpanel-inbox ul li a .inbox-info h6 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
}
.tabpanel-inbox ul li a .inbox-info h6 span {
  float: right;
}
.tabpanel-inbox ul li a .inbox-info p {
  height: 17px;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
}
.tabpanel-inbox ul li.active a {
  background-color: #489e54;
  color: #ffffff;
  border: 0;
}
.tabpanel-inbox ul li.active a .inbox-avatar {
  border: 1px solid #ffffff;
}
.tabpanel-inbox ul li.active a:hover,
.tabpanel-inbox ul li.active a:focus,
.tabpanel-inbox ul li.active a:active {
  border: 0;
  background-color: #489e54;
  color: #ffffff;
  border-radius: 0;
}
.tabpanel-inbox ul li.active:hover {
  border: 0;
  border-radius: 0;
}
.tab-inbox-content {
  background-color: #ffffff;
  height: 560px;
  position: relative;
}
.tab-inbox-content .inbox-single-title {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
}
.tab-inbox-content .inbox-sender-title h3 {
  margin: 5px 0;
}
.tab-inbox-content .inbox-new {
  height: 25px;
  padding: 0 5px;
  border-radius: 0px;
  font-size: 12px ;
  border: 1px solid #489e54;
}
.tab-inbox-content .inbox-new:hover,
.tab-inbox-content .inbox-new:active,
.tab-inbox-content .inbox-new:focus {
  background-color: #489e54;
  color: #ffffff;
}
.tab-inbox-content .chat-area {
  margin-top: 15px;
  height: 390px;
  overflow-y: scroll;
}
.tab-inbox-content .chat-area .sender {
  clear: both;
  margin-bottom: 20px;
  overflow: auto;
}
.tab-inbox-content .chat-area .sender .chat-avatar {
  float: left;
  margin-right: 10px;
}
.tab-inbox-content .chat-area .sender .chat-text {
  width: 90%;
  float: left;
}
.tab-inbox-content .chat-area .sender .chat-text h5 {
  margin-top: 0;
  font-family: 'robotoregular';
}
.tab-inbox-content .chat-area .sender .chat-text .chat-text-content {
  margin-bottom: 5px;
  float: left;
  width: 85%;
}
.tab-inbox-content .chat-area .sender .chat-text .chat-time {
  float: right;
}
.tab-inbox-content .chat-area .user {
  clear: both;
  margin-bottom: 20px;
  overflow: auto;
}
.tab-inbox-content .chat-area .user .chat-avatar {
  float: right;
  margin-left: 10px;
}
.tab-inbox-content .chat-area .user .chat-text {
  text-align: right;
}
.tab-inbox-content .chat-area .user .chat-text h5 {
  margin-top: 0;
  font-family: 'robotoregular';
}
.tab-inbox-content .chat-area .user .chat-text .chat-text-content {
  width: 80%;
  float: right;
  text-align: right;
}
.tab-inbox-content .chat-area .user .chat-text .chat-time {
  float: left;
}
.tab-inbox-content .inbox-single-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #d6d6d6;
}
.tab-inbox-content .inbox-single-footer .write-area-inbox {
  background-color: #eaebed;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  height: 55px;
  border: 1px solid #d6d6d6;
}
.tab-inbox-content .inbox-single-footer .write-area-inbox textarea {
  resize: none;
  height: 55px;
  outline: none;
  padding: 10px;
  width: 100%;
  border: 0;
  background-color: transparent;
}
.tab-inbox-content .inbox-single-footer .write-area-inbox textarea:focus,
.tab-inbox-content .inbox-single-footer .write-area-inbox textarea:hover,
.tab-inbox-content .inbox-single-footer .write-area-inbox textarea:active {
  outline: 0;
}
.tab-inbox-content .inbox-single-footer .write-area-inbox button {
  height: 30px;
  border: 1px solid #489e54;
  border-radius: 0;
  padding: 0;
  width: 100%;
  margin-top: 12px;
}
.tab-inbox-content .inbox-single-footer .write-area-inbox button:hover,
.tab-inbox-content .inbox-single-footer .write-area-inbox button:focus,
.tab-inbox-content .inbox-single-footer .write-area-inbox button:active {
  background-color: #489e54;
  color: #ffffff;
}
.full-width-content {
  background-color: #ffffff;
  overflow: auto;
}
.full-width-content .registration-header {
  margin-bottom: 30px;
}
.full-width-content .registration-header h2 {
  color: #489e54;
}
.account-type input[type=radio],
.account-type input[type=checkbox] {
  display: none;
}
.account-type input[type=radio] + label,
.account-type input[type=checkbox] + label {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #489e54;
  color: #78909c;
  padding: 5px 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  font-family: 'robotoregular';
  margin-bottom: 15px;
  transition: all 0.07s ease-in;
}
.account-type input[type=radio]:checked + label,
.account-type input[type=checkbox]:checked + label {
  outline: 0;
  color: #ffffff;
  background-color: #489e54;
  transition: all 0.07s ease-in;
}
.account-type input[type=radio]:hover + label:hover,
.account-type input[type=checkbox] + label {
  outline: 0;
  color: #ffffff;
  background-color: #489e54;
  transition: all 0.07s ease-in;
}
.register-buttons {
  margin-bottom: 15px;
}
.nav-wrap {
  margin-bottom: 25px;
}
.clear-paddings.paddings-right {
  padding-right: 10px;
}
.panel-variations li a.variation-add-new {
  border-left: 1px solid #dddfe4;
  border-right: 1px solid #dddfe4;
}
.profile-main {
  width: 100%;
  background-color: #ffffff;
}
.profile-main .profile-image {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #d6d6d6;
  position: relative;
}
.profile-main .profile-image:hover .btn-upload-image,
.profile-main .profile-image:hover .cloudinary-fileupload {
  visibility: visible;
}
.profile-main .profile-image img {
  width: 100%;
}
.profile-main .profile-image .btn-upload-image,
.profile-main .profile-image .cloudinary-fileupload {
  position: absolute;
  height: 30px;
  width: 60%;
  margin-left: 20%;
  bottom: 55px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 0;
  visibility: hidden;
}
.profile-main h1 {
  text-align: center;
  font-family: 'robotomedium';
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.profile-main .profile-informations {
  margin-bottom: 30px;
}
.profile-main .profile-informations h4 {
  border-bottom: 1px solid #d6d6d6;
}
.profile-main .profile-informations .profile-info {
  padding-top: 10px;
}
.profile-main .profile-informations .profile-info p {
  padding: 0;
  font-family: 'robotolight';
  font-size: 12px;
  color: #78909c;
}
.profile-main .profile-informations .profile-info p span {
  text-align: center;
  width: 20px;
  overflow: hidden;
  margin-right: 15px;
}
.profile-main .profile-informations .achievement-single {
  padding-top: 10px;
}
.profile-main .profile-informations .achievement-single .achievement-img {
  width: 50px;
  float: left;
  margin-right: 10px;
}
.profile-main .profile-informations .achievement-single .achievement-img img {
  margin: 0 auto;
  display: block;
}
.profile-main .profile-informations .achievement-single .achievement-info {
  overflow: auto;
}
.profile-main .profile-informations .achievement-single .achievement-info h5 {
  margin-top: 5px;
  font-size: 16px;
  font-family: 'benchnineregular';
  margin-bottom: 0;
  clear: both;
}
.profile-products {
  background-color: #ffffff;
}
.profile-products h3 {
  font-family: 'robotoregular';
  font-size: 22px;
}
.profile-products .add-new-prod {
  padding-top: 15px;
}
.nav-tabs-dashboard {
  border: 0;
}
.nav-tabs-dashboard > li > a {
  padding: 5px 15px;
  border-radius: 15px;
  border: 0;
}
.nav-tabs-dashboard > li > a span {
  margin-left: 5px;
  background-color: #489e54;
  color: #ffffff;
}
.nav-tabs-dashboard > li.active > a,
.nav-tabs-dashboard > li:hover > a,
.nav-tabs-dashboard > li:focus > a,
.nav-tabs-dashboard > li:active > a {
  border: 0;
  color: #ffffff;
  background-color: #489e54;
}
.nav-tabs-dashboard > li.active > a span,
.nav-tabs-dashboard > li:hover > a span,
.nav-tabs-dashboard > li:focus > a span,
.nav-tabs-dashboard > li:active > a span {
  background-color: #ffffff;
  color: #489e54;
}
.nav-tabs-dashboard > li.active > a:hover,
.nav-tabs-dashboard > li:hover > a:hover,
.nav-tabs-dashboard > li:focus > a:hover,
.nav-tabs-dashboard > li:active > a:hover,
.nav-tabs-dashboard > li.active > a:focus,
.nav-tabs-dashboard > li:hover > a:focus,
.nav-tabs-dashboard > li:focus > a:focus,
.nav-tabs-dashboard > li:active > a:focus,
.nav-tabs-dashboard > li.active > a:active,
.nav-tabs-dashboard > li:hover > a:active,
.nav-tabs-dashboard > li:focus > a:active,
.nav-tabs-dashboard > li:active > a:active {
  background-color: #489e54;
  border: 0;
  color: #ffffff;
}
.tab-pane-products {
  padding: 0;
  margin-top: 20px;
}
.tab-pane-products table thead {
  background-color: #eaebed;
  font-family: 'robotolight';
}
.tab-pane-products table thead tr th {
  font-family: 'robotolight';
  color: #353637;
  border: 0;
}
.tab-pane-products table thead tr th:nth-of-type(5),
.tab-pane-products table thead tr th:nth-of-type(6) {
  width: 80px;
  text-align: right;
}
.tab-pane-products table tbody tr td {
  border-bottom: 1px solid #eaebed;
  font-family: 'robotolight';
  color: #353637;
}
.tab-pane-products table tbody tr td:first-of-type {
  width: 110px;
}
.tab-pane-products table tbody tr td:nth-of-type(5),
.tab-pane-products table tbody tr td:nth-of-type(6) {
  width: 80px;
  text-align: right;
  padding-right: 10px;
}
.tab-pane-products table tbody tr td:nth-of-type(5) a span,
.tab-pane-products table tbody tr td:nth-of-type(6) a span {
  font-size: 15px;
  color: #b2b5bc;
}
.tab-pane-products table tbody tr td:nth-of-type(5) a:hover span,
.tab-pane-products table tbody tr td:nth-of-type(6) a:hover span,
.tab-pane-products table tbody tr td:nth-of-type(5) a:active span,
.tab-pane-products table tbody tr td:nth-of-type(6) a:active span,
.tab-pane-products table tbody tr td:nth-of-type(5) a:focus span,
.tab-pane-products table tbody tr td:nth-of-type(6) a:focus span {
  color: #5c5e62;
}
.pagination-products {
  margin: 10px 0;
}
.pagination-products span {
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}
.pagination-products nav ul {
  margin: 0;
}
.pagination-products nav ul li a {
  border: 0;
  color: #78909c;
  border-radius: 3px;
}
.pagination-products nav ul li a.active,
.pagination-products nav ul li a:active,
.pagination-products nav ul li a:focus,
.pagination-products nav ul li a:hover {
  background-color: #489e54;
  color: #ffffff;
  text-decoration: none;
}
.tab-pane-reviews .reviews-head {
  background-color: #eaebed;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.tab-pane-reviews .reviews-head span {
  color: #489e54;
}
.review-single {
  padding-top: 10px;
}
.review-single .reviewer-img {
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 35px;
  margin-right: 10px;
}
.review-single .reviewer-img img {
  width: 50px;
}
.review-single h6 {
  margin-top: 0;
  font-family: 'robotoregular';
  font-size: 14px;
}
.review-single h6 a:hover,
.review-single h6 a:visited,
.review-single h6 a:focus {
  text-decoration: none;
  color: #78909c;
}
.review-single .review-content {
  font-size: 12px;
  font-family: 'robotolight';
}
.review-single .review-content .review-rating {
  padding: 10px 0;
}
.review-single .review-content .review-rating span {
  font-size: 18px;
}
.review-single .review-content .review-rating span.full-star {
  color: #f0c412;
}
.review-single .review-content .review-rating span.empty-star {
  color: #dddfe4;
}
.review-single .review-content .review-rating span.rating-of-5 {
  margin-left: 10px;
  font-size: 14px;
}
.review-single .review-content .review-date p {
  margin: 0;
  text-align: right;
  font-size: 11px;
  font-family: 'robotolight';
}
.pagination-reviews {
  border-top: 1px solid #dddfe4;
  border-bottom: 1px solid #dddfe4;
  padding: 15px 0;
}
.write-review textarea {
  width: 100%;
  resize: none;
  padding: 5px 10px;
  margin-top: 10px;
  outline: 0;
  background-color: #edf0f6;
  border: 1px solid 1px solid #c1c5d1;
}
.write-review textarea:focus {
  outline: 0;
}
.write-review .give-rate-submit {
  overflow: auto;
  border: 1px solid #c1c5d1;
  border-top: 0;
  padding: 5px;
  margin-top: -5px;
}
.tab-pane-shipping table thead {
  border: 0;
  background-color: #eaebed;
}
.tab-pane-shipping table thead tr th {
  border: 0;
}
.tab-pane-shipping table thead tr th:last-of-type {
  text-align: right;
}
.tab-pane-shipping table tbody tr {
  border-bottom: 1px solid #dddfe4;
}
.tab-pane-shipping table tbody tr td:last-of-type {
  text-align: right;
}
.tab-pane-shipping table tbody tr td a span {
  font-size: 15px;
  color: #b2b5bc;
}
.tab-pane-shipping table tbody tr td a:hover span,
.tab-pane-shipping table tbody tr td a:active span,
.tab-pane-shipping table tbody tr td a:focus span {
  color: #5c5e62;
}
.btn-add-shippings {
  text-align: center;
}
.tab-pane-orders table thead {
  border: 0;
  background-color: #eaebed;
}
.tab-pane-orders table thead tr th {
  border: 0;
}
.tab-pane-orders table thead tr th:last-of-type {
  text-align: right;
}
.tab-pane-orders table tbody tr {
  border-bottom: 1px solid #dddfe4;
}
.tab-pane-orders table tbody tr td:last-of-type {
  text-align: right;
}
.tab-pane-orders table tbody tr td a span {
  font-size: 15px;
  color: #b2b5bc;
}
.tab-pane-orders table tbody tr td a:hover span,
.tab-pane-orders table tbody tr td a:active span,
.tab-pane-orders table tbody tr td a:focus span {
  color: #5c5e62;
}
.order-details-title .btn-single-order {
  line-height: 30px;
  position: absolute;
  right: 17px;
  top: 5px;
}
.order-details h6 {
  font-size: 14px;
  font-family: 'robotoregular';
}
.table-order-details tr td {
  width: 100px;
}
.order-status h3.completed {
  color: #489e54;
}
.order-status h3.pending {
  color: #78909c;
}
.order-status h3.declined {
  color: #ff6876;
}
.order-details-adress,
.order-details-contact,
.order-details-notes {
  margin-top: 15px;
}
.order-details-adress p,
.order-details-contact p,
.order-details-notes p {
  margin: 0;
}
.table-payment-details tr:last-of-type {
  height: 35px;
  font-family: 'robotomedium';
}
.product-image {
  margin-bottom: 20px;
}
.product-details-single-order tr td:first-of-type {
  width: 150px;
  font-family: 'robotomedium';
}
.single-product-container {
  background-color: #ffffff;
  overflow: auto;
  margin-bottom: 30px;
}
.header-single-post {
  border-bottom: 1px solid #489e54;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.header-single-post h3 {
  font-size: 14px;
  font-family: 'robotoregular';
  text-transform: none;
  color: #263238;
  margin-bottom: 10px;
}
.header-single-post .ratings {
  font-family: 'robotolight';
  overflow: auto;
}
.header-single-post .ratings .full-star {
  color: #f0c412;
  font-size: 16px;
}
.header-single-post .ratings .empty-star {
  color: #dddfe4;
  font-size: 16px;
}
.header-single-post .ratings span.font-bolder {
  font-family: 'robotomedium';
  color: #263238;
}
.header-single-post .supplier a {
  float: left;
  line-height: 23px;
}
.header-single-post .supplier a img {
  margin-right: 3px;
  border-radius: 1px;
}
.header-single-post .supplier ul {
  float: right;
  margin: 0;
  padding: 0;
}
.header-single-post .supplier ul li {
  list-style-type: none;
  float: left;
  margin-right: 2px;
}
.header-single-post .supplier ul li:last-of-type {
  margin-right: 0;
}
.product-content .product-price table tr td:first-of-type {
  font-family: 'robotoregular';
  font-size: 14px;
  width: 120px;
  color: #263238;
}
.product-content .product-price table tr td:nth-of-type(2) {
  font-size: 18px;
  color: #489e54;
  font-family: 'robotoregular';
}
.product-content .product-form {
  padding: 15px;
  width: 100%;
  background-color: #eaebed;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-content .product-form table tr td {
  padding-top: 13px;
}
.product-content .product-form table tr td .dropdown {
  margin: 0;
}
.product-content .product-form table tr td:first-of-type {
  font-family: 'robotoregular';
  font-size: 14px;
  width: 120px;
  color: #263238;
}
.product-content .product-form table tr td:last-of-type {
  width: 230px;
  padding-top: 13px;
}
.product-content .product-form table tr td.quantity .input-group {
  margin: 0;
}
.product-content .product-form table tr td.quantity input {
  width: 70px;
}
.product-content .product-form table tr td.quantity span {
  font-size: 12px;
  font-family: 'robotolight';
  line-height: 30px;
  padding-left: 10px;
}
.product-content .product-form table tr td.total-price {
  font-size: 18px;
  font-family: 'robotoregular';
}
.product-guaranties {
  padding: 15px;
}
.product-guaranties table tr td {
  height: 30px;
  font-family: 'robotoregular';
}
.product-guaranties table tr td:first-of-type {
  width: 180px;
  font-family: 'robotoregular';
  color: #263238;
}
.product-guaranties table tr td ul {
  margin: 0;
  padding: 0;
}
.product-guaranties table tr td ul li {
  list-style-type: none;
}
.product-guaranties .buttons-sp {
  margin-top: 20px;
}
.product-guaranties .buttons-sp a {
  border: 2px solid #489e54;
  padding: 0 10px;
  height: 34px;
  border-radius: 1px ;
  text-align: center;
  line-height: 29px;
  color: #489e54;
  font-family: 'robotomedium';
  font-size: 14px;
  margin-right: 10px;
}
.product-guaranties .buttons-sp a img {
  float: left;
  margin-right: 5px;
  margin-top: 8px;
}
.paneltitle-single-product {
  padding: 0;
  border: 0;
}
.paneltitle-single-product .nav-tabs li a {
  border-radius: 0;
}
.paneltitle-single-product .nav-tabs li a:hover,
.paneltitle-single-product .nav-tabs li a:focus,
.paneltitle-single-product .nav-tabs li a:active {
  background-color: #489e54;
  color: #ffffff;
}
.paneltitle-single-product .nav-tabs li.active a {
  background-color: #489e54;
  color: #ffffff;
}
.tab-pane-product-details table tr td:first-of-type {
  font-family: 'robotomedium';
  width: 120px;
}
.image-widget-wrap {
  border: 1px solid #489e54;
  margin-top: 15px;
  margin-bottom: 15px;
}
.image-widget-wrap .image-full {
  width: 100%;
  border-bottom: 1px solid #489e54;
}
.image-widget-wrap .image-full img {
  width: 100%;
  height: 225px;
}
.image-widget-wrap .images-of-product {
  padding: 5px;
  overflow: auto;
  margin: 0 auto;
}
.image-widget-wrap .images-of-product .single-image {
  overflow: auto;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  border: 2px solid #e4e4e4;
  cursor: pointer;
}
.image-widget-wrap .images-of-product .single-image.active {
  border: 2px solid #489e54;
}
.image-widget-wrap .images-of-product .single-image:last-of-type {
  margin-right: 0;
}
.share-product {
  font-family: 'robotoregular';
  font-size: 14px;
  color: #263238;
}
.share-product ul {
  overflow: auto;
  margin: 0;
  padding: 0;
}
.share-product ul li {
  list-style-type: none;
  display: block;
  float: left;
  margin: 5px;
}
.tab-pane-variations li a {
  border-radius: 0;
}
.tab-pane-variations li a:hover,
.tab-pane-variations li a:active,
.tab-pane-variations li a:focus {
  background-color: #489e54;
  color: #ffffff;
}
.tab-pane-variations li.active a {
  background-color: #489e54;
  color: #ffffff;
}
.tab-pane-variations li.active a:hover,
.tab-pane-variations li.active a:active,
.tab-pane-variations li.active a:focus {
  background-color: #489e54;
  color: #ffffff;
}
table.variation-table tr td:first-of-type,
table.table-modal tr td:first-of-type {
  width: 120px;
  font-family: 'robotomedium';
}
.modal-buy-now {
  width: 550px;
}
.modal-buy-now #modal-buy-popup-table {
  margin-bottom: 10px;
}
.modal-buy-now #modal-buy-popup-table tr td {
  font-family: 'robotolight';
  font-size: 12px;
  padding: 0;
  height: 25px;
}
.modal-buy-now #modal-buy-popup-table tr td:first-of-type {
  width: 180px;
  font-family: 'robotomedium';
}
.modal-buy-now .notes-buy-product label {
  font-family: 'robotomedium';
  font-size: 12px;
}
@media (min-width: 768px) {
  .modal-sm {
    width: 550px;
  }
}
.product-payment-methods {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-payment-methods h6 {
  font-family: 'robotoregular';
  font-size: 14px;
  color: #263238;
}
.product-payment-methods img {
  width: 20%;
  margin: 5px;
}
.sp-achievments {
  margin-top: 15px;
}
.sp-achievments h6 {
  color: #263238;
  font-size: 14px;
}
.sp-achievments ul {
  padding: 0;
  margin: 0;
}
.sp-achievments ul li {
  list-style-type: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.cart-product-wrap {
  margin-bottom: 20px;
  padding: 15px 0;
  background-color: #ffffff;
  overflow: auto;
}
.cart-product-wrap .product-image {
  width: 100%;
  float: left;
  overflow: hidden;
}
.cart-product-wrap .product-image img {
  width: 100%;
}
.cart-product-wrap h5 {
  font-family: 'robotomedium';
  font-size: 16px;
  margin-top: 0;
}
.cart-product-wrap .product-form {
  margin-top: 10px;
}
.cart-product-wrap .cart-productfooter {
  border-top: 1px solid #489e54;
  padding-top: 10px;
  float: left;
}
.cart-product-wrap .cart-productfooter table tr td {
  font-size: 14px;
}
.cart-product-wrap .cart-productfooter .cart-product-price {
  float: right;
  text-align: right;
}
.table-cart-productinfo tr td {
  text-align: left;
}
.table-cart-productinfo tr td:first-of-type {
  width: 120px;
  font-family: 'robotomedium';
}
.cart-total {
  background-color: #ffffff;
  margin-top: 20px;
  overflow: auto;
}
.cart-total .cart-total-header {
  border-bottom: 1px solid #489e54;
  overflow: auto;
  color: #489e54;
}
.cart-total .remove-from-cart a {
  float: right;
  font-size: 14px;
  margin-top: 17px;
}
.cart-total .cart-total-footer {
  padding-top: 10px;
  float: right;
  text-align: right;
}
.profile-image-edit {
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}
.profile-image-edit:hover .btn-upload-image {
  visibility: visible;
}
.profile-image-edit img {
  width: 100%;
}
.profile-image-edit .btn-upload-image {
  position: absolute;
  vertical-align: middle;
  bottom: 30%;
  left: 15%;
  width: 70%;
  background-color: #ffffff;
  border-radius: 0;
  padding: 0;
  height: 35px;
  visibility: hidden;
}
.content-container-confirmation-link {
  margin-top: 25px;
}
.content-container-confirmation-link .radio-buttons-registration-link {
  margin: 20px 0;
}
.logo-404 {
  text-align: center;
}
.logo-404 a {
  text-align: center;
  width: 200px;
}
.container-fullwidth {
  margin-top: 20px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #888888;
  text-align: center;
}
.container-fullwidth h1 {
  color: #489e54;
  font-family: 'benchninebold';
  font-size: 100px;
  margin-top: 70px;
  margin-bottom: 30px;
}
.container-fullwidth p {
  font-size: 30px;
  font-family: 'robotolight';
}
.container-fullwidth p a {
  font-size: 30px;
  font-family: 'robotolight';
  color: #489e54;
}
.container-fullwidth p.foot-help-404 {
  font-size: 14px;
  margin-top: 150px;
  margin-bottom: 30px;
}
.container-fullwidth p.foot-help-404 a {
  font-size: 14px;
}
.panel-content-terms {
  font-size: 14px;
}
.terms-title {
  font-family: 'robotomedium';
}
.contact-us-table {
  margin-bottom: 15px;
}
.contact-us-table:nth-of-type(2) {
  margin-bottom: 25px;
}
.contact-us-table tr td:first-of-type {
  font-family: 'robotomedium';
  width: 150px;
}
.contact-us-image {
  overflow: hidden;
}
.contact-us-image img {
  width: 100%;
}
.panel-p-methods {
  font-size: 14px;
}
.panel-p-methods .btn-buy {
  margin-top: 20px;
  clear: both;
}
.payment-method {
  width: 120px;
  height: 80px;
  float: left;
  margin: 10px;
}
.payment-method:first-of-type {
  margin-left: 0;
}
.payment-method.checkbox + .checkbox {
  margin-top: 10px;
}
.payment-method input[type=radio] + label,
.payment-method input[type=checkbox] {
  display: inline-block;
  width: 120px;
  height: 80px;
  opacity: 0;
  margin: 0;
}
.payment-method input[type=checkbox] + label {
  display: inline-block;
  font-size: 14px;
  width: 120px;
  height: 80px;
  background-image: url(../images/pm-pp-normal.png);
  color: #78909c;
  text-align: center;
  cursor: pointer;
  font-family: 'robotoregular';
  margin-bottom: 15px;
  transition: all 0.07s ease-in;
}
.payment-method input[type=checkbox]:checked + label {
  color: #ffffff;
  transition: all 0.07s ease-in;
  background-image: url(../images/pm-pp-checked.png);
}
.payment-wu input[type=checkbox] + label {
  background-image: url(../images/pm-wu-normal.png);
}
.payment-wu input[type=checkbox]:checked + label {
  background-image: url(../images/pm-wu-checked.png);
}
.payment-mg input[type=checkbox] + label {
  background-image: url(../images/pm-mg-normal.png);
}
.payment-mg input[type=checkbox]:checked + label {
  background-image: url(../images/pm-mg-checked.png);
}
.payment-tr input[type=checkbox] + label {
  background-image: url(../images/pm-tr-normal.png);
}
.payment-tr input[type=checkbox]:checked + label {
  background-image: url(../images/pm-tr-checked.png);
}
.body-services {
  background-color: #ffffff;
}
.header-services-top-container {
  height: 39px;
  color: #717378;
  font-size: 12px;
  font-family: 'robotolight';
  line-height: 39px;
}
.header-services-top-container span {
  margin-right: 5px;
  font-size: 16px;
  color: #717378;
}
.nav-services ul {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
.nav-services ul li {
  list-style-type: none;
  float: left;
  margin: 0 10px;
}
.nav-services ul li a {
  font-size: 18px;
  font-family: 'robotoregular';
  color: #717378;
}
.nav-services ul li a:hover {
  text-decoration: none;
  color: #489e54;
}
.slider-services {
  background-image: url(../images/services-bg.jpg);
}
.slider-services .slider-content-services {
  position: relative;
}
.slider-services .slider-content-services .slider-content-wrap {
  position: absolute;
  bottom: 40px;
  text-align: right;
  right: 0;
  color: #ffffff;
}
.slider-services .slider-content-services .slider-content-wrap h1 {
  font-family: 'robotobold';
  font-size: 72px;
}
.slider-services .slider-content-services .slider-content-wrap h4 {
  font-family: 'robotolight';
  font-size: 32px;
  text-transform: none;
}
.box-services {
  padding-top: 20px;
  text-align: center;
}
.box-services h3 {
  font-size: 22px;
  font-family: 'robotomedium';
  color: #263238;
  text-transform: none;
  margin-top: 25px;
}
.box-services h5 {
  font-size: 16px;
  font-family: 'robotoregular';
  color: #717378;
}
.box-services .single-service {
  width: 100%;
  margin: 80px 0;
}
.box-services .single-service .services-circle {
  border-radius: 50px;
  border: 3px solid #489e54;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.box-services .single-service .services-circle img {
  margin-top: 22px;
}
.box-services .single-service .services-circle.services-circle-webdev img {
  margin-top: 29px;
}
.box-services .single-service .services-circle.services-circle-graphic img {
  margin-top: 27px;
}
.box-services .single-service .services-circle.services-circle-ukcall img {
  margin-top: 25px;
}
.box-services .single-service h5 {
  margin-top: 15px;
  color: #263238;
  font-family: 'robotomedium';
  font-size: 16px;
}
.box-services .single-service h6 {
  color: #717378;
  font-family: 'robotoregular';
  font-size: 14px;
}
.container-projects {
  background-image: url(../images/services-page-projects.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container-projects .box-services {
  color: #ffffff;
}
.container-projects .box-services h3,
.container-projects .box-services h5 {
  color: #ffffff;
}
.container-projects .box-services h5 {
  font-family: 'robotolight';
}
.container-projects .box-services .project-single {
  position: relative;
  padding: 0;
  margin: 70px 15px;
}
.container-projects .box-services .project-single:hover .project-description {
  display: block;
  top: 0;
  transition: all 0.3s ease 0s;
}
.container-projects .box-services .project-single img {
  width: 100%;
}
.container-projects .box-services .project-single .project-description {
  display: none;
  background-color: rgba(39, 83, 121, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 15px;
  text-align: left;
  padding-top: 47%;
  transition: all 0.3s ease 0s;
}
.container-projects .box-services .project-single .project-description h5 {
  font-family: 'robotomedium';
  font-size: 14px;
  color: #ffffff;
}
.container-projects .box-services .project-single .project-description p {
  font-family: 'robotolight';
}
.team-container {
  background-image: url(../images/services-team-bg.jpg);
  background-size: cover;
}
.team-container .single-team-member {
  margin: 90px 0 200px 0;
}
.team-container .single-team-member .member-image {
  width: 170px;
  height: 170px;
  border: 3px solid #78909c;
  border-radius: 100px;
  margin: 0 auto;
  background-image: url(../images/team-single-ceo.jpg);
  background-size: cover;
}
.team-container .single-team-member .member-image:hover {
  border: 3px solid #489e54;
}
.team-container .single-team-member .member-image.member-designer {
  background-image: url(../images/team-single-designer.jpg);
}
.team-container .single-team-member .member-image.member-developer {
  background-image: url(../images/team-single-developer.jpg);
}
.team-container .single-team-member h5 {
  font-size: 14px;
  font-size: 'robotomedium';
}
.team-container .single-team-member h6 {
  font-family: 'robotolight';
  font-size: 14px;
}
.subscribe-services h3 {
  font-family: 'robotomedium';
  font-size: 22px;
  color: #78909c;
  margin: 0;
  margin-bottom: 10px;
}
.subscribe-services h3 span {
  color: #455a64;
}
.subscribe-services p {
  font-family: 'robotolight';
  font-size: 16px;
}
.subscribe-services .subscribe-input input {
  border: 1px solid #37474f;
  border-radius: 4px;
  height: 45px;
  font-size: 14px;
  background-color: transparent;
}
.subscribe-services .subscribe-input input:focus {
  border: 1px solid #37474f;
}
.subscribe-services .subscribe-input .btn-services-submit {
  height: 45px;
  background-color: #37474f;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #ffffff;
  border: 1px solid #37474f;
  font-family: 'robotomedium';
  line-height: 5px;
}
.container-services-form {
  padding-bottom: 30px;
  color: #ffffff;
  background-color: #455a64;
}
.container-services-form h3 {
  font-size: 22px;
  font-family: 'robotomedium';
  color: #ffffff;
}
.container-services-form .input-services-form label {
  font-family: 'robotolight';
  font-size: 14px;
  color: #ffffff;
}
.container-services-form .input-services-form input.form-control,
.container-services-form .input-services-form textarea {
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: #b0bec5;
  height: 45px;
  font-size: 14px;
  color: #455a64;
}
.container-services-form .input-services-form input.form-control::-webkit-input-placeholder,
.container-services-form .input-services-form textarea::-webkit-input-placeholder {
  color: #455a64;
}
.container-services-form .input-services-form input.form-control:-moz-placeholder,
.container-services-form .input-services-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #455a64;
}
.container-services-form .input-services-form input.form-control::-moz-placeholder,
.container-services-form .input-services-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #455a64;
}
.container-services-form .input-services-form input.form-control:-ms-input-placeholder,
.container-services-form .input-services-form textarea:-ms-input-placeholder {
  color: #455a64;
}
.container-services-form .input-services-form textarea {
  height: 150px;
  resize: none;
  border-radius: 4px !important;
  padding: 10px 15px;
}
.container-services-form .dropdown-services button {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: #b0bec5;
  height: 45px;
  font-size: 14px;
  color: #455a64;
  text-align: left;
  padding-left: 10px;
}
.container-services-form .dropdown-services button span {
  position: absolute;
  right: 15px;
  top: 20px;
}
.container-services-form .dropdown-services .dropdown-services-menu {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: #b0bec5;
  font-size: 14px;
  color: #455a64;
  text-align: left;
}
.container-services-form .dropdown-services .dropdown-services-menu li {
  height: 40px;
  padding: 10px;
}
.container-services-form .dropdown-services .dropdown-services-menu li:hover {
  background-color: #ffffff;
  color: #455a64;
  cursor: pointer;
}
.container-services-form .btn-submit-services {
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: #b0bec5;
  font-size: 14px;
  color: #455a64;
  height: 45px;
  line-height: 5px;
}
.container-services-form .services-contact h6 {
  font-family: 'robotoregular';
  font-size: 16px;
}
.container-services-form .services-contact table {
  margin-top: 40px;
}
.container-services-form .services-contact table tr td {
  width: 90px;
  font-size: 14px;
}
.container-services-form .services-contact img {
  margin-top: 50px;
}
.container-footer {
  background-color: #37474f;
}
.container-footer .nav-services-footer {
  color: #ffffff;
}
.container-footer .nav-services-footer ul {
  margin-bottom: 40px;
}
.container-footer .nav-services-footer ul li a {
  color: #ffffff;
}
.container-footer .nav-services-footer ul li a:hover {
  color: #489e54;
}
.container-footer .left-side {
  font-size: 16px;
  font-family: 'robotolight';
  color: #ffffff;
  margin-top: 40px;
}
.container-footer .left-side a {
  font-size: 16px;
  color: #489e54;
}
