.logo-404 {
  text-align: center;
  a {
    text-align: center;
    width: 200px;
  }
}

.container-fullwidth {
  margin-top: 20px;
  width: 100%;
  background-color: @container-bg;
  box-shadow: @containers-box-shadow;
  text-align: center;
  h1 {
    color: @brand-primary;
    font-family: @font-headings-bold;
    font-size: 100px;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  p {
    font-size: 30px;
    font-family: @font-default-light;
    a {
      font-size: 30px;
      font-family: @font-default-light;
      color: @brand-primary;
    }
    &.foot-help-404 {
      font-size: 14px;
      margin-top: 150px;
      margin-bottom: 30px;
      a {
        font-size: 14px;

      }
    }
  }
}