.badges-sidebar {
  background-color: @container-bg;
  box-shadow: @containers-box-shadow;
  padding: 5px;
  margin-bottom: 20px;
  h4 {
    text-align: center;
    font-size: 18px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 10px 0;
      width: 100%;
      clear: both;
      overflow: auto;
      vertical-align: middle;
      line-height: 40px;
      .img-badge {
        width: 45px;
        overflow: auto;
        float: left;
        margin-right: 5px;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  a {
    display: block;
    text-align: center;
    padding: 10px;
  }
}

// HOW TO EARN BADGES 
.badges-text {
  margin-bottom: 20px;
}


.badge-howto-wrap {
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  img {
    display: block;
    margin: 0 auto;
  }
}

.badge-explanation {
  h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: @brand-primary;
    font-size: 22px;
  }
}
























