button {
  outline: none !important;
  &:focus ,&:active, &:active{
    outline: none;
  }
}


.btn-normal {
  font-family: @font-default;
  font-size: @btn-font-size;
  text-transform: uppercase;
  color: @btn-color;
  border: @btn-border;
  background-color: @btn-bg;
  height: 35px;
  border-radius: 0;
  line-height: 0;
  min-width: 190px;
  transition: @transition-default;
  &:hover {
    background-color: @btn-bg-hover;
    border: 1px solid @brand-primary;
    color: @white;
    transition: @transition-default;
  }
}

.btn-add-more {
  background-color: @add-btn-bg;
  height: @add-btn-height;
  padding: 0 20px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 12px;
  font-family: @font-default-light;
  transition: @transition-default;
  &:focus , &:hover {
    background-color: @brand-primary;
    color: @white;
    outline: none;
    transition: @transition-default;
  }
}

.dropdown-normal {
  height: @input-height;
  outline: none;
  padding: 0 20px;
  width: 100%;
  border-radius: 0;
  text-align: left;
  background-color: @input-bg;

  &:focus , &:hover , &:active {
    background-color: @input-bg;
    border: @input-border-hover;
  }
  span.caret {
    position: absolute;
    right: 10px;
    top: 15px;
  }
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown.open>button.dropdown-normal {
  background-color: @brand-primary;
  border: @input-border-hover;
  color: @white;
}
.dropdown-menu-normal {
  width: 100%;
  background-color: @input-bg;
  padding: 0;
  border-radius: 0;
  color: @input-color;
  transition: @transition-default;
  max-height: 200px;
  overflow-y: scroll;
  li a {
    font-family: @font-default-light;
    color: @input-color;
    &:hover , &:focus {
      color: @white;
      background-color: @brand-primary;
      transition: @transition-default;
    }
  }
}

.btn-image {
  background-color: @add-btn-bg;
  width: 100%;
  height: 110px;
  border: 1px dotted @body-bg;
  border-radius: 3px;
  text-align: center;
  font-family: @font-default-light;
  font-size: 14px;
  cursor: pointer;
  transition: @transition-slower;
  background-image: url(../images/cloud-upload.png);
  background-position: center 50px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  &:hover {
    border: 1px solid @brand-primary;
    transition: @transition-slower;
  }
}

//.btn-image-upload , .cloudinary-fileupload {
//  position: absolute;
//  top: 0px;
//  height: 110px;
//  width: 100%;
//  opacity: 0;
//  cursor: pointer;
//}

.btn-submit {
  height: 40px;
  border: none;
  padding: 0 25px;
  border-radius: 0;
  font-family: @font-default;
  background-color: @add-btn-bg;
  box-shadow: @containers-box-shadow;
}
.btn-cancel {
  background-color: @white;
}

// SIGN IN /REGISTER

.btn-register , .btn-login {
  float: left;
  margin: 5px 5px;
  display: block;
  padding: 0;
  text-align: center;
  line-height: 35px;
  width: 90px;
  height: 35px;
  background-color: @brand-primary;
  border: 1px solid @brand-primary;
  border-radius: 2px;
  font-size: 14px;
  font-family: @font-default-light;
  &:hover , &:active, &:focus {
    background-color: @container-bg;
    border: 1px solid @brand-primary;
    color: @brand-primary;
  }
}

.btn-login {
  background-color: @container-bg;
  border: 1px solid @body-bg;
  color: @brand-primary;
  &:hover , &:active, &:focus {
    background-color: @brand-primary;
    border: 1px solid @brand-primary;
    color: @white;
  }
}

.modal-login {
  border-radius: 2px;
  background-color: @container-bg;
  overflow: auto;
  padding: 20px;
  width: 400px;
//  height: 300px;
}

// BTN DASHBOARD ADD NEW PRODUCT

.btn-new-product {
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  background-color: @body-bg;
  &:hover, &:active, &:focus {
    background-color: @brand-primary;
    color: @white;
  }
}

// BTN submit reviews
.btn-rating-submit {
  padding: 5px 10px;
  border-radius: 0px;
  &:hover, &:focus, &:active {
    background-color: @brand-primary;
    color: @white;
    border-color: @brand-primary;
  }
}

.btn-add-more-shippings {
  margin: 0 auto;
}

// Btns single order

.btn-single-order {
  height: 30px;
  padding: 0 15px;
  background-color: @gray;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  margin: 0 5px;
  &.btn-single-order-approve {
    background-color: #92c399;
    color: @white;
  }
}

// BUY BUTTONS

.btn-buy {
  padding: 0 15px;
  background-color: @brand-primary;
  border-radius: 0;
  border: 0;
  color: @white;
  font-family: @font-default;
  font-size: 14px;
  height: 35px;
  &:hover , &:active, &:focus {
    color: @white;
    background-color: @brand-primary;
  }
}