.buyer-protection {

  background-color: @container-bg;
  box-shadow: @containers-box-shadow;
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
  height: 120px;
  h3 {
    margin: 0 0 10px 0;
    color: @brand-primary;
  }
  img {
    position: absolute;
    right: 10px;
    top: 30%;
  }
}

.clear-paddings-right {
  padding-right: 0;
}