.cart-product-wrap {
  margin-bottom: 20px;
  padding: 15px 0;
  background-color: @container-bg;
  overflow: auto;
  .product-image {
    width: 100%;
    float: left;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  h5 {
    font-family: @font-default-medium;
    font-size: 16px;
    margin-top: 0;
  }

  .product-form {
    margin-top: 10px;
  }
  .cart-productfooter {
    border-top: 1px solid @brand-primary;
    padding-top: 10px;
    float: left;
    table {
      tr {
        td {
          font-size: 14px;

        }
      }
    }
    .cart-product-price {
      float: right;
      text-align:right;
    }
  }
}

.table-cart-productinfo {
  tr {
    td {
      text-align: left;
      &:first-of-type {
        width: 120px;
        font-family: @font-default-medium;
      }
    }
  }
}

.cart-total {
  background-color: @container-bg;
  margin-top: 20px;
  overflow: auto;
  .cart-total-header {
    border-bottom: 1px solid @brand-primary;
    overflow: auto;
    color: @brand-primary;
  }
  .remove-from-cart {
    a {
      float: right;
      font-size: 14px;
      margin-top: 17px;
    }
  }
  .cart-total-footer {
    padding-top: 10px;
    float: right;
    text-align: right;
  }
}