.category-list-wrap {
  background-color: @container-bg;
  box-shadow: @containers-box-shadow;
  .category-list-header {
    padding: 15px;
    border-bottom: 1px solid @brand-primary;
    h2 {
      padding: 0;
      margin: 0;
      color: @brand-primary;
    }
  }

}
.panel-group .panel + .panel {
  margin-top: 0;
}
.category-list {

  .panel-default {
    border: 0;
    border-radius: 0;
    .panel-default {
      border: 1px solid @brand-primary;
      border-radius: 0;
    }
  }
  .panel-heading {
    padding: 0;
    h4 {
      a {
        display: block;
        height: 30px;
        padding: 5px;
        font-size: 16px;
        color: @brand-primary;
        &:hover , &:active , &:focus  {
          text-decoration: none;
          background-color: @brand-primary;
          color: @white;
        }
      }
    }
  }
  [aria-expanded="true"] {
    .panel-heading {
      h4 {
        a {
          text-decoration: none;
          background-color: @brand-primary;
          color: @white;
        }
      }
    }
  }
  .child-categories {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      a {
        display: block;
        padding: 3px;
        font-size: 14px;
        font-family: @font-default-light;
        &:hover, &:focus , &:active {
          color: @brand-primary;
          text-decoration: none;
        }
      }
    }
  }

}

