.contact-us-table {
  margin-bottom: 15px;
  &:nth-of-type(2) {
    margin-bottom: 25px;
  }
  tr {
    td {
      &:first-of-type {
        font-family: @font-default-medium;
        width: 150px;
      }
    }
  }
}

.contact-us-image {
  overflow: hidden;
  img {
    width: 100%;
  }
}