body {
  font-family: @font-default;
}

.content-container {
  background-color: @container-bg;
  border-radius: 0;
  border: none;
  .content-title {
    background-color: @container-bg;
    border-bottom: 1px solid @brand-primary;
    h3 {
      font-size: 18px;
      color: @container-title-color;
    }
  }
  .panel-content {
    font-family: @font-default-light;
  }
}

.panel-variations {
  padding: 0;
  li {
    a {
      border-radius: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

  }
  li.active a {
    background-color: @body-bg;
    &:hover, &:focus, &:active {
      background-color: @body-bg;
    }
  }
}
.tab-pane {
  padding: 15px;
}