.featured-product-wrap {
  &:hover {
    box-shadow: @containers-box-shadow;
    .featured-product-hover {
      display: block;
      transition: @transition-slower;
    }
  }
}

.featured-product-head {
  height: 30px;
  line-height: 30px;
  span {
    color: @white;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: @brand-primary;
    font-size: 18px;
    line-height: 30px;
    float: left;
    margin-right: 5px;
  }
}

.featured-product-homepage {
  text-decoration: none;
  display: block;
  width: 160px;
  float: left;
  margin: 5px 10px;
  &:hover {
    text-decoration: none;
  }
}

.featured-product-image {
  position: relative;
  overflow: hidden;
}

.featured-product-hover {
  background-color: @product-hover-bg;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: @white;
  font-size: 15px;
  display: none;
  transition: @transition-slower;
  .featured-product-rating {
    margin-top: 120px;
  }
}

.featured-product-info {
  padding: 0 5px;
  border-bottom: 4px solid @brand-primary;
  span {
    color: @brand-primary;
    font-size: 20px;
    font-family: @font-headings;
  }
}