
html, body {
  height: 100%;
  padding-bottom: 250px;
}

footer {
  width: 100%;
  margin-top: 25px;
  background-color: @container-bg;
  h3 {
    padding: 3px;
    border-bottom: 5px solid @brand-primary;
  }
  ul {

    padding: 0;
    margin: 0;
    li {
      font-family: @font-default-light;
      font-size: 12px;
      display: block;
      list-style-type: none;
      margin: 5px 0;
      padding: 5px 10px;
      height: 35px;
      line-height: 35px;
      img {
        margin-right: 10px;
      }
    }
  }

  .footer-copyrights {
    margin: 20px 0;
    text-align: center;
  }
}

//

