.dropdown-profile {
  position: relative;
  height: 60px;
  width: 200px;
  float: right;
  button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-family: @font-default;
    color: @text-color;
    padding: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    span {
      position: absolute;
      right: 0;
      top: 17px;
      &:first-of-type {
        left: 0;
        top: 0;
      }
    }
  }
  .header-profile-image {
    border: 2px solid @body-bg;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 0;

    img {
      width: 50px;
      height: 50px;
    }

  }
  .header-a-button {
    position: absolute;
    font-family: @font-default-light;
    padding: 5px;
    border-radius: 2px;
    top: 20px;
    right: 80px;
    &:hover {
      text-decoration: none;
      background-color: @brand-primary;
      color: @white;
    }
  }
  ul {
    background-color: @container-bg;
    padding: 5px;
    font-family: @font-default;
    color: @text-color;
    font-size: 12px;
    border: @container-border;
    border-radius: 2px;
    li {
      border-radius: 2px;
      padding: 5px;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        background-color: @brand-primary;
        color: @white;
        a {
          color: @white;
        }
      }
      &:active {
        text-decoration: none;
        color: @text-color;
      }
      &:focus {
        outline: none;
        text-decoration: none;
        color: @text-color;
      }
      &:visited {
        text-decoration: none;
        color: @text-color;
      }
      a {
        padding: 0;
        background-color: transparent;
        color: @text-color;
        &:hover, &:active, &:focus {
          background-color: transparent;
          color: @white;
        }
      }
    }
    hr {
      padding: 0;
      margin: 3px;
    }
  }
}


.logo {
  margin: 20px 0;
}

.dropdown-profile {
  margin: 20px 0;
}

.dropdown-help {
  margin: 10px 0;
  button {
    border: none;
    background-color: transparent;
    font-family: @font-default-light;
    color: @text-color;
  }
  .dropdown-menu {
    background-color: @container-bg;
    padding: 5px;
    border-radius: 0;
    li {
      a {
        padding-left: 10px;
        color: @text-color;
        background-color: @container-bg;
        &:hover {
          background-color: @brand-primary;
          color: @white;
        }
      }
    }
  }
}

.header-a-button {
  float: right;
  padding: 5px;
  margin-top: 5px ;
  font-family: @font-default-light;
  display: block;
  border: 1px solid #dddfe4;
  margin-left: 5px;
  &:hover {
    border: 1px solid @brand-primary;
    background-color: @brand-primary;
    border-radius: 2px;
    color: @white;
    text-decoration: none;
  }
  &:first-of-type {

  }
}

.header-notif-button {
  border-radius: 1px;
  &:hover , &:active {
    background-color: @brand-primary;
    color: @white;
  }
  span {
    &.glyphicon {
      &:first-of-type {
        color: #e54646;
        font-size: 13px;
        margin-right: 7px;
      }
    }
  }
}

.btn-group-notif {
  &.open {
    .header-notif-button {
      background-color: @brand-primary;
      color: @white;
      span {
        &.glyphicon {
          &:first-of-type {
            color: @white;
            font-size: 13px;
            margin-right: 7px;
          }
        }
      }
    }

  }

}

.menu-notifications {
  width: 240px;
  padding: 10px;
  border: 1px solid #dddfe4;
  background-color: @container-bg;
  border-radius: 1px;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #dddfe4;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
      border: 0;
    }

    a {
      display: inline-block;
      padding: 0;
      color: @brand-primary;
      &:hover {
        color: @brand-primary;
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}