html , body {
  height: 100%;
}
.header-profile {
  width: 100%;
  background-color: @container-bg;
}

.top-hr {
  margin: 0;
  padding: 0;
}

.nav-wrap {
  width: 100%;
  background-color: @brand-primary;
}

.clear-paddings {
  padding: 0;
}

.login-register {
  float: right;
  margin-top: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.slider-homepage {
  min-height: 400px;
  background-image: url(../images/slider-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  .search-bar {
    margin-top: 10%;
    .input-group {
      .search-bar-slider {
        height: 80px;
        border: 0;
        border-radius: 1px;
        background-color: rgba(255, 255, 255, 0.9);
        width: 80%;
        font-family: @font-default-light;
        color: @text-color;
        font-size: 30px;
        padding-left: 15px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

        &::-webkit-input-placeholder , &:-moz-placeholder , &::-moz-placeholder, &:-ms-input-placeholder {
          color: @text-color;
        }
      }
      .input-group-btn {
        display: block;
        height: 80px;
        border: 0;
        border-radius: 1px;
        position: relative;
        float: right;
        width: 19%;
        .dropdown-categories-search {
          font-family: @font-default-light;
          font-size: 14px;
          color: @text-color;
          height: 80px;
          background-color: rgba(255, 255, 255, 0.9);
          border: 0;
          border-radius: 1px;
          width: 100%;
          span {
            margin-left: 5px;

          }
        }
      }
      .dropdown-categories-home {
        position: absolute;
        left: -100%;
        border-radius: 0;
        border: 0;
        width: 200%;
        padding: 0;
        li {
          position: relative;
          a {
            height: 50px;
            background-color: rgba(255, 255, 255, 0.9);
            line-height: 50px;
            color: @text-color;
            font-family: @font-default-light;
            font-size: 14px;
            border-bottom: 1px solid #b0bec5;
            position: relative;
            &:hover , &:focus {
              background-color: @white;
              &>.dropdown-subcategories-home {
                display: block;
              }
            }
            span {
              position: absolute;
              right: 20px;
              top: 5px;
              display: block;
              width: 30px;
              text-align: center;
              float: right;
              font-size: 22px;
              line-height: 47px;
              color: #263238;
            }
          }
          &:last-of-type {
            a {
//              margin-top: 1px;
              border-bottom: 0;
              text-align: center;
            }
          }

        //SUBCATS
          .dropdown-subcategories-home , .dropdown-subsubcategories-home{
            display: none;
            position: absolute;
            left: -90%;
            top:0;
            width: 90%;
            margin-right: 4px;
            li {
              list-style-type: none;
              margin: 0;
              padding: 0;
              text-align: left;
              margin-right: 1px;
              a {
                display: block;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.9);
                line-height: 50px;
                color: @text-color;
                font-family: @font-default-light;
                font-size: 14px;
                border-bottom: 1px solid #b0bec5;
                text-align: left;
                padding-left: 15px;
                &:hover {
                  text-decoration: none;
                }
                span {
                }
              }

            }
          }
        }
      }
    }
  }
}


.slider-homepage {
  .search-bar {
    .input-group {
      .dropdown-categories-home li:hover ul.dropdown-subcategories-home {
        display: block;
        li:hover {
          ul.dropdown-subsubcategories-home {
            display: block;
          }
        }
      }
    }
  }
}



.btn-search-slider {
  padding: 10px 70px;
  border-radius: 3px;
  border: 0;
  font-size: 18px;
  color: @text-color;
  font-family: @font-default;
  background-color: @white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  &:hover, &:active, &:focus {
    background-color: #e9eff3;
  }
}

.slider-menu {
  height: 110px;
  background-color: rgba(255, 255, 255, 0.8);
//  margin-top: 30%;
  padding: 15px 0 ;
  .btn-menu-slider {
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 1px;
    background: @brand-primary;
    color: @white;
    height: 80px;
    font-family: @font-default-medium;
    font-size: 18px;
    line-height: 80px;
    background-image: url(../images/btn-slidermenu-buy.png);
    background-position: center 10px;
    background-repeat: no-repeat;
    &.sell {
      background-color: #78909c;
      background-image: url(../images/btn-slidermenu-sell.png);
    }
    &.rent {
      background-color: #ffa726;
      background-image: url(../images/btn-slidermenu-rent.png);
    }
    &.services {
      background-color: #00b0ff;
      background-image: url(../images/btn-slidermenu-services.png);
    }
    &:active, &:focus, &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

// Media queryes

/* Small devices (tablets, 768px and up) */
//@media (min-width: 768px) {
//  .slider-menu {
//    margin-top: 10;
//  }
//}
//
///* Medium devices (desktops, 992px and up) */
//@media (min-width: 992px) {
//  .slider-menu {
//    margin-top: 10;
//  }
//}
//
///* Large devices (large desktops, 1200px and up) */
//@media (min-width: 1200px) {
//  .slider-menu {
//    margin-top: 10;
//  }
//}






























