.tabpanel-inbox {
  background-color: @container-bg;
  max-height: ;
  .inbox-header {
    border-bottom: 1px solid @brand-primary;
  }
  ul {
    li {
      clear: both;
      width: 100%;
      overflow: hidden;
      &:hover {
        border: 0;
        a {
          border: 0;
        }
      }
      a {
        border: 0;
        width: 100%;
        border-radius: 0;
        overflow: auto;
        .inbox-avatar {
          width: 40px;
          height: 40px;
          border-radius: 2px;
          border: 1px solid @brand-primary;
          overflow: hidden;
          float: left;
          margin-right: 5px;
          img {
            width: 100%;
          }
        }
        .inbox-info {
          h6 {
            margin: 0;
            margin-bottom: 8px;
            font-size: 14px;
            span {
              float: right;
            }
          }
          p {
            height: 17px;
            overflow: hidden;
            margin: 0;
            font-size: 12px;
          }
        }
      }
      &.active {
        a {
          background-color: @brand-primary;
          color: @white;
          border: 0;
          .inbox-avatar {
            border: 1px solid @white;
          }
          &:hover, &:focus, &:active {
            border: 0;
            background-color: @brand-primary;
            color: @white;
            border-radius: 0;
          }
        }
        &:hover {
          border: 0;
          border-radius: 0;
        }
      }

    }
  }
}

.tab-inbox-content {
  background-color: @container-bg;
  height: 560px;
  position: relative;

  .inbox-single-title {
    border-bottom: 1px solid @gray-border;
    padding-bottom: 10px;
  }
  .inbox-sender-title {
    h3 {
      margin: 5px 0;
    }
  }
  .inbox-new {
    height: 25px;
    padding: 0 5px;
    border-radius: 0px;
    font-size: 12px ;
    border: 1px solid @brand-primary;
    &:hover, &:active, &:focus {
      background-color: @brand-primary;
      color: @white;
    }
  }
//  content
  .chat-area {
    margin-top: 15px;
    height: 390px;
    overflow-y: scroll;
    .sender {
      clear:both;
      margin-bottom: 20px;
      overflow: auto;
      .chat-avatar {
        float: left;
        margin-right: 10px;
      }
      .chat-text {
        width: 90%;
        float: left;
        h5 {
          margin-top: 0;
          font-family: @font-default;
        }
        .chat-text-content {
          margin-bottom: 5px;
          float: left;
          width: 85%;
        }
        .chat-time {
          float: right;
        }
      }
    }
    .user {
      clear: both;
      margin-bottom: 20px;
      overflow: auto;
      .chat-avatar {
        float: right;
        margin-left: 10px;

      }
      .chat-text {
        text-align: right;
        h5 {
          margin-top: 0;
          font-family: @font-default;
        }
        .chat-text-content {
          width: 80%;
          float: right;
          text-align: right;
        }
        .chat-time {
          float: left;
        }
      }
    }
  }
//  write area
  .inbox-single-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid @gray-border;
    .write-area-inbox {
      background-color: #eaebed;
      width: 100%;
      overflow: auto;
      overflow-y: hidden;
      height: 55px;
      border: 1px solid @gray-border;
      textarea {
        resize: none;
        height: 55px;
        outline: none;
        padding: 10px;
        width: 100%;
        border: 0;
        background-color: transparent;
        &:focus, &:hover , &:active {
          outline: 0;
        }
      }
      button {
        height: 30px;
        border: 1px solid @brand-primary;
        border-radius: 0;
        padding: 0;
        width: 100%;
        margin-top: 12px;
        &:hover, &:focus, &:active {
          background-color: @brand-primary;
          color: @white;
        }
      }
    }
  }
}
