label {
  font-family: @input-label-font;
  font-size: 14px;
  color: @input-label-color;
  font-weight: 200;
}
.input-group {
  width: 100%;
  margin-bottom: 20px;
  input.form-control {
    border-radius: 0;
    background-color: @input-bg;
    outline: none;
    color: @input-color;
    font-family: @input-font;
    height: @input-height;
    padding: 10px;
    box-shadow: none;
    border: @input-border;
    transition: @transition-slower;
    width: 100%;
    margin-bottom: 10px;
    &:focus {
      box-shadow: none;
      border: @input-border-hover;
      outline: none;
      transition: @transition-slower;
    }
  }
  .input-error {
    border: @input-border-error !important;
  }
}

// INPUT WITH DROPDOWN

.dropdown-currency-button {
  width: 60px;
  padding: 10px;
  border: @input-border;
  height: 35px;
  background-color: @input-bg;
  border-radius: 0px;
  transition: @transition-default;
  border: @input-border;
  &:hover, &focus {
    color: @white;
    background-color: @brand-primary;
    border: @input-border-hover;
    transition: @transition-default;
  }
  span.caret {
    margin-left: 10px;
  }
}
.dropdown-currency {
  min-width: 60px;
  background-color: @input-bg;
  padding: 0;
  border-radius: 0;
  color: @input-color;
  transition: @transition-default;
  li a {
    font-family: @font-default-light;
    color: @input-color;
    &:hover , &:focus {
      color: @white;
      background-color: @brand-primary;
      transition: @transition-default;
    }
  }
}

.open .dropdown-currency-button:focus {
  color: @white;
  background-color: @brand-primary;
  transition: @transition-default;
}

.textarea-normal {
  width: 100%;
  outline: none;
  background-color: @input-bg;
  border: @input-border !important;
  resize: none;
  color: @input-color;
  padding: 10px;
  font-size: 12px;
  font-family: @font-default-light;
  min-height: 100px;
  margin-bottom: 15px;
  &:focus, &:active, &:hover {
    border: @input-border-hover;
  }
}

.ng-invalid.ng-touched {
  border: @input-border-error !important;
}

