.loader {
  margin: 0 auto;
  overflow: auto;
  width: 50px;
}

#circularG{
  position:relative;
  width:50px;
  height:50px}

.circularG{
  position:absolute;
  background-color:#489E53;
  width:11px;
  height:11px;
  -moz-border-radius:8px;
  -moz-animation-name:bounce_circularG;
  -moz-animation-duration:1.52s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:normal;
  -webkit-border-radius:8px;
  -webkit-animation-name:bounce_circularG;
  -webkit-animation-duration:1.52s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -ms-border-radius:8px;
  -ms-animation-name:bounce_circularG;
  -ms-animation-duration:1.52s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:normal;
  -o-border-radius:8px;
  -o-animation-name:bounce_circularG;
  -o-animation-duration:1.52s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:normal;
  border-radius:8px;
  animation-name:bounce_circularG;
  animation-duration:1.52s;
  animation-iteration-count:infinite;
  animation-direction:normal;
}

#circularG_1{
  left:0;
  top:20px;
  -moz-animation-delay:0.57s;
  -webkit-animation-delay:0.57s;
  -ms-animation-delay:0.57s;
  -o-animation-delay:0.57s;
  animation-delay:0.57s;
}

#circularG_2{
  left:5px;
  top:5px;
  -moz-animation-delay:0.76s;
  -webkit-animation-delay:0.76s;
  -ms-animation-delay:0.76s;
  -o-animation-delay:0.76s;
  animation-delay:0.76s;
}

#circularG_3{
  top:0;
  left:20px;
  -moz-animation-delay:0.95s;
  -webkit-animation-delay:0.95s;
  -ms-animation-delay:0.95s;
  -o-animation-delay:0.95s;
  animation-delay:0.95s;
}

#circularG_4{
  right:5px;
  top:5px;
  -moz-animation-delay:1.14s;
  -webkit-animation-delay:1.14s;
  -ms-animation-delay:1.14s;
  -o-animation-delay:1.14s;
  animation-delay:1.14s;
}

#circularG_5{
  right:0;
  top:20px;
  -moz-animation-delay:1.33s;
  -webkit-animation-delay:1.33s;
  -ms-animation-delay:1.33s;
  -o-animation-delay:1.33s;
  animation-delay:1.33s;
}

#circularG_6{
  right:5px;
  bottom:5px;
  -moz-animation-delay:1.52s;
  -webkit-animation-delay:1.52s;
  -ms-animation-delay:1.52s;
  -o-animation-delay:1.52s;
  animation-delay:1.52s;
}

#circularG_7{
  left:20px;
  bottom:0;
  -moz-animation-delay:1.71s;
  -webkit-animation-delay:1.71s;
  -ms-animation-delay:1.71s;
  -o-animation-delay:1.71s;
  animation-delay:1.71s;
}

#circularG_8{
  left:5px;
  bottom:5px;
  -moz-animation-delay:1.9s;
  -webkit-animation-delay:1.9s;
  -ms-animation-delay:1.9s;
  -o-animation-delay:1.9s;
  animation-delay:1.9s;
}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1)}

  100%{
    -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1)}

  100%{
    -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1)}

  100%{
    -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1)}

  100%{
    -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
  0%{
    transform:scale(1)}

  100%{
    transform:scale(.3)}

}