.category-nav-wrap {
  background-color: @brand-primary;
  ul {
    margin: 0;
    height: 70px;
    padding: 5px 0;
    li {
      font-family: @font-headings;
      color: @white;
      display: block;
      list-style-type: none;
      float: left;
      a {
        width: 100%;
        display: block;
        font-size: 18px;
        color: @white;
        padding-left: 30px;
        text-transform: uppercase;
        line-height: 30px;
        .icon-cat {
          display: block;
          width: 40px;
          vertical-align: middle;
          float: left;
          padding-top: 5px;
          text-align: center;
        }
        &:hover {
          background-color: @white;
          color: @brand-primary;
          text-decoration: none;
        }
      }
    }
  }
}