.nav-wrap {
  margin-bottom: 25px;
}

.clear-paddings.paddings-right {
  padding-right: 10px;
}

.panel-variations li a.variation-add-new {
  border-left: 1px solid @body-bg;
  border-right: 1px solid @body-bg;
}

