.pagination-pages {
  font-family: @font-default;
  cursor: pointer;
  li {
    cursor: pointer;
    a {
      cursor: pointer;
      padding: 10px;
      color: @brand-primary;
      &:hover, &:active , &:focus {
        background-color: @brand-primary;
        color: @white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}