.panel-p-methods {
  font-size: 14px;
  .btn-buy {
    margin-top: 20px;
    clear: both;
  }
}

.payment-method {
  width: 120px;
  height: 80px;
  float: left;
  margin: 10px;
  &:first-of-type {
    margin-left: 0;
  }

  &.checkbox + .checkbox {
    margin-top: 10px;
  }

  input[type=radio] + label, input[type=checkbox] {
    display: inline-block;
    width: 120px;
    height: 80px;
    opacity: 0;
    margin: 0;
  }

  input[type=checkbox] + label {
    display: inline-block;
    font-size: 14px;
    width: 120px;
    height: 80px;
    background-image: url(../images/pm-pp-normal.png);
    color: @text-color;
    text-align: center;
    cursor: pointer;
    font-family: @font-default;
    margin-bottom: 15px;
    transition: @transition-default;
  }
  input[type=checkbox]:checked + label{
    color: @white;
    transition: @transition-default;
    background-image: url(../images/pm-pp-checked.png);
  }

}

.payment-wu {
  input[type=checkbox] + label {
    background-image: url(../images/pm-wu-normal.png);
  }

  input[type=checkbox]:checked + label {
    background-image: url(../images/pm-wu-checked.png);
  }
}

.payment-mg {
  input[type=checkbox] + label {
    background-image: url(../images/pm-mg-normal.png);
  }

  input[type=checkbox]:checked + label {
    background-image: url(../images/pm-mg-checked.png);
  }
}

.payment-tr {
  input[type=checkbox] + label {
    background-image: url(../images/pm-tr-normal.png);
  }

  input[type=checkbox]:checked + label {
    background-image: url(../images/pm-tr-checked.png);
  }
}