.product-photo {
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 15px 0;
  img {
    width: 100%;
  }
}
.products-item {
  background-color: @container-bg;
  overflow: auto;
  h3 {
    font-family: @font-default;
    text-transform: capitalize;
    color: @product-list-h-color;
  }
}

.products-list-info {
  height: 100%;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  p {
    font-family: @font-default-light;
    span {
      font-family: @font-default;
    }
  }
}

.product-item {
  position: relative;
}

.product-list-price {
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 0px;
  h3 {
    margin: 0;
  }
}