.profile-main {
  width: 100%;
  background-color: @container-bg;
  .profile-image {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid @gray-border;
    position: relative;
    &:hover {
      .btn-upload-image , .cloudinary-fileupload {
        visibility: visible;
      }
    }
    img {
      width: 100%;
    }
    .btn-upload-image , .cloudinary-fileupload {
      position: absolute;
      height: 30px;
      width: 60%;
      margin-left: 20%;
      bottom: 55px;
      padding: 0;
      background-color: @white;
      border-radius: 0;
      visibility: hidden;
    }
  }
  h1 {
    text-align: center;
    font-family: @font-default-medium;
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  .profile-informations {
    margin-bottom: 30px;
    h4 {
      border-bottom: 1px solid @gray-border;
    }
    .profile-info {
      padding-top: 10px;
      p {
        padding: 0;
        font-family: @font-default-light;
        font-size: 12px;
        color: @text-color;
        span {
          text-align: center;
          width: 20px;
          overflow: hidden;
          margin-right: 15px;
        }
      }
    }
    .achievement-single {
      padding-top: 10px;
      .achievement-img {
        width: 50px;
        float: left;
        margin-right: 10px;

        img {
          margin: 0 auto;
          display: block;
        }
      }
      .achievement-info {
        overflow: auto;
        h5 {
          margin-top: 5px;
          font-size: 16px;
          font-family: @font-headings;
          margin-bottom: 0;
          clear: both;
        }
      }
    }
  }
}

// PRODUCTS SIDE - RIGHT

.profile-products {
  background-color: @container-bg;
  h3 {
    font-family: @font-default;
    font-size: 22px;
  }
  .add-new-prod {
    padding-top: 15px;
  }
}


.nav-tabs-dashboard {
  border: 0;
  &>li {
    &>a {
      padding: 5px 15px;
      border-radius: 15px;
      border: 0;
      span {
        margin-left: 5px;
        background-color: @brand-primary;
        color: @white;
      }
    }
    &.active, &:hover , &:focus, &:active {
      &>a {
        border: 0;
        color: @white;
        background-color: @brand-primary;
        span {
          background-color: @container-bg;
          color: @brand-primary;
        }
        &:hover , &:focus, &:active {
          background-color: @brand-primary;
          border: 0;
          color: @white;
        }
      }
    }
  }

}

.tab-pane-products {
  padding: 0;
  margin-top: 20px;
  table {
    thead {
      background-color: @thead-bg;
      font-family: @font-default-light;
      tr {
        th {
          font-family: @font-default-light;
          color: @thead-color;
          border: 0;
          &:nth-of-type(5) ,&:nth-of-type(6) {
            width: 80px;
            text-align: right;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border-bottom: 1px solid @thead-bg;
          font-family: @font-default-light;
          color: #353637;
          &:first-of-type {
            width: 110px;
          }
          &:nth-of-type(5) ,&:nth-of-type(6) {
            width: 80px;
            text-align: right;
            padding-right: 10px;
            a {
              span {
                font-size: 15px;
                color: #b2b5bc;
              }
              &:hover , &:active, &:focus {
                span {
                  color: #5c5e62;
                }
              }
            }
          }
        }
      }
    }
  }
}

.pagination-products {
  margin: 10px 0;
  span {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
  }
  nav {
    ul {
      margin: 0;
      li {
        a {
          border: 0;
          color: @text-color;
          border-radius: 3px;
          &.active , &:active , &:focus, &:hover {
            background-color: @brand-primary;
            color: @white;
            text-decoration: none;

          }
        }
      }
    }
  }
}


// REVIEWS

.tab-pane-reviews {
  .reviews-head {
    background-color: @thead-bg;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    span {
      color: @brand-primary;
    }
  }


}


.review-single {
  padding-top: 10px;
  .reviewer-img {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 35px;
    margin-right: 10px;
    img {
      width: 50px;
    }
  }
  h6 {
    margin-top: 0;
    font-family: @font-default;
    font-size: 14px;
    a {
      &:hover ,&:visited , &:focus {
        text-decoration: none;
        color: @text-color;
      }

    }
  }
  .review-content {
    font-size: 12px;
    font-family: @font-default-light;
    .review-rating {
      padding: 10px 0;
      span {
        font-size: 18px;
        &.full-star {
          color: @full-star;
        }
        &.empty-star {
          color: @empty-star;
        }
        &.rating-of-5 {
          margin-left: 10px;
          font-size: 14px;
        }
      }
    }
    .review-date {
      p {
        margin: 0;
        text-align: right;
        font-size: 11px;
        font-family: @font-default-light;
      }
    }
  }
}

.pagination-reviews {
  border-top: 1px solid @body-bg;
  border-bottom: 1px solid @body-bg;
  padding: 15px 0;
}

.write-review {
  textarea {
    width: 100%;
    resize: none;
    padding: 5px 10px;
    margin-top: 10px;
    outline: 0;
    background-color: @input-bg;
    border: 1px solid @input-border;
    &:focus {
      outline: 0;
    }
  }
  .give-rate-submit {
    overflow: auto;
    border: @input-border;
    border-top: 0;
    padding: 5px;
    margin-top: -5px;


  }

}

// SHIPPING TAB

.tab-pane-shipping {
  table {
    thead {
      border: 0;
      background-color: @thead-bg;
      tr {
        th {
          border: 0;
          &:last-of-type {
            text-align: right;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid @body-bg;
        td {
          &:last-of-type {
            text-align: right;
          }
          a {
            span {
              font-size: 15px;
              color: #b2b5bc;
            }
            &:hover , &:active, &:focus {
              span {
                color: #5c5e62;
              }
            }
          }
        }
      }
    }
  }
}

.btn-add-shippings {
  text-align: center;
}

.tab-pane-orders {
  table {
    thead {
      border: 0;
      background-color: @thead-bg;
      tr {
        th {
          border: 0;
          &:last-of-type {
            text-align: right;
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid @body-bg;
        td {
          &:last-of-type {
            text-align: right;
          }
          a {
            span {
              font-size: 15px;
              color: #b2b5bc;
            }
            &:hover , &:active, &:focus {
              span {
                color: #5c5e62;
              }
            }
          }
        }
      }
    }
  }
}

// SINGLE ORDER

.order-details-title {
  .btn-single-order {
    line-height: 30px;
    position: absolute;
    right: 17px;
    top: 5px;
  }
}

.order-details {
  h6 {
    font-size: 14px;
    font-family: @font-default;
  }
}

.table-order-details {
  tr {
    td {
      width: 100px;
    }
  }
}

.order-status {
  h3 {
    &.completed {
      color: @brand-primary;
    }
    &.pending {
      color: @text-color;
    }
    &.declined {
      color: #ff6876;
    }
  }
}

.order-details-adress , .order-details-contact , .order-details-notes{
  margin-top: 15px;
  p {
    margin: 0;
  }
}

.table-payment-details {
  tr {
    &:last-of-type {
      height: 35px;
      font-family: @font-default-medium;
    }
  }
}

// Table product details

.product-image {
  margin-bottom: 20px;
}
.product-details-single-order {
  tr {
    td {
      &:first-of-type {
        width: 150px;
        font-family: @font-default-medium;
      }
    }
  }
}









