.profile-image-edit {
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;

  &:hover {
    .btn-upload-image {
      visibility: visible;
    }
  }
  img {
    width: 100%;
  }
  .btn-upload-image {
    position: absolute;
    vertical-align: middle;
    bottom: 30%;
    left: 15%;
    width: 70%;
    background-color: @container-bg;
    border-radius: 0;
    padding: 0;
    height: 35px;
    visibility: hidden;
  }
}

