.full-width-content {
  background-color: @container-bg;
  overflow: auto;
  .registration-header {
    margin-bottom: 30px;
    h2 {
      color: @brand-primary;
    }
  }
}


.account-type {
  input[type=radio], input[type=checkbox] {
    display: none;
  }

  input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    font-size: 14px;
    border: 1px solid @brand-primary;
    color: @text-color;
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: @container-bg;
    font-family: @font-default;
    margin-bottom: 15px;
    transition: @transition-default;
  }
  input[type=radio]:checked + label, input[type=checkbox]:checked + label{
    outline: 0;
    color: @white;
    background-color: @brand-primary;
    transition: @transition-default;

  }
  input[type=radio]:hover + label:hover, input[type=checkbox] + label{
    outline: 0;
    color: @white;
    background-color: @brand-primary;
    transition: @transition-default;

  }

}

.register-buttons {
  margin-bottom: 15px;
}