.input-group {
  font-size: 14px;
  .input-group-btn {
    margin: 0;
    padding: 0;
    vertical-align: top;

  }
  button.dropdown-search {
    font-family: @font-default;
    color: @text-color;
    padding: 0 5px;
    margin: 0;
    height: 50px;
    border-radius: 0;
    background-color: @container-bg;
    width: 120px;
    text-align: left;
    padding-left: 20px;
    &:hover , &:active , &:focus {
      background-color: @brand-primary;
      color: @white;
    }
    span {
      position: absolute;
      right: 10px;
      top: 20px;
    }

  }
  .dropdown-categories {
    border-radius: 2px;
    top: 50px;
    margin: 0;
    background-color: @container-bg;
    color: @text-color;
    font-family: @font-default;
    font-size: 12px;
    padding: 5px;
    li a {
      border-radius: 2px;
      color: @text-color;
      &:hover {
        background-color: @brand-primary;
        color: @white;
      }
    }
  }

  input.search-bar {
    height: 50px;
  }
}

.search-bar-btn {
  font-family: @font-default;
  color: @text-color;
  padding: 10px 20px;
  margin: 0;
  height: 50px;
  border-radius: 0;
  background-color: @container-bg;

  &:hover , &:active, &:focus {
    background-color: @brand-primary;
    color: @white;
  }
  &:focus {
    background-color: @container-bg;
    color: @text-color;
  }
}
