.products-item {
  margin-bottom: 20px;
}

.search-results-info {
  background-color: @container-bg;
  padding: 15px;
  margin-bottom: 20px;
  h2 {
    color: @brand-primary;
    margin-top: 0;
    span {
      color: @text-color;
    }
  }

}

.products-list-info {
  h3 {
    margin-bottom: 5px;
    margin-top: 15px;
  }
}