.body-services {
  background-color: @white;
}

.header-services-top-container {
  height: 39px;
  color: @services-color;
  font-size: 12px;
  font-family: @font-default-light;
  line-height: 39px;
  span {
    margin-right: 5px;
    font-size: 16px;
    color: @services-color;
  }
}


.nav-services {
  ul {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    li {
      list-style-type: none;
      float: left;
      margin: 0 10px;
      a {
        font-size: 18px;
        font-family: @font-default;
        color: @services-color;
        &:hover {
          text-decoration: none;
          color: @brand-primary;
        }
      }
    }
  }
}

.slider-services {
  background-image: url(../images/services-bg.jpg);
  .slider-content-services {
    position: relative;
    .slider-content-wrap {
      position: absolute;
      bottom: 40px;
      text-align: right;
      right: 0;
      color: @white;
      h1 {
        font-family: @font-default-bold;
        font-size: 72px;
      }
      h4 {
        font-family: @font-default-light;
        font-size: 32px;
        text-transform: none;
      }
    }

  }
}

.box-services {
  padding-top: 20px;
  text-align: center;
  h3 {
    font-size: 22px;
    font-family: @font-default-medium;
    color: @services-bold-color;
    text-transform: none;
    margin-top: 25px;
  }
  h5 {
    font-size: 16px;
    font-family: @font-default;
    color: @services-color;
  }

  .single-service {
    width: 100%;
    margin: 80px 0;
    .services-circle {
      border-radius: 50px;
      border: 3px solid @brand-primary;
      height: 100px;
      width: 100px;
      margin: 0 auto;
      img {
        margin-top: 22px;
      }
      &.services-circle-webdev {
        img {
          margin-top: 29px;
        }
      }
      &.services-circle-graphic {
        img {
          margin-top: 27px;
        }
      }
      &.services-circle-ukcall {
        img {
          margin-top: 25px;
        }
      }
    }
    h5 {
      margin-top: 15px;
      color: @services-bold-color;
      font-family: @font-default-medium;
      font-size: 16px;
    }
    h6 {
      color: @services-color;
      font-family: @font-default;
      font-size: 14px;
    }


  }

}

.container-projects {
  background-image: url(../images/services-page-projects.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .box-services {
    color: @white;
    h3, h5 {
      color: @white;
    }
    h5 {
      font-family: @font-default-light;
    }
    .project-single {
      position: relative;
      padding: 0;
      margin: 70px 15px;
      &:hover {
        .project-description {
          display: block;
          top: 0;
          transition: all 0.3s ease 0s;
        }
      }
      img {
        width: 100%
      }
      .project-description {
        display: none;
        background-color: rgba(39, 83, 121, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        padding: 0 15px;
        text-align: left;
        padding-top: 47%;
        transition: all 0.3s ease 0s;
        h5 {
          font-family: @font-default-medium;
          font-size: 14px;
          color: @white;
        }
        p {
          font-family: @font-default-light;
        }
      }
    }
  }
}

.team-container {
  background-image: url(../images/services-team-bg.jpg);
  background-size: cover;
  .single-team-member {
    margin: 90px 0 200px 0;
    .member-image {
      width: 170px;
      height: 170px;
      border: 3px solid @text-color;
      border-radius: 100px;
      margin: 0 auto;
      background-image: url(../images/team-single-ceo.jpg);
      background-size: cover;
      &:hover {
        border: 3px solid @brand-primary;
      }
      &.member-ceo {
      }
      &.member-designer {
        background-image: url(../images/team-single-designer.jpg);

      }
      &.member-developer {
        background-image: url(../images/team-single-developer.jpg);
      }
    }
    h5 {
      font-size: 14px;
      font-size: @font-default-medium;
    }
    h6 {
      font-family: @font-default-light;
      font-size: 14px;
    }
  }
}

.subscribe-services {
  h3 {
    font-family: @font-default-medium;
    font-size: 22px;
    color: #78909c;
    margin: 0;
    margin-bottom: 10px;
    span {
      color: #455a64;
    }
  }
  p {
    font-family: @font-default-light;
    font-size: 16px;
  }
  .subscribe-input {
    input {
      border: 1px solid #37474f;
      border-radius: 4px;
      height: 45px;
      font-size: 14px;
      background-color: transparent;
      &:focus {
        border: 1px solid #37474f;
      }
    }
    .btn-services-submit {
      height: 45px;
      background-color: #37474f;
      border-radius: 0;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      color: @white;
      border: 1px solid #37474f;
      font-family: @font-default-medium;
      line-height: 5px;
    }
  }
}

.container-services-form {
  padding-bottom: 30px;
  color: @white;
  background-color: #455a64;
  h3 {
    font-size: 22px;
    font-family: @font-default-medium;
    color: @white;
  }
  .input-services-form {
    label {
      font-family: @font-default-light;
      font-size: 14px;
      color: @white;
    }
    input.form-control , textarea {
      border-radius: 4px;
      border: 1px solid @white;
      background-color: #b0bec5;
      height: 45px;
      font-size: 14px;
      color: #455a64;
      &::-webkit-input-placeholder {
        color: #455a64;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #455a64;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
        color: #455a64;
      }
      &:-ms-input-placeholder {
        color: #455a64;
      }
    }
    textarea {
      height: 150px;
      resize: none;
      border-radius: 4px !important;
      padding: 10px 15px;
    }
  }
  .dropdown-services {
    button {
      width: 100%;
      border-radius: 4px;
      border: 1px solid @white;
      background-color: #b0bec5;
      height: 45px;
      font-size: 14px;
      color: #455a64;
      text-align: left;
      padding-left: 10px;
      span {
        position: absolute;
        right: 15px;
        top: 20px;
      }
    }
    .dropdown-services-menu {
      width: 100%;
      border-radius: 4px;
      border: 1px solid @white;
      background-color: #b0bec5;
      font-size: 14px;
      color: #455a64;
      text-align: left;
      li {
        height: 40px;
        padding: 10px;
        &:hover {
          background-color: @white;
          color: #455a64;
          cursor: pointer;
        }
      }

    }
  }
  .btn-submit-services {
    border-radius: 4px;
    border: 1px solid @white;
    background-color: #b0bec5;
    font-size: 14px;
    color: #455a64;
    height: 45px;
    line-height: 5px;
  }


  .services-contact {
    h6 {
      font-family: @font-default;
      font-size: 16px;
    }
    table {
      margin-top: 40px;
      tr {
        td {
          width: 90px;
          font-size: 14px;

        }
      }
    }
    img {
      margin-top: 50px;
    }
  }
}

// FOOTER

.container-footer {
  background-color: #37474f;
  .nav-services-footer {
    color: @white;
    ul {
      margin-bottom: 40px;
      li {
        a {
          color: @white;
          &:hover {
            color: @brand-primary;
          }
        }
      }
    }
  }
  .left-side {
    font-size: 16px;
    font-family: @font-default-light;
    color: @white;
    margin-top: 40px;
    a {
      font-size: 16px;
      color: @brand-primary;
    }
  }
}


















