.single-product-container {
  background-color: @container-bg;
  overflow: auto;
  margin-bottom: 30px;
}

.header-single-post {
  border-bottom: 1px solid @brand-primary;
  padding-bottom: 10px;
  margin-bottom: 10px;
  h3 {
    font-size: 14px;
    font-family: @font-default;
    text-transform: none;
    color: @text-color-bold;
    margin-bottom: 10px;
  }
  .ratings {
    font-family: @font-default-light;
    overflow: auto;
    .full-star {
      color: @full-star;
      font-size: 16px;
    }
    .empty-star {
      color: @empty-star;
      font-size: 16px;

    }
    span {
      &.font-bolder {
        font-family: @font-default-medium;
        color: @text-color-bold;
      }
    }
  }
  .supplier {
    a {
      float: left;
      line-height: 23px;
      img {
        margin-right: 3px;
        border-radius: 1px;
      }
    }
    ul {
      float: right;
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        float: left;
        margin-right: 2px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.product-content {
  .product-price {
    table {
      tr {
        td {
          &:first-of-type {
            font-family: @font-default;
            font-size: 14px;
            width: 120px;
            color: @text-color-bold;
          }
          &:nth-of-type(2) {
            font-size: 18px;
            color: @brand-primary;
            font-family: @font-default;
          }
        }
      }
    }
  }
  .product-form {
    padding: 15px;
    width: 100%;
    background-color: #eaebed;
    overflow: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    table {
      tr {
        td {
          padding-top: 13px;
          .dropdown {
            margin: 0;
          }
          &:first-of-type {
            font-family: @font-default;
            font-size: 14px;
            width: 120px;
            color: @text-color-bold;
          }
          &:last-of-type {
            width: 230px;
            padding-top: 13px;
          }
          &.quantity {
            .input-group {
              margin: 0;
            }
            input {
              width: 70px;
            }
            span {
              font-size: 12px;
              font-family: @font-default-light;
              line-height: 30px;
              padding-left: 10px;
            }
          }
          &.total-price {
            font-size: 18px;
            font-family: @font-default;
          }
        }
      }
    }
  }
}

.product-guaranties {
  padding: 15px;
  table {
    tr {
      td {
        height: 30px;
        font-family: @font-default;
        &:first-of-type{
          width: 180px;
          font-family: @font-default;
          color: @text-color-bold;
        }
        ul {
          margin: 0;
          padding: 0;

          li {
            list-style-type: none;
          }
        }
      }
    }
  }
  .buttons-sp {
    margin-top: 20px;
    a {
      border: 2px solid @brand-primary;
      padding: 0 10px;
      height: 34px;
      border-radius: 1px ;
      text-align: center;
      line-height: 29px;
      color: @brand-primary;
      font-family: @font-default-medium;
      font-size: 14px;
      margin-right: 10px;
      img {
        float: left;
        margin-right: 5px;
        margin-top: 8px;
      }
    }
  }
}

.paneltitle-single-product {
  padding: 0;
  border: 0;
  .nav-tabs {
    li {
      a {
        border-radius: 0;
        &:hover, &:focus, &:active {
          background-color: @brand-primary;
          color: @white;
        }
      }
      &.active {
        a {
          background-color: @brand-primary;
          color: @white;
        }
      }
    }

  }
}

.tab-pane-product-details {
  table {
    tr {
      td {
        &:first-of-type {
          font-family: @font-default-medium;
          width: 120px;

        }
      }
    }
  }
}

.image-widget-wrap {
  border: 1px solid @brand-primary;
  margin-top: 15px;
  margin-bottom: 15px;
  .image-full {
    width: 100%;
    border-bottom: 1px solid @brand-primary;
    img {
      width: 100%;
      height: 225px;
    }
  }
  .images-of-product {
    padding: 5px;
    overflow: auto;
    margin: 0 auto;
    .single-image {
      overflow: auto;
      float: left;
      margin-right: 5px;
      margin-top: 5px;
      border: 2px solid #e4e4e4;
      cursor: pointer;
      &.active {
        border: 2px solid @brand-primary;
      }
      &:last-of-type {
        margin-right: 0;
      }

    }
  }
}

.share-product {
  font-family: @font-default;
  font-size: 14px;
  color: @text-color-bold;
  ul {
    overflow: auto;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: block;
      float: left;
      margin: 5px;
    }
  }
}


.tab-pane-variations {
  li {
    a {
      border-radius: 0;
      &:hover , &:active , &:focus {
        background-color: @brand-primary;
        color: @white;
      }
    }
    &.active {
      a {
        background-color: @brand-primary;
        color: @white;
        &:hover , &:active , &:focus {
          background-color: @brand-primary;
          color: @white;
        }
      }
    }
  }
}

table {
  &.variation-table , &.table-modal{
    tr {
      td {
        &:first-of-type {
          width: 120px;
          font-family: @font-default-medium;
        }
      }
    }
  }
}

// MODAL POPUP BUY

.modal-buy-now {
  width: 550px;
  #modal-buy-popup-table {
    margin-bottom: 10px;
    tr {
      td {
        font-family: @font-default-light;
        font-size: 12px;
        padding: 0;
        height: 25px;
        &:first-of-type {
          width: 180px;
          font-family: @font-default-medium;
        }
      }
    }
  }
  .notes-buy-product {
    label {
      font-family: @font-default-medium;
      font-size: 12px;
    }
  }
}
@media (min-width: 768px) {
  .modal-sm {
    width: 550px;
  }
}

.product-payment-methods {
  margin-top: 20px;
  margin-bottom: 20px;
  h6 {
    font-family: @font-default;
    font-size: 14px;
    color: @text-color-bold;
  }
  img {
    width: 20%;
    margin: 5px;
  }
}

.sp-achievments {
  h6 {
    color: @text-color-bold;
    font-size: 14px;
  }

  margin-top: 15px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}