.email-panel {
  padding: 15px;
  background-color: @container-bg;
  box-shadow: @containers-box-shadow;
  margin-bottom: 20px;
  h3 {
    margin: 0 0 10px 0;
    color: @brand-primary;
    padding: 0;
  }
}

.subscribe-panel {
  margin-bottom: 0;
}

.btn-subscribe {
  background-color: @container-bg;
  height: 35px;
  width: 100px;
  border-radius: 0;
  padding: 0;

  &:focus, &:hover , &:active {
    background-color: @brand-primary;
    color: @white;
  }
}