.superdeals {
  overflow: hidden;
  box-shadow: @containers-box-shadow;
  background-color: @container-bg;
  margin-bottom: 20px;
  a {
    display: block;
    color: @text-color;
    font-size: 18px;
    font-family: @font-headings;
    width: 100%;
    text-transform: uppercase;
    line-height: 17px;
    &:hover {
      text-decoration: none;
      .superdeals-hover {
        display: block;
        top: 0;
        transition: all 0.5s;
      }
    }
    h2 {
      font-size: 18px;
      padding: 5px;
      margin: 0;
    }
  }
  .superdeals-picture {

    position: relative;
    img {
      width: 100%;
    }
    .superdeals-hover {
      text-align: center;
      position: absolute;
      bottom: 0;
      display: none;
      left: 0;
      background: rgba(72, 158, 84, 0.7);
      height: 100%;
      width: 100%;
      color: @white;
      transition: all 0.5s;
      h3 {
        margin: 5px;
        margin-top: 30px;
        font-size: 26px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .superdeals-footer {
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: @brand-primary;
    border-top: 5px solid @brand-primary;
    line-height: 37px;
  }
}