body {
  background-color: @body-bg;
  color: @text-color;
  a {
    color: @link-color;
    font-size: @text-size;
    &:hover {
      color: @link-color;
      text-decoration: underline;
      transition: @transition-default;
    }
  }
}

h1, h2, h3, h4 {
  font-family: @font-headings;
  text-transform: uppercase;
}
h1 {
  font-size: @font-size-h1;
}
h2 {
  font-size: @font-size-h2;
}
h3 {
  font-size: @font-size-h3;
}
h4 {
  font-size: @font-size-h4;
}
h5, h6 {
  font-family: @font-default;
}
h5 {
  font-size: @font-size-h5;
}
h6 {
  font-size: @font-size-h6;
}
