// Main colors
@white: #ffffff;
@gray: #efefef;
@gray-border: #d6d6d6;


// Brand Colors
@brand-primary: #489e54;
@brand-success: #489e54;
@brand-warning: #ce666b;
@brand-danger: #ce666b;

// Scaffolding
@body-bg: #dddfe4;


// Typography
@text-color: #78909c;
@text-color-bold: #263238;
@link-color: #2b2b2b;
@text-size: 12px;
@font-default: 'robotoregular';
@font-default-light: 'robotolight';
@font-default-italic: 'robotoitalic';
@font-default-bold: 'robotobold';
@font-default-medium: 'robotomedium';
@font-headings: 'benchnineregular';
@font-headings-bold: 'benchninebold';

@font-size-h1: 48px;
@font-size-h2: 22px;
@font-size-h3: 18px;
@font-size-h4: 16px;
@font-size-h5: 14px;
@font-size-h6: 12px;

// Buttons
@btn-bg: @white;
@btn-font-family: @font-default;
@btn-font-size: 14px;
@btn-color: #4b4b4b;
@btn-border: 1px solid @brand-primary;
@btn-bg-hover: @brand-primary;
@submit-btn-bg: @brand-primary;
@add-btn-bg: #d7ecda;
@add-btn-height: 30px;

// Forms
@input-bg: #edf0f6;
@input-color: @text-color;
@input-border: 1px solid #c1c5d1;
@input-border-error: 1px solid #ba5257;
@input-border-hover: 1px solid @brand-primary;
@input-font: @font-default-light;
@input-height: 35px;
@input-label-fontsize: 14px;
@input-label-font: @font-default-light;
@input-label-color: #62646a;

// Containers
@container-bg: @white;
@container-title-color: #707277;
@containers-box-shadow: 0px 0px 3px #888;
@container-border: 1px solid #c1c5d1;

// Products
@product-hover-bg: rgba(72, 158, 84, 0.7);
@product-list-h-color: #313131;

// Transitions
@transition-default: all 0.07s ease-in;
@transition-slower: all 0.3s ease-in;

// TABLE
@thead-bg: #eaebed;
@thead-color: #353637;

// RATING
@full-star: #f0c412;
@empty-star: #dddfe4;

// SERVICES PAGE

@services-color: #717378;
@services-bold-color: #263238;