<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script type="text/javascript" src="js/product_app.js"></script>
</head>
<body ng-app="productApp" ng-controller="productController" ng-init="addItem()">

<button ng-click='addItem();getFields()'>Add Item</button>

	<div ng-repeat='item in items'>
		<input type='radio' name='select' id='{[{$index}]}' ng-value='$index' ng-model='$parent.selectedItem'/>
		<label for='{[{$index}]}' ng-bind='$index'></label>
	</div>

	<label>Name</label><br/>
	<input type='text' ng-model='items[selectedItem].data.name'/>

	<div ng-repeat="p in items[selectedItem].prop">
		<input ng-model="p.val[selectedItem]" />
	</div>

	{[{ items }]}
    <br>

	<br/>
	<label>Description</label><br/>
	<input type='text' ng-model='items[selectedItem].data.description' />

	<input type="button" ng-click="send()" value="Send" />
</body>


</html>