<script type="text/javascript" src="js/sha512.js"></script>
<script type="text/javascript" src="js/forms.js"></script>
<script src="https://code.angularjs.org/1.4.0-beta.4/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.4.0-beta.4/angular-messages.min.js"></script>
<script type="text/javascript" src="js/reg_app.js"></script>

<style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
</style>

<div ng-app="reg_app" ng-controller="reg"  ng-init="loadC()">

<script type="text/ng-template" id="error-messages">
  <div ng-message="required">This field is required</div>
  <div ng-message="minlength">This field is too short</div>
  <div ng-message="pattern">This field cant contain any special character</div>
</script>

<script type="text/ng-template" id="email-messages">
  <div ng-message="required">This field is required</div>
  <div ng-message="email">Your email address is invalid</div>
</script>

<script type="text/ng-template" id="password-messages">
  <div ng-message="required">This field is required</div>
  <div ng-message="match">Password dont match.</div>
</script>

<script type="text/ng-template" id="countery-messages">
  <div ng-message="invalid">This field is required</div>
</script>
<script type="text/ng-template" id="single-messages">
  <div ng-message="required">This field is required</div>
  <div ng-message="pattern">This field cant contain any special character</div>
</script>


    <form action="Libraries/register_handle.php" method="post" name="reg_form" novalidate ng-cloak autocomplete="off">
        Username: <input id="username" ng-pattern="/^[a-zA-Z0-9 ]*$/" name="username" ng-model="username" minlength="7" required /> 
        <div ng-show="reg_form.username.$touched">
            <div ng-messages="reg_form.username.$error" ng-messages-include="error-messages"></div>
        </div>
        <br>

        Email: <input type="email" id="email" name="email" ng-model="email" required /> 
        <div ng-show="reg_form.email.$touched">
            <div ng-messages="reg_form.email.$error" ng-messages-include="email-messages"></div>
        </div>
        <br>

        Password: <input type="password" id="password" name="password" ng-model="password" required /> 
        <div ng-show="reg_form.password.$touched">
            <div ng-messages="reg_form.password.$error" ng-messages-include="error-messages"></div>
        </div>
        <br>

        Repeat password: <input type="password" id="password_verify" name="password_verify" ng-model="password_verify" match="password" required /> 
        <div ng-show="reg_form.password_verify.$touched">
            <div ng-messages="reg_form.password_verify.$error" ng-messages-include="password-messages"></div>
        </div>
        <br>

        <select class="country" name="country" ng-options="c.id as c.name for c in counteries" ng-model="counteries_select" required >
            <option value="">Select Country</option>
        </select>
        <div ng-show="reg_form.country.$touched">
            <div ng-messages="reg_form.$error" ng-messages-include="countery-messages"></div>
        </div>
        <br>

        <select id="state" name="state" ng-show="c_select == true" >
            <option ng-repeat="state in states" value='{[{ state.id }]}'>{[{state.name}]}</option>
        </select>
        <br>

        Address: <input id="address" name="address" ng-model="address" ng-pattern="/^[a-zA-Z0-9 ]*$/" required />
        <div ng-show="reg_form.address.$touched">
            <div ng-messages="reg_form.address.$error" ng-messages-include="single-messages"></div>
        </div>
        <br>

        <div class="accType">
            <input type="radio" ng-model="accType" ng-click="enable_validation=false" name="accType" value="0">Supplier
            <input type="radio" ng-model="accType" ng-click="enable_validation=false" name="accType" value="1">Buyer
            <input type="radio" ng-model="accType" ng-click="enable_validation=false" name="accType" value="2">Both
        </div>

        <div ng-show="accType">
            Contact name: <input id="fName" name="fName" ng-pattern="/^[a-zA-Z ]*$/" ng-model="fName" required /> 
            <div ng-show="reg_form.fName.$touched">
                <div ng-messages="reg_form.fName.$error" ng-messages-include="single-messages"></div>
            </div>
            <br>

            <input id="lName" name="lName" ng-pattern="/^[a-zA-Z ]*$/" ng-model="lName" required />
            <div ng-show="reg_form.lName.$touched">
                <div ng-messages="reg_form.lName.$error" ng-messages-include="single-messages"></div><br>
            </div>
            <br>

            Phone: <input id="phone" ng-pattern="/^[0-9]*$/" name="phone" ng-model="phone" required />
            <div ng-show="reg_form.phone.$touched">
                <div ng-messages="reg_form.phone.$error" ng-messages-include="single-messages"></div><br>
            </div>
            <br>

            Company name: <input id="companyName" ng-pattern="/^[a-zA-Z0-9 ]*$/" name="companyName" ng-model="companyName" required />
            <div ng-show="reg_form.companyName.$touched">
                <div ng-messages="reg_form.companyName.$error" ng-messages-include="single-messages"></div><br>
            </div>
            <br>
        </div>

        <div ng-show="accType=='0' || accType=='2'">
            <input type="checkbox" ng-model="enable_validation" name="enable_validation">Verify your company!<br>
        </div>

        <div ng-show="enable_validation">
            Company's phone: <input id="cPhone" ng-pattern="/^[0-9]*$/" name="cPhone" ng-model="cPhone" ng-required="enable_validation" />
            <div ng-show="reg_form.cPhone.$touched">
                <div ng-messages="reg_form.cPhone.$error" ng-messages-include="single-messages"></div><br>
            </div>
            <br>

            Company Address: <input id="cAddress" ng-pattern="/^[a-zA-Z0-9 ]*$/" name="cAddress" ng-model="cAddress" ng-required="enable_validation" />
            <div ng-show="reg_form.cAddress.$touched">
                <div ng-messages="reg_form.cAddress.$error" ng-messages-include="single-messages"></div>
            </div>
            <br>

            Company City: <input id="cCity" name="cCity" ng-pattern="/^[a-zA-Z ]*$/" ng-model="cCity" ng-required="enable_validation" />
            <div ng-show="reg_form.cCity.$touched">
                <div ng-messages="reg_form.cCity.$error" ng-messages-include="single-messages"></div>
            </div>
            <br>

            Country:
            <select class="vatC" name="vatC" ng-options="country.value as country.label for country in vat_country" ng-model="vatC" ng-required="enable_validation">
                <option value="">Select Country</option>
            </select><br>

            Enter VAT:  <input id="vat" name="vat" ng-model="vat" ng-required="enable_validation" />
            <div ng-show="reg_form.vat.$touched">
                <div ng-messages="reg_form.vat.$error" ng-messages-include="single-messages"></div>
            </div>
            <br>
            <input class="check" type="button" ng-click="validate()" value="Check VAT" />
            <label ng-show="loading">Checking VAT...</label>
            <label>{[{ vat_res }]}</label>
        </div>


            <input ng-disabled="!(reg_form.$valid
            && (!enable_validation || (enable_validation && validated)))" type="button" value="Register" onclick="formhash(this.form, this.form.password);" />

       
    </form>



</div>
