<script type="text/javascript" src="js/sha512.js"></script>
<script type="text/javascript" src="js/forms.js"></script>

<form action="/Libraries/login_handle.php" method="post" name="login_form">
   Email:    <input type="text" name="email" /><br />
   Password: <input type="password" name="password" id="password"/><br />
   <input type="button" value="Login" onclick="loginhash(this.form, this.form.password);" />
</form>
